.smartMoneyFAQContainer {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 28rem;
  color: #0d0d0d;
  font-weight: 400;
  text-align: justify;
  .smfaqHeading {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
  }
  .smfaqPointsContainer {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    font-family: Inter-Medium, Arial, Helvetica, sans-serif;
    color: #0d0d0d;
    .smfaqPoints {
      margin-top: 1.5rem;
    }
  }
  .smfaqQuestionAns {
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
    .smfaqQuestion {
      font-size: 18px;
      font-weight: 500;
    }
    .smfaqAns {
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
      font-family: Inter-Medium, Arial, Helvetica, sans-serif;
      color: #0d0d0d;
      margin-top: 0.5rem;
    }
    .smfaqQuestionAnsNumbering {
      font-size: 1.6rem;
      font-weight: normal;
      margin-right: 0.5rem;
    }
  }
}
.mobileSmartMoneyPage {
  .mpcHomeFloatingContainer {
    position: fixed;
    left: 0;
    bottom: 5rem;

    width: 100vw;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    .mpcHomeFloatingElement {
      background-color: #ffffff;
      width: 100%;
      border-radius: 1.2rem;
      padding: 2rem;
      box-shadow: 0px 0 2rem 0.8rem rgba(24, 39, 75, 0.08),
        0rem 0 2rem 0.8rem rgba(24, 39, 75, 0.08);
      display: flex;
      align-items: center;

      .mpcHFMacIconContainer {
        background-color: #e5e5e680;
        height: 4rem;
        width: 4rem;
        border-radius: 1rem;
        padding: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .mpcHFMacIcon {
          height: 100%;
        }
      }
      .mpcHFText {
        flex: 1;
        margin: 0rem 1rem;
      }
      .mpcHFGoBtn {
        height: 4rem;
        background-color: var(--black191);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 2rem;
        border-radius: 1rem;
      }
    }
  }
  .msmpModalBlockContainer {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    .msmpModalSignOutContainer {
      width: 100vw;
      height: 100vh;

      display: flex;
      align-items: center;
      justify-content: center;
      .msmpModalSignOutBlock {
        max-width: 70vw;
        background-color: var(--cardBackgroud);
        padding: 3rem;
        border-radius: 2rem;
        .msmModalBtnContainer {
          padding: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .msmModalBtn {
            width: 100%;
            border-radius: 1rem;
            padding: 1.5rem 2rem;
            background-color: var(--primaryTextColor);
            border-color: var(--primaryTextColor);
            color: var(--cardBackgroud);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
          }
          .msmTransparentModalBtn {
            background-color: transparent;
            color: var(--black191);
          }
        }
      }
    }
    .msmpModalBlockBlank {
      width: 100%;
      min-height: 9rem;
      max-height: 9rem;
    }
    .msmpModalBlock {
      background-color: var(--cardBackgroud);
      flex: 1;
      width: 100%;
      border-radius: 2rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .msmpModalBody {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 2rem;
        position: relative;
        .msmpAddWalletReponsesConatinaer {
          background-color: white;
          border-radius: 2rem;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          flex: 1;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          padding: 2rem;
        }
        .mwbAddWalletWrapperContainer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;

          .mwbAddWalletWrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .mwbAwInputWrapper {
              width: 100%;
              border: 0.1rem solid #e5e5e6;
              border-radius: 1rem;
              padding: 1.5rem 2rem;
              background-color: white;
              box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
                0px 1px 1px rgba(0, 0, 0, 0.04);
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .mbwAwTopInputWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                position: relative;
                .mbwAwTopInputSearchIcon {
                  height: 1.5rem;
                  // position: absolute;
                  // left: 1rem;
                }
                .mwbAwInput {
                  border: none;
                  outline: none;
                  flex: 1;
                  text-align: left;
                  font-weight: 500;
                  &::-ms-input-placeholder {
                    color: #afb1b3;
                  }

                  &::placeholder {
                    color: #afb1b3;
                  }
                }
              }
            }
            .mwbAwInputWrapperSelected {
              border-color: black;
            }
          }
        }
        .msmpModalHowItWorks {
          width: 100%;
          height: 25rem;
          position: absolute;
          object-fit: cover;
          object-position: bottom;
          // z-index: 0;
          top: 0;
          left: 0;
          border-top-left-radius: 1.1rem;
          border-top-right-radius: 1.1rem;
          content: var(--abountSmartMoneyIamge);
        }
        // .msmpBigIcon {
        //   height: 3.5rem;
        // }
        .msmpModalClosebtnContainer {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          z-index: 2;
          .back-icon {
            left: 0;
            top: 0;
            padding: 1.3rem;
            background-color: rgba(229, 229, 230, 0.5);
            border-radius: 5rem;
            cursor: pointer;
            transition: all 0.4s ease;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              filter: invert(1);
            }
          }
          .msmpModalClosebtn {
            width: 4rem;
            height: 4rem;
            padding: 1.3rem;
            top: 0;
            right: 0;
            background-color: var(--greyCardBackgroud);
            border-radius: 5rem;
            cursor: pointer;
            transition: all 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              filter: var(--invertColor);
            }
          }
        }
        .msmpModalMainIconDirectImage {
          width: 10rem;
          height: 10rem;
          img {
            width: 100%;
            height: 100%;
          }
          transform: translateY(-5rem);
        }
        .msmpModalMainIconWhiteContainer {
          img {
            width: 2.4rem;
            height: 2.4rem;
          }
          padding: 1.8rem;
          box-shadow: 0rem 0.8rem 2.8rem -0.6rem rgba(24, 39, 75, 0.12),
            0rem 1.8rem 8.8rem -0.4rem rgba(24, 39, 75, 0.14);
          border-radius: 2rem;
          transform: translateY(-3rem);
        }
        .msmpModalTexts {
          text-align: center;
        }
        .msmpModalTextsCong {
          transform: translateY(-5rem);
        }
        .msmpFaqListContainer {
          background-color: var(--greyCardBackgroud);
          width: 100%;
          border-radius: 1rem;
          overflow: scroll;
          padding: 1rem;
          max-height: 45vh;
          .msmpFaqListItem {
            padding: 1rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
          }
          .msmpFaqSelectedListItem {
            padding: 1rem;
            border-radius: 0.5rem;
            margin-top: 1rem;
            background-color: var(--leaderboardFaqBlocksMobile);
          }
        }
        .msmpModalAboutHeading {
          transform: translateY(-8rem);
          z-index: 2;
        }
        .msmpModalAboutContentContainer {
          width: 100%;
          flex: 1;
          transform: translateY(-10rem);
          padding: 4rem 0rem;
          .msmpModalAboutContentBlock {
            border: 0.1rem solid var(--abountSmartMoneyTextBlockBorder);
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            padding: 2rem;
            max-height: 35vh;
            background-color: var(--abountSmartMoneyTextBlock);
            .msmpModalAboutContentBlockChild {
              max-height: 30vh;
              overflow-y: scroll;
            }
            .smartMoneyHowItWorksTextLine {
              margin-top: 2rem;
            }
          }
        }
        .msmModalInputWrapper {
          width: 100%;
          border: 0.1rem solid #e5e5e6;
          border-radius: 1rem;
          padding: 1.5rem 2rem;
          background-color: var(--cardBackgroud);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
            0px 1px 1px rgba(0, 0, 0, 0.04);
          display: flex;
          align-items: center;
          justify-content: center;

          .msmModalInput {
            border: none;
            outline: none;
            flex: 1;
            text-align: left;
            font-weight: 500;
            &::-ms-input-placeholder {
              color: #afb1b3;
            }

            &::placeholder {
              color: #afb1b3;
            }
          }
        }
        .msmModalInputWrapperSelected {
          border-color: black;
        }
        .msmModalBtnContainer {
          padding: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .msmModalBtn {
            width: 100%;
            border-radius: 1rem;
            padding: 1.5rem 2rem;
            background-color: var(--black191);
            border-color: var(--black191);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
          }
          .msmTransparentModalBtn {
            background-color: transparent;
            color: var(--black191);
          }
        }
        .msmModalBtnContainerCong {
          transform: translateY(-5rem);
        }
      }
    }
  }
  .smartMoneyMobileHeaderContainer {
    background-color: #fff;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04),
      6px 1px 1px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    height: 9rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .smheader {
      width: 100%;
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      .smheaderLogo {
        height: 3.5rem;
      }
      .smheaderText {
        margin-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .smheaderTextHeading {
          font-size: 18px;
          color: var(--black191);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .smheaderTextSubHeading {
          font-size: 14px;
          color: #b0b1b3;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
  .mobileSmartMoneyBtnsContainer {
    .mobileSmartMoneyBtnSignInContainer {
      color: #313233;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      // transition-duration: 300ms;
      border: 1.3px #f2f2f2 solid;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      background-color: white;
      .mobileSmartMoneyBtnSignInDataName {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
      }
      .mobileSmartMoneyBtnSignInJustText {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        color: var(--black191);
        font-weight: 500;
      }

      .mobileSmartMoneyBtnSignInIconContainer {
        // transition-duration: 300ms;
        margin-right: 0.5rem;
        border: 0.1rem solid #e5e5e6;
        min-width: 2.5rem;
        min-height: 2.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        background-color: white;
        .mobileSmartMoneyBtnSignInIcon {
          height: 1.3rem;
          filter: var(--invertColor);
        }
      }
      .mobileSmartMoneyBtnSignInIconNoColor {
        background-color: transparent;
        border-color: transparent;
        min-width: 1.3rem;
        max-height: 1.3rem;
      }
    }
    .mobileSmartMoneyBtnFaqContainer {
      background-color: var(--headerSelectEyeBg);
      border-color: var(--headerSelectEyeBg);
      box-shadow: none;
      flex: 1;
    }
    .mobileSmartMoneyBtnShareContainer {
      background-color: var(--headerSelectEyeBg);
      border-color: var(--headerSelectEyeBg);
      box-shadow: none;
    }
    .mobileSmartMoneyBtnSignInBottomBtns {
      margin-top: 1.5rem;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  }
  .mobileSmartMoneyListContainer {
    padding-top: 2rem;
    .mobileSmartMoneyListBlurContainer {
      position: relative;
      min-height: 50vh;
      max-height: 50vh;
      .mobileSmartMoneyListBlur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.2rem;
        padding: 2rem;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(
          transparent,
          transparent,
          white,
          white,
          white,
          white,
          white,
          white
        );
        .mobileSmartMoneyBlurContainerTwo {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          .mobileSmartMoneyBlur {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;
            flex: 1;
          }
          .mobileSmartMoneyBlurLogo {
            height: 4rem;
            margin-right: 2rem;
          }
          .secondary-btn {
            overflow: hidden;
            white-space: nowrap;
          }
          .secondary-btn.btn-primary:not(:disabled):not(:disabled):active,
          .secondary-btn:active,
          .secondary-btn:hover {
            background-color: transparent !important;
            color: var(--black191);
          }
        }
      }
    }
    .mobileSmartMoneyBlock {
      background-color: white;
      margin-bottom: 1.5rem;
      border-radius: 1.2rem;
      box-shadow: 0 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      .msmbHeader {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid #e5e5e6;
        .msmbHeaderLeft {
          display: flex;
          align-items: center;
          flex: 1;
          overflow: hidden;

          .msmbHeaderRank {
            color: #cacbcc;
            font-size: 16px;
            margin-right: 0.5rem;
          }
          .msmbHeaderNickName {
            color: #313233;
            margin-right: 0.5rem;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .msmbHeaderAccount {
            color: #b0b1b3;
            text-decoration: underline;
            font-size: 10px;
          }
        }
        .msmbHeaderRight {
          margin-left: 2rem;
          .msmbHeaderNetWorth {
            background-color: hsla(240, 2%, 90%, 0.5);
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            color: #313233;
          }
        }
      }
      .msmbBody {
        padding: 1rem;

        padding-bottom: 0.4rem;
        padding-top: 0.5rem;
        .msmbBodyItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0.3rem;
          min-height: 3.5rem;
          .msmbBITitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #96979a;
            font-size: 13px;
          }
          .msmbBIAmount {
            border-radius: 0.4rem;
            // padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            box-sizing: border-box;
            overflow: hidden;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
          .msmbBIAmountGain {
            background-color: rgba(208, 252, 234, 0.5);
          }
          .msmbBIAmountLoss {
            background-color: hsla(0, 77%, 92%, 0.5);
          }
        }
      }
    }
  }
}
.smartMoneyHeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  height: 9rem;
  box-sizing: border-box;
  z-index: 99;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04), 6px 1px 1px rgba(0, 0, 0, 0.04);
  .smartMoneyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    .smarMoneyHeaderSignInContainer {
      color: #313233;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      transition-duration: 300ms;
      border: 1.3px #f2f2f2 solid;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      background-color: white;
      margin-right: 3rem;
      .smarMoneyHeaderSignInDataName {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
      }
      .smarMoneyHeaderSignInJustText {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        color: var(--black191);
        font-weight: 500;
      }
      &:hover {
        box-shadow: none;
        background-color: #f2f2f2;

        color: var(--black191);
        .smarMoneyHeaderSignInIconContainer {
          background-color: white;
        }
      }

      .smarMoneyHeaderSignInIconContainer {
        transition-duration: 300ms;
        margin-right: 0.5rem;
        border: 0.1rem solid #e5e5e6;
        min-width: 2.5rem;
        min-height: 2.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        background-color: white;
        .smarMoneyHeaderSignInIcon {
          height: 1.3rem;
        }
      }
      .smarMoneyHeaderSignInIconNoColor {
        background-color: transparent;
        border-color: transparent;
        min-width: 1.3rem;
        max-height: 1.3rem;
        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
    .smarMoneyHeaderFaqContainer {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
      box-shadow: none;
      margin-right: 2.5rem;
      &:hover {
        background-color: white;
        border-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
      }
    }
    .smarMoneyHeaderSignedInContainer {
      .smarMoneyHeaderSignInData {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
      }

      .smarMoneyHeaderSignedInIconContainer {
        background-color: #f2f2f2;
      }
      .smarMoneyHeaderSignedInLeaveContainer {
        display: flex;

        .navbar-button {
          background: none;
          border: none;
          color: #b0b1b3;
          outline: none !important;
          box-shadow: none !important;
        }
        img {
          width: 1.6rem;
          margin-left: 6rem;
        }
        &:hover {
          .navbar-button {
            color: #0d0d0d;
          }
        }
      }
    }
    .leftSmartMoneyContainer {
      width: 28rem;
      padding: 0rem 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .leftSmartMoneyLogos {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        img {
          width: 4rem;
          margin-right: 1rem;
        }
        .leftSmartMoneyLogoText {
          color: #0d0d0d;
          font-family: "Inter-Medium";
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 24px;
          vertical-align: middle;
        }
      }
      .leftSmartMoneyFAQLogos {
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
          filter: opacity(0.65);
        }
      }
      .currency-wrapper {
        .dropdown {
          text-align: left;

          #currency-dropdown {
            background: transparent;
            border: 1px solid transparent;
            padding: 1.2rem;
            border-radius: 8px;
            color: #96979a;
            font-family: "Inter-SemiBold";
            font-size: 1rem;
            font-weight: 600;
            line-height: 12px;
            &:focus {
              border: 1px solid #e5e5e6;
            }

            &:hover {
              border: 1px solid #e5e5e6;
            }
          }
          .dropdown-menu {
            &.show {
              width: 9.3rem;
              height: 22rem;
              overflow-y: auto;
              background: var(--cardBackgroud);
              left: -9px !important;
              .dropdown-item {
                display: flex;
                justify-content: space-between;
                color: var(--primaryTextColor);
              }
            }
          }
        }
      }
    }
    .rightSmartMoneyContainer {
      flex: 1;
      padding: 0rem;
      margin-right: 1rem;
      .rightSmartMoneyContainerHeadingParent {
        display: flex;
        align-items: center;
        .rscHowItWorks {
          color: #adadad;
          font-size: 1.3rem;
          margin-left: 1rem;
          transition-duration: 300ms;
          cursor: pointer;
          &:hover {
            color: #0d0d0d;
          }
        }
        .rightSmartMoneyContainerHeading {
          color: #0d0d0d;
          font-size: 2rem;
          overflow: hidden;
          white-space: nowrap;
        }
        .rightSmartMoneyContainerHeadingSmartMoney {
          cursor: pointer;
          transition-duration: 300ms;
          &:hover {
            filter: opacity(0.65);
          }
        }
      }
      .rightSmartMoneyContainerSubHeading {
        color: #adadad;
        font-size: 1.3rem;
      }
    }
  }
}
.addCommunitySmartMoneyWrapperParent {
  .smartMoneyHowItWorksModalBodyScrollContainer {
    padding: 5rem;
    border-radius: 2rem;
    padding: 2rem;
    padding-right: 1rem;
    border: 0.1rem solid var(--abountSmartMoneyTextBlockBorder);
    overflow: auto;
    background-color: var(--abountSmartMoneyTextBlock);
    .smartMoneyHowItWorksModalBodyContainer {
      max-height: 35vh;
      overflow: scroll;
      overflow-x: hidden;
      padding-right: 1rem;
      .smartMoneyHowItWorksTextLine {
        text-align: left;
        margin-top: 1rem;
      }
      &::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.4rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.8rem;
        background-color: #cacbcc;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(229, 229, 230, 0.5);
        // background-color: $grey-E5E;
        border-radius: 0.8rem;
      }
    }
  }
  .smartMoneyFAQModalBodyContainer {
    padding: 3rem 5rem;
    margin-top: 2rem;
    padding-top: 0rem;
    .smartMoneyFAQModalBody {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2rem;
      row-gap: 2rem;
      position: relative;
      .smartMoneyFAQModalAnswerContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--cardBackgroud);

        .smartMoneyFAQModalAnswerBlock {
          padding: 1.5rem 1.5rem;
          border: 0.1rem solid;
          border-color: var(--leaderboardFaqAnswerBlockBorder);
          border-radius: 1.2rem;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
            0px 1px 1px rgba(0, 0, 0, 0.04);
          background-color: var(--leaderboardFaqAnswerBlock);
          .smartMoneyFAQModalAnswerBlockQues {
            color: var(--primaryTextColor);
          }
          .smartMoneyFAQModalAnswerBlockAns {
            color: #b0b1b3;
            margin-top: 1rem;
          }
        }
      }
      .smartMoneyFAQModalBlocks {
        background-color: var(--leaderboardFaqBlocks);
        border: 0.1rem solid;
        border-color: var(--leaderboardFaqBlocksBorder);
        padding: 1.5rem 1.5rem;
        border-radius: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
          box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
            0px 1rem 1rem rgba(0, 0, 0, 0.04);
          background-color: var(--sameModeColor);
        }
      }
    }
  }

  .addCommunityTopAccountsWrapperContainer {
    width: 100%;
    padding: 0rem 5rem;
    .addWalletWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      .awOldDelBtn {
        border-radius: 0.8rem;
        width: 4rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
        cursor: pointer;
        margin-right: 2rem;
        margin-left: 1rem;
        &:hover {
          filter: brightness(0.965);
        }
      }
      .fakeBtn {
        opacity: 0;
        cursor: default;
      }
      .awInputWrapper {
        border: 0.1rem solid var(--inputBorder);
        border-radius: 0.8rem;
        padding: 1rem;
        width: 100%;
        background-color: var(--modalInput);
        .awLable {
          color: #b0b1b3;
          font-size: 1.2rem;
        }
        .awInputContainer {
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .awInput {
            border: none;
            width: 100%;
            padding: 0;
            font-size: 1.5rem;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #b0b1b3;
            }
          }
        }
        .awInputBinIcon {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition-duration: 300ms;
          &:hover {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
              0px 1px 1px rgba(0, 0, 0, 0.04);
          }
        }
        .awBlockContainer {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          color: #b0b1b3;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .awNameTag {
            font-size: 1.5rem;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
          }
        }
        .awTopInputWrapper {
          display: flex;
          align-items: center;
        }
        .awBottomInputWrapper {
          display: flex;
          align-items: center;
          overflow: hidden;
        }
      }
      .isAwInputWrapperValid {
        border-color: var(--black191);
      }
    }
  }
  .watchListAddressBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    padding-top: 4.5rem;
  }
}
.smartMoneyPage {
  padding: 0 28rem;
  overflow-x: hidden;
  width: 100%;

  .smartMoneyTable {
    .smartMoneyBlurContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1.2rem;
      padding: 4rem;
      display: flex;
      align-items: flex-end;
      background: linear-gradient(
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        white,
        white,
        white
      );
      .smartMoneyBlurContainerTwo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;
        .smartMoneyBlur {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: left;
          flex: 1;
        }
        .smartMoneyBlurLogo {
          height: 4rem;
          margin-right: 2rem;
        }
        .secondary-btn {
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    .table-wrapper {
      .custom-table {
        .ReactVirtualized__Table__Grid {
          overflow-y: auto !important;
          overflow-x: hidden !important;
          max-height: 62vh !important;
          padding-left: 0rem;
          margin-bottom: 0.8rem !important;

          &::-webkit-scrollbar {
            width: 0.4rem;
            height: 0rem;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 0.8rem;
            background-color: #cacbcc;
          }

          &::-webkit-scrollbar-track {
            background-color: rgba(229, 229, 230, 0.5);
            border-radius: 0.8rem;
          }
        }
      }
    }
    .noScroll {
      .ReactVirtualized__Table__Grid {
        &::-webkit-scrollbar {
          width: 0rem !important;
          height: 0rem !important;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0rem !important;
        }
      }
    }
  }
}

.addCommunityTopAccountsWrapperAdded {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.2rem;
  .addCommunityTopAccountsAddedHeader {
    width: 100%;
    z-index: 2;
  }
  .addCommunityTopAccountsAddedBody {
    z-index: 1;
    flex: 1;
    display: flex;
    .addCommunityTopAccountsAddedBodyContent {
      padding: 3rem 5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .addCommunityTopAccountsAddedBodyContentChild {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .addCommunityTopAccountsAddedBodyContentChildErrorMeaageContainer {
          padding: 0rem 5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
          font-size: 1rem;
          font-weight: normal;
          color: #ea4e3c;
          line-height: 19px;
        }
      }
      .addCommunityTopAccountsAddedBodyIcon {
        height: 3.5rem;
      }
      .addCommunityTopAccountsAddedBodyLargerIcon {
        height: 7rem;
      }
    }
  }
}
.homeSmartMoneyHeaderContainer {
  .homeSmartMoneyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    .homeSmartMoneyHeaderSignInContainer {
      color: #313233;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      // transition-duration: 300ms;
      border: 1.3px white solid;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      background-color: white;
      margin-right: 3rem;
      .homeSmartMoneyHeaderSignInDataName {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
      }
      .homeSmartMoneyHeaderSignInJustText {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        color: var(--black191);
        font-weight: 500;
      }

      .homeSmartMoneyHeaderSignInIconContainer {
        transition-duration: 300ms;
        margin-right: 0.5rem;
        border: 0.1rem solid #e5e5e6;
        min-width: 2.5rem;
        min-height: 2.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        background-color: white;
        .homeSmartMoneyHeaderSignInIcon {
          height: 1.3rem;
        }
      }
      .homeSmartMoneyHeaderSignInIconNoColor {
        background-color: transparent;
        border-color: transparent;
        min-width: 1.3rem;
        max-height: 1.3rem;
        &:hover {
          background-color: transparent;
          border-color: transparent;
        }
      }
      &:hover {
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.5);
        border-color: transparent;
        color: var(--black191);
        .homeSmartMoneyHeaderSignInIconContainer {
          background-color: transparent;
          .homeSmartMoneyHeaderSignInIcon {
            background-color: transparent;
          }
        }
      }
    }
    .homeSmartMoneyHeaderFaqContainer {
      background-color: white;
      border-color: white;
      box-shadow: none;
      margin-right: 5px;
      &:hover {
        background-color: var(--black191);
        .homeSmartMoneyHeaderSignInJustText {
          color: white;
        }
        .homeSmartMoneyHeaderSignInIconContainer {
          filter: invert(1);
        }
        border-color: transparent;
      }
    }
    .homeSmartMoneyHeaderSignedInContainer {
      .homeSmartMoneyHeaderSignInData {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
      }

      .homeSmartMoneyHeaderSignedInIconContainer {
        background-color: #f2f2f2;
      }
      .homeSmartMoneyHeaderSignedInLeaveContainer {
        display: flex;

        .navbar-button {
          background: none;
          border: none;
          color: #b0b1b3;
          outline: none !important;
          box-shadow: none !important;
        }
        img {
          width: 1.6rem;
          margin-left: 6rem;
        }
        &:hover {
          .navbar-button {
            color: #0d0d0d;
          }
        }
      }
    }
    .leftSmartMoneyContainer {
      width: 28rem;
      padding: 0rem 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .leftSmartMoneyLogos {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        img {
          width: 4rem;
          margin-right: 1rem;
        }
        .leftSmartMoneyLogoText {
          color: #0d0d0d;
          font-family: "Inter-Medium";
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 24px;
          vertical-align: middle;
        }
      }
      .leftSmartMoneyFAQLogos {
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
          filter: opacity(0.65);
        }
      }
      .currency-wrapper {
        .dropdown {
          text-align: left;

          #currency-dropdown {
            background: transparent;
            border: 1px solid transparent;
            padding: 1.2rem;
            border-radius: 8px;
            color: #96979a;
            font-family: "Inter-SemiBold";
            font-size: 1rem;
            font-weight: 600;
            line-height: 12px;
            &:focus {
              border: 1px solid #e5e5e6;
            }

            &:hover {
              border: 1px solid #e5e5e6;
            }
          }
          .dropdown-menu {
            &.show {
              width: 9.3rem;
              height: 22rem;
              overflow-y: auto;
              background: var(--cardBackgroud);
              left: -9px !important;
              .dropdown-item {
                display: flex;
                justify-content: space-between;
                color: var(--primaryTextColor);
              }
            }
          }
        }
      }
    }
    .rightSmartMoneyContainer {
      flex: 1;
      padding: 0rem;
      margin-right: 1rem;
      .rightSmartMoneyContainerHeadingParent {
        display: flex;
        align-items: center;
        .rscHowItWorks {
          color: #adadad;
          font-size: 1.3rem;
          margin-left: 1rem;
          transition-duration: 300ms;
          cursor: pointer;
          &:hover {
            color: #0d0d0d;
          }
        }
        .rightSmartMoneyContainerHeading {
          color: #0d0d0d;
          font-size: 2rem;
          overflow: hidden;
          white-space: nowrap;
        }
        .rightSmartMoneyContainerHeadingSmartMoney {
          cursor: pointer;
          transition-duration: 300ms;
          &:hover {
            filter: opacity(0.65);
          }
        }
      }
      .rightSmartMoneyContainerSubHeading {
        color: #adadad;
        font-size: 1.3rem;
      }
    }
  }
}
.homeSmartMoneyPage {
  .smartMoneyTable {
    .table-wrapper {
      .custom-table {
        .ReactVirtualized__Table__Grid {
          overflow-y: auto !important;
          overflow-x: hidden !important;
          max-height: 60vh !important;
          padding-left: 0rem;
          margin-bottom: 0.8rem !important;

          &::-webkit-scrollbar {
            width: 0.4rem;
            height: 0rem;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 0.8rem;
            background-color: #cacbcc;
          }

          &::-webkit-scrollbar-track {
            background-color: rgba(229, 229, 230, 0.5);
            border-radius: 0.8rem;
          }
        }
      }
    }
    .noScroll {
      .ReactVirtualized__Table__Grid {
        &::-webkit-scrollbar {
          width: 0rem !important;
          height: 0rem !important;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0rem !important;
        }
      }
    }
  }
}
.history-table-section-full {
  width: 100%;
  .homeSmartMoneyPage {
    padding: 0;
    .table-wrapper {
      .custom-table {
        .ReactVirtualized__Table__Grid {
          max-height: unset !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .smartMoneyFAQContainer {
    padding: 0 10rem;
  }
  .smartMoneyPage {
    padding: 0 10rem;
    // overflow: scroll;
  }
}
.modal-content {
  min-width: 60rem !important;
}

.smart-money-mobile-expanded {
  padding-bottom: 2rem;
  .mobileSmartMoneyPagingation {
    padding: 0px;
    margin-top: 3rem;
  }
  .mobileSmartMoneyListContainer {
    // padding: 2rem;
    margin-top: 20px;
    .mobileSmartMoneyListBlurContainer {
      position: relative;
      min-height: 50vh;
      max-height: 50vh;
      .mobileSmartMoneyListBlur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.2rem;
        padding: 2rem;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(
          transparent,
          transparent,
          white,
          white,
          white,
          white,
          white,
          white
        );
        .mobileSmartMoneyBlurContainerTwo {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          .mobileSmartMoneyBlur {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;
            flex: 1;
          }
          .mobileSmartMoneyBlurLogo {
            height: 4rem;
            margin-right: 2rem;
          }
          .secondary-btn {
            overflow: hidden;
            white-space: nowrap;
          }
          .secondary-btn.btn-primary:not(:disabled):not(:disabled):active,
          .secondary-btn:active,
          .secondary-btn:hover {
            background-color: transparent !important;
            color: var(--black191);
          }
        }
      }
    }
    .mobileSmartMoneyBlock {
      background-color: var(--cardBackgroud);
      margin-bottom: 1.5rem;
      border-radius: 1.2rem;
      box-shadow: 0 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      .msmbHeader {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid #e5e5e6;
        .msmbHeaderLeft {
          display: flex;
          align-items: center;
          flex: 1;
          overflow: hidden;

          .msmbHeaderRank {
            color: #cacbcc;
            font-size: 16px;
            margin-right: 0.5rem;
          }
          .msmbHeaderNickName {
            color: var(--grey313);
            margin-right: 0.5rem;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .msmbHeaderAccount {
            color: #b0b1b3;
            text-decoration: underline;
            font-size: 10px;
          }
        }
        .msmbHeaderRight {
          margin-left: 2rem;
          .msmbHeaderNetWorth {
            background-color: var(--greyCardBackgroud);
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            color: var(--grey313);
          }
        }
      }
      .msmbBody {
        padding: 1rem;

        padding-bottom: 0.4rem;
        padding-top: 0.5rem;
        .msmbBodyItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0.3rem;
          min-height: 3.5rem;
          .msmbBITitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--sidebarBottomOptions);
            font-size: 13px;
          }
          .msmbBIAmount {
            border-radius: 0.4rem;
            // padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            box-sizing: border-box;
            overflow: hidden;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
          .msmbBIAmountGain {
            background-color: rgba(208, 252, 234, 0.5);
          }
          .msmbBIAmountLoss {
            background-color: hsla(0, 77%, 92%, 0.5);
          }
        }
      }
    }
    .mobileSmartMoneyBlockCopyTrade {
      border: 1px solid var(--currenyConvertorBorder);
    }
  }
}
