.mobileSmartMoneyPage {
  .smartMoneyMobileHeaderContainer {
    background-color: #fff;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04),
      6px 1px 1px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    height: 9rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .smheader {
      width: 100%;
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      .smheaderLogo {
        height: 3rem;
      }
      .smheaderText {
        margin-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .smheaderTextHeading {
          font-size: 15px;
          color: #19191a;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .smheaderTextSubHeading {
          font-size: 12px;
          color: #b0b1b3;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
  .mobileSmartMoneyListContainer {
    margin-top: 9rem;
    padding: 2rem;
    .mobileSmartMoneyBlock {
      background-color: white;
      margin-bottom: 1.5rem;
      border-radius: 1.2rem;
      box-shadow: 0 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      .msmbHeader {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid #e5e5e6;
        .msmbHeaderLeft {
          display: flex;
          align-items: center;
          flex: 1;
          overflow: hidden;

          .msmbHeaderRank {
            color: #cacbcc;
            font-size: 16px;
          }
          .msmbHeaderNickName {
            color: #313233;
            margin: 0rem 0.5rem;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .msmbHeaderAccount {
            color: #b0b1b3;
            text-decoration: underline;
            font-size: 10px;
          }
        }
        .msmbHeaderRight {
          margin-left: 2rem;
          .msmbHeaderNetWorth {
            background-color: hsla(240, 2%, 90%, 0.5);
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            color: #313233;
          }
        }
      }
      .msmbBody {
        padding: 1rem;
        padding-bottom: 0.4rem;
        padding-top: 0.5rem;
        .msmbBodyItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.3rem;
          .msmbBITitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #96979a;
            font-size: 13px;
          }
          .msmbBIAmount {
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            box-sizing: border-box;
            overflow: hidden;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
          .msmbBIAmountGain {
            background-color: rgba(208, 252, 234, 0.5);
          }
          .msmbBIAmountLoss {
            background-color: hsla(0, 77%, 92%, 0.5);
          }
        }
      }
    }
  }
}
.smartMoneyHeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  height: 9rem;
  box-sizing: border-box;
  z-index: 99;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04), 6px 1px 1px rgba(0, 0, 0, 0.04);
  .smartMoneyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    .smarMoneyHeaderSignInContainer {
      color: #313233;
      padding: 1rem 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      transition-duration: 300ms;
      border: 1.3px #e5e5e6 solid;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      background-color: white;
      margin-right: 3rem;
      &:hover {
        box-shadow: none;
        background-color: #f2f2f2;
        color: #19191a;
        .smarMoneyHeaderSignInIconContainer {
          background-color: white;
        }
      }

      .smarMoneyHeaderSignInIconContainer {
        transition-duration: 300ms;
        margin-right: 0.5rem;
        border: 0.1rem solid #e5e5e6;
        min-width: 2.5rem;
        min-height: 2.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        background-color: white;
        .smarMoneyHeaderSignInIcon {
          height: 1.3rem;
        }
      }
    }
    .smarMoneyHeaderSignedInContainer {
      .smarMoneyHeaderSignInData {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
      }
      .smarMoneyHeaderSignedInIconContainer {
        background-color: #f2f2f2;
      }
      .smarMoneyHeaderSignedInLeaveContainer {
        display: flex;

        .navbar-button {
          background: none;
          border: none;
          color: #b0b1b3;
          outline: none !important;
          box-shadow: none !important;
        }
        img {
          width: 1.6rem;
          margin-left: 6rem;
        }
        &:hover {
          .navbar-button {
            color: #0d0d0d;
          }
        }
      }
    }
    .leftSmartMoneyContainer {
      width: 28rem;
      padding: 0rem 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .leftSmartMoneyLogos {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        img {
          width: 4rem;
          margin-right: 1rem;
        }
        .leftSmartMoneyLogoText {
          color: #0d0d0d;
          font-family: "Inter-Medium";
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 24px;
          vertical-align: middle;
        }
      }
      .currency-wrapper {
        .dropdown {
          text-align: left;

          #currency-dropdown {
            background: transparent;
            border: 1px solid transparent;
            padding: 1.2rem;
            border-radius: 8px;
            color: #96979a;
            font-family: "Inter-SemiBold";
            font-size: 1rem;
            font-weight: 600;
            line-height: 12px;
            &:focus {
              border: 1px solid #e5e5e6;
            }

            &:hover {
              border: 1px solid #e5e5e6;
            }
          }
          .dropdown-menu {
            &.show {
              width: 9.3rem;
              height: 22rem;
              overflow-y: auto;
              background: white;
              left: -9px !important;
              .dropdown-item {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
    .rightSmartMoneyContainer {
      flex: 1;
      padding: 0rem;
      .rightSmartMoneyContainerHeading {
        color: #0d0d0d;
        font-size: 2rem;
      }
      .rightSmartMoneyContainerSubHeading {
        color: #adadad;
        font-size: 1.3rem;
      }
    }
  }
}
.addCommunitySmartMoneyWrapperParent {
  .addCommunityTopAccountsWrapperContainer {
    width: 100%;
    padding: 0rem 5rem;
    .addWalletWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      .awOldDelBtn {
        border-radius: 0.8rem;
        width: 4rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
        cursor: pointer;
        margin-right: 2rem;
        margin-left: 1rem;
        &:hover {
          filter: brightness(0.965);
        }
      }
      .fakeBtn {
        opacity: 0;
        cursor: default;
      }
      .awInputWrapper {
        border: 0.1rem solid #d4d4d4;
        border-radius: 0.8rem;
        padding: 1rem;
        width: 100%;

        .awLable {
          color: #b0b1b3;
          font-size: 1.2rem;
        }
        .awInputContainer {
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .awInput {
            border: none;
            width: 100%;
            padding: 0;
            font-size: 1.5rem;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #b0b1b3;
            }
          }
        }
        .awInputBinIcon {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition-duration: 300ms;
          &:hover {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
              0px 1px 1px rgba(0, 0, 0, 0.04);
          }
        }
        .awBlockContainer {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          color: #b0b1b3;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .awNameTag {
            font-size: 1.5rem;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
          }
        }
        .awTopInputWrapper {
          display: flex;
          align-items: center;
        }
        .awBottomInputWrapper {
          display: flex;
          align-items: center;
          overflow: hidden;
        }
      }
      .isAwInputWrapperValid {
        border-color: #19191a;
      }
    }
  }
  .watchListAddressBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    padding-top: 4.5rem;
  }
}
.smartMoneyPage {
  padding: 0 28rem;
  overflow-x: hidden;
  width: 100%;

  .smartMoneyTable {
    .smartMoneyBlurContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1.2rem;
      padding: 4rem;
      display: flex;
      align-items: flex-start;
      background: linear-gradient(
        white,
        white,
        white,
        transparent,
        transparent
      );
      .smartMoneyBlurContainerTwo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;
        .smartMoneyBlur {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-align: left;
          width: 60%;
        }
        .smartMoneyBlurLogo {
          height: 4rem;
          margin-right: 2rem;
        }
      }
    }
    .table-wrapper {
      .custom-table {
        .ReactVirtualized__Table__Grid {
          overflow-y: auto !important;
          overflow-x: hidden !important;
          max-height: 62vh !important;
          padding-left: 0rem;
          margin-bottom: 0.8rem !important;

          &::-webkit-scrollbar {
            width: 0.4rem;
            height: 0rem;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 0.8rem;
            background-color: #cacbcc;
          }

          &::-webkit-scrollbar-track {
            background-color: rgba(229, 229, 230, 0.5);
            border-radius: 0.8rem;
          }
        }
      }
    }
  }
}
.addCommunityTopAccountsWrapperAdded {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.2rem;
  .addCommunityTopAccountsAddedHeader {
    width: 100%;
    z-index: 2;
  }
  .addCommunityTopAccountsAddedBody {
    z-index: 1;
    flex: 1;
    display: flex;
    .addCommunityTopAccountsAddedBodyContent {
      padding: 3rem 5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .addCommunityTopAccountsAddedBodyContentChild {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .addCommunityTopAccountsAddedBodyContentChildErrorMeaageContainer {
          padding: 0rem 5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
          font-size: 1rem;
          font-weight: normal;
          color: #ea4e3c;
          line-height: 19px;
        }
      }
      .addCommunityTopAccountsAddedBodyIcon {
        height: 3.5rem;
      }
      .addCommunityTopAccountsAddedBodyLargerIcon {
        height: 7rem;
      }
    }
  }
}
