.mobileSmartMoneyPage {
  .smartMoneyMobileHeaderContainer {
    background-color: #fff;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04),
      6px 1px 1px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    height: 9rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .smheader {
      width: 100%;
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      .smheaderLogo {
        height: 3rem;
      }
      .smheaderText {
        margin-left: 1rem;
        .smheaderTextHeading {
          font-size: 15px;
          color: #19191a;
        }
        .smheaderTextSubHeading {
          font-size: 12px;
          color: #b0b1b3;
        }
      }
    }
  }
  .mobileSmartMoneyListContainer {
    margin-top: 9rem;
    padding: 2rem;
    .mobileSmartMoneyBlock {
      background-color: white;
      margin-bottom: 1.5rem;
      border-radius: 1.2rem;
      box-shadow: 0 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      .msmbHeader {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid #e5e5e6;
        .msmbHeaderLeft {
          display: flex;
          align-items: center;
          flex: 1;
          overflow: hidden;

          .msmbHeaderRank {
            color: #cacbcc;
            font-size: 16px;
          }
          .msmbHeaderNickName {
            color: #313233;
            margin: 0rem 0.5rem;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .msmbHeaderAccount {
            color: #b0b1b3;
            text-decoration: underline;
            font-size: 10px;
          }
        }
        .msmbHeaderRight {
          margin-left: 2rem;
          .msmbHeaderNetWorth {
            background-color: hsla(240, 2%, 90%, 0.5);
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            color: #313233;
          }
        }
      }
      .msmbBody {
        padding: 1rem;
        padding-bottom: 0.4rem;
        padding-top: 0.5rem;
        .msmbBodyItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.3rem;
          .msmbBITitle {
            color: #96979a;
            font-size: 13px;
          }
          .msmbBIAmount {
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            box-sizing: border-box;
            overflow: hidden;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
          .msmbBIAmountGain {
            background-color: rgba(208, 252, 234, 0.5);
          }
          .msmbBIAmountLoss {
            background-color: hsla(0, 77%, 92%, 0.5);
          }
        }
      }
    }
  }
}
.smartMoneyHeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  height: 9rem;
  box-sizing: border-box;
  z-index: 99;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04), 6px 1px 1px rgba(0, 0, 0, 0.04);
  .smartMoneyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;

    display: flex;
    .leftSmartMoneyContainer {
      width: 28rem;
      padding: 0rem 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .leftSmartMoneyLogos {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        img {
          width: 4rem;
          margin-right: 1rem;
        }
        .leftSmartMoneyLogoText {
          color: #0d0d0d;
          font-family: "Inter-Medium";
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 24px;
          vertical-align: middle;
        }
      }
      .currency-wrapper {
        .dropdown {
          text-align: left;

          #currency-dropdown {
            background: transparent;
            border: 1px solid transparent;
            padding: 1.2rem;
            border-radius: 8px;
            color: #96979a;
            font-family: "Inter-SemiBold";
            font-size: 1rem;
            font-weight: 600;
            line-height: 12px;
            &:focus {
              border: 1px solid #e5e5e6;
            }

            &:hover {
              border: 1px solid #e5e5e6;
            }
          }
          .dropdown-menu {
            &.show {
              width: 9.3rem;
              height: 22rem;
              overflow-y: auto;
              background: white;
              left: -9px !important;
              .dropdown-item {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
    .rightSmartMoneyContainer {
      flex: 1;
      padding: 0rem;
      .rightSmartMoneyContainerHeading {
        color: #0d0d0d;
        font-size: 2rem;
      }
      .rightSmartMoneyContainerSubHeading {
        color: #adadad;
        font-size: 1.3rem;
      }
    }
  }
}
.smartMoneyPage {
  padding: 0 28rem;
  overflow-x: hidden;
  width: 100%;
  .smartMoneyTable {
    .table-wrapper {
      .custom-table {
        .ReactVirtualized__Table__Grid {
          overflow-y: auto !important;
          overflow-x: hidden !important;
          max-height: 62vh !important;
          padding-left: 0rem;
          margin-bottom: 0.8rem !important;

          &::-webkit-scrollbar {
            width: 0.4rem;
            height: 0rem;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 0.8rem;
            background-color: #cacbcc;
          }

          &::-webkit-scrollbar-track {
            background-color: rgba(229, 229, 230, 0.5);
            border-radius: 0.8rem;
          }
        }
      }
    }
  }
}
