@import "../../../src/assets/scss/common/_variables.scss";
.addCopyTradeWrapperParent {
  .addWatchListWrapperContainer {
    display: flex;
    justify-content: center;
    padding: 0rem;
    .addCopyTraderWrapperContainer {
      width: 33rem !important;
      .addWalletWrapper {
        margin-top: 0rem;
      }
    }
  }
  .copeTraderBtnContainer {
    justify-content: flex-end;
    .transparent-copy-trade-btn {
      background-color: transparent !important;
      color: var(--black191) !important;
      &:disabled {
        background-color: transparent !important;
        color: var(--black191) !important;
      }
    }
    .transparent-copy-trade-btn-active {
      &:hover {
        background-color: var(--black191) !important;
        color: var(--cardBackgroud) !important;
        .buttonAttachedImageCutomBtn {
          filter: invert(1) !important;
        }
      }
    }
  }
}
.copyTradeExpandedMobile {
  .mobile-header-container-parent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .mobile-header-container {
      padding-right: 1rem;
    }
    .mobile-add-copy-trade-button {
      order: 0.1rem solid #171717;
      line-height: 1.9rem;
      padding: 1.65rem 2.76rem;
      color: var(--sameModeColor) !important;
      background-color: var(--backColor) !important;
      font-family: Inter-SemiBold, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
      border-radius: 8px;
      white-space: nowrap;
    }
  }
}
.mobile-add-copy-trade-modal {
  .modal-content {
    .modal-header {
      border-bottom: 0.15rem var(--sidebarSectionalBOrder) solid !important;

      padding: 2rem !important;
      padding-bottom: 1.7rem !important;
      .mobile-copy-trader-popup-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mobile-copy-trader-popup-header-title-container {
          display: flex;
          align-items: center;
          .mobile-copy-trader-popup-header-title-icon {
            height: 22px;
            margin-right: 1rem;
            // filter: ;
            filter: var(--darkerBrightness) var(--invertColor);
          }
        }
        .mobile-copy-trader-popup-header-close-icon {
          align-items: center;
          background-color: var(--greyCardBackgroud);
          border-radius: 5rem;
          cursor: pointer;
          display: flex;
          height: 4rem;
          justify-content: center;
          padding: 1.3rem;
          transition: all 0.4s ease;
          width: 4rem;
          img {
            filter: var(--invertColor);
          }
        }
      }
    }
    min-width: 90vw !important;
    width: 90vw !important;
    .exit-overlay-body {
      padding: 0rem !important;
    }
    .addCopyTraderWrapperContainer {
      width: 100% !important;
      padding: 0rem 1.5rem !important;
    }
    .copeTraderBtnContainer {
      padding: 2.5rem 1.5rem;
      padding-bottom: 2rem;
      .primary-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.available-copy-trades-container {
  background-color: var(--cardBackgroud);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 1.2rem;
  box-shadow: 0rem 0.31549rem 0.47324rem -0.31549rem rgba(24, 39, 75, 0.12),
    0rem 0.63099rem 0.63099rem -0.31549rem rgba(24, 39, 75, 0.08);
  .available-copy-trades {
    display: flex;
    align-items: center;
    width: 100%;
    .available-copy-trades-content-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .available-copy-trades-icon {
        height: 19px;
        margin-right: 0.5rem;
        filter: var(--darkerBrightness) var(--invertColor);
      }
      .available-copy-trades-address {
        margin: 0rem 2rem;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          font-weight: 600;
        }
      }
    }
    .available-copy-trades-transaction-container {
      background-color: var(--swapContainer);
      flex: 1;
      height: 100%;
      padding: 1rem;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
    .available-copy-trades-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      .topbar-btn {
        background-color: var(--primaryFilter);
        border: 0.1rem solid var(--primaryFilter);
        border-radius: 8px;
        padding: 1.2rem 2rem;
        color: var(--primaryTextColor);
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.5rem;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;

        &:hover {
          background-color: $black-191;
          background-color: var(--backColor);
          color: var(--sameModeColor);

          img {
            filter: var(--invertColor2);
          }
          .noHoverEffect {
            filter: invert(0);
          }
          .topBarExchangeIcons {
            filter: none;
          }
        }
      }
      .topbar-btn-dark {
        background: $black-191;
        border: 1px solid var(--topbarAdressAddBorder);
        color: $secondary;
        &:hover {
          color: var(--topbarAdressAddColorHover);
          background-color: var(--topbarAdressAddBg);
          border: 1px solid #f2f2f3;
        }
      }
    }
  }
  .available-copy-trades-navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-right: 0.5rem;
    .available-copy-trades-navigator-circles-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .available-copy-trades-navigator-circle {
        height: 8px;
        width: 8px;
        border-radius: 8px;
        background-color: var(--backColor);
      }
    }
    .available-copy-trades-navigator-arrows {
      display: flex;
      align-items: center;
      .availableCopyTradesArrowIcon {
        height: 12px;
        cursor: pointer;
        filter: var(--invertColor);
      }
    }
  }
}
.availableCopyTradeScrollBodyClass {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
  }
  .available-copy-trades {
    min-width: 100%;
    justify-content: space-around;
    scroll-snap-align: start;
  }
}
