.back-test-page {
  font-family: "Inter-Medium";
  font-size: 12px;
  color: var(--primaryTextColor);
  .back-test-page-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .back-test-page-content-block {
      width: calc(45% - 1rem);
      // align-self: stretch;
      display: flex;
      flex-direction: column;
      .btpcb-title {
        font-weight: 500;
        font-size: 16px;
        text-shadow: 0.2px 0 var(--primaryTextColor);
        margin-bottom: 1rem;
        .btpcb-chart-time-range-table {
          display: flex;
          align-items: center;
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
          height: 3rem;
          .time-cal-badge {
            // width: 100%;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: stretch;
            justify-content: center;
            padding: 0;
            color: var(--primaryTextColor);
            opacity: 1;
            font-weight: 500;
            font-size: 16px;
            .btpcb-chart-calendar-Container {
              height: 100%;
              .btpcb-chart-calendar-Text {
                height: 100%;
                color: var(--primaryTextColor);
                padding: 0rem !important;
              }
            }
            .intelligenceCalendar {
              position: absolute;
              top: 0;
              transform: translateY(-100%);
              padding-top: 0.5rem;
              z-index: 100;
              height: fit-content;
              .calendar-select {
                padding: 0.6rem;
                border: 1px solid var(--primaryTextColor);
                border-radius: 0.8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 0px 6.17911px 18.5373px rgba(109, 109, 109, 0.15);
                .react-calendar__navigation {
                  justify-content: center;
                  align-items: center;
                  height: 2.8rem;
                  width: 100%;
                  margin: 1rem 0rem 1.9rem 0rem;
                  button {
                    margin: 0 0.5rem;
                    min-height: 2.8rem;
                    min-width: 2.8rem;
                    padding: 0;
                    &:enabled:hover,
                    &:enabled:focus {
                      background-color: var(--primaryTextColor);
                    }
                  }
                  .react-calendar__navigation__arrow {
                    border-radius: 0.8rem;
                    border: 1px solid var(--sidebarSectionalBOrder) !important;
                    color: var(--primaryTextColor);
                    filter: var(--invertColor);
                    &:hover {
                      color: var(--cardBackgroud);
                    }
                    &:disabled {
                      &:hover {
                        color: var(--primaryTextColor);
                      }
                    }
                  }
                  .react-calendar__navigation__label {
                    pointer-events: none;
                    height: 2.8rem;
                    width: 10.5rem !important;
                    color: #19191a;
                  }
                }

                .react-calendar__month-view {
                  .react-calendar__month-view__days__day--weekend {
                    color: var(--black191);
                  }
                  .react-calendar__tile--now {
                    background: inherit;
                  }
                  .react-calendar__month-view__days__day--neighboringMonth {
                    pointer-events: none;
                    color: var(--greyE5e) !important;
                    &:hover {
                      background-color: inherit;
                      color: var(--greyE5e);
                    }
                    &:active {
                      background-color: inherit;
                      color: var(--greyE5e);
                    }
                  }

                  .react-calendar__tile {
                    color: var(--greyb0b);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.8rem;
                    height: 2.8rem;
                    &:disabled {
                      background-color: var(--primaryFilter) !important;
                      color: var(--greyb0b) !important;
                      &:hover {
                        color: var(--greyb0b) !important;
                      }
                      &:active {
                        color: var(--greyb0b) !important;
                      }
                    }
                    &:hover {
                      background-color: var(--primaryDropdownSelectedItem);
                      border-radius: 0.4rem;
                      color: var(--primaryTextColor) !important;
                    }
                    &:active {
                      background-color: var(--black191);
                      border-radius: 0.4rem;
                      color: var(--cardBackgroud) !important;
                    }
                  }
                  .react-calendar__tile--active {
                    background-color: var(--black191);
                    border-radius: 0.4rem;
                    color: var(--cardBackgroud) !important;
                    &:hover {
                      color: var(--cardBackgroud) !important;
                    }
                  }
                  abbr[title] {
                    text-decoration: none !important;
                  }
                  .react-calendar__month-view__weekdays__weekday {
                    text-transform: none;
                    color: var(--greyb0b);
                  }
                  .react-calendar__month-view__weekdays {
                    font-weight: normal;
                    font-size: inherit;
                    pointer-events: none;
                  }
                }
              }
            }
            .btpcb-chart-calendar-Container {
              position: relative;
              .btpcb-chart-calendar-Text {
                padding: 0rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            &:hover {
              text-decoration: underline;
            }
          }
          .time-cal-badge-right-cal {
            .intelligenceCalendar {
              transform: translateY(-100%) translateX(-40%);
            }
          }
          .time-no-cal-badge {
            // width: 100%;
            background-color: transparent;
            border-radius: 0.8rem;
            border: 0.1rem solid transparent;
            color: var(--primaryTextColor);
            cursor: default;
            text-align: center;
            padding: 1.125rem 1rem;
            font-weight: 500;
            font-size: 16px;
          }
          .time-no-cal-badge-no-left {
            padding-left: 0;
          }
        }
        .btpcb-chart-time-range-table-hidden {
          opacity: 0;
          pointer-events: none;
        }
      }
      .btpcb-builder-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .btpcb-desc {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 1rem;
      }

      .btpcb-left-block {
        box-shadow: inset 0 0 10px var(--boxShadowColorLg);
        background-color: var(--strategyBuilderBackGround);
        background-image: var(--strategyBuilderBackGroundImage);
        border-radius: 12px;
        flex: 1;
        position: relative;
        background-position: center;
        background-size: 12px;
        background-repeat: space;

        overflow-y: scroll;
        .btpcb-left-block-items {
          // background-color: red;
          width: 61rem;
          position: relative;
          z-index: 2;
          margin-top: 5px;
        }
        .btpcb-left-block-background {
          position: absolute;
          width: 61rem;
          left: 0;
          top: 0;
          // background-color: red;
          z-index: 1;
        }
      }
      .btpcb-right-table-container {
        background-color: var(--cardBackgroud);
        border-radius: 8px;
        padding: 6px 5px;
        padding-bottom: 0.5rem;
        box-shadow: var(--boxShadowMd);
        .strategy-builder-table-strategy-name-container {
          display: flex;
          align-items: center;
          justify-content: center;
          .strategy-builder-table-strategy-name {
            border-radius: 6px;
            padding: 4px;
            gap: 4px;
            display: flex;
            align-items: center;
            // justify-content: center;
            .strategy-builder-table-strategy-name-circle {
              height: 6px;
              width: 6px;
              min-height: 6px;
              min-width: 6px;
            }
          }
        }
        .table-wrapper {
          .not-found-wrapper {
            height: 20rem;
          }
          .animation-wrapper {
            height: 20rem;
          }
          .ReactVirtualized__Table__headerRow {
            height: fit-content !important;
            border-bottom: 0rem !important;
            .ReactVirtualized__Table__headerColumn {
              align-self: stretch;
              width: 100%;
              padding: 0;
              .ReactVirtualized__Table__headerTruncatedText {
                width: 100%;
                height: 100%;
                .history-table-header-col {
                  height: 100%;
                  background-color: var(--strategyBuilderTableHeader);
                  // opacity: 0.5;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 1rem;
                  box-sizing: border-box !important;
                  overflow: hidden;
                  color: var(--tableDataColor);
                  text-shadow: 0.05px 0 var(--tableDataColor);
                  text-align: center;
                  pointer-events: none;
                }

                .history-table-header-col-curve-left {
                  border-top-left-radius: 0.7rem;
                  border-bottom-left-radius: 0.7rem;
                }
                .history-table-header-col-curve-right {
                  border-top-right-radius: 0.7rem;
                  border-bottom-right-radius: 0.7rem;
                  border-right: 0rem;
                }
              }
            }
          }
          .ReactVirtualized__Table__Grid {
            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: #cacbcc;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              margin: 1rem 0rem;
              border-radius: 0.8rem;
            }
          }
          .ReactVirtualized__Table__row:not(:last-child) {
            border-bottom: 0.5px solid var(--cardSeperator);
          }
        }
      }
    }
    .back-test-page-content-block-left {
      align-self: stretch;
      width: calc(55% - 1rem);
    }
  }
}
.back-test-page-mobile {
  .back-test-page-content {
    flex-direction: column;
    gap: 20px;
    .back-test-page-content-block-left {
      height: calc(100vh - 15em);
    }
    .back-test-page-content-block {
      width: 100%;
      .btpcb-right-table-container {
        padding: 2px;
      }
    }
  }
}
