.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-content {
    width: 40rem;
    background-color: white;
    padding: 4rem 4rem;
    border-radius: 4px;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.12);
    h1 {
      margin-bottom: 3rem;
    }
    .forgot-wrapper {
      text-align: right;
      position: relative;
      top: -3rem;
      a:hover {
        color: $primary;
      }
    }
  }
}
