.profile-page-section {
    display: flex;

    .profile-form-section {
        // background-color: black;
        padding-left: 13rem;
        padding-top: 4rem;
        padding-right: 13rem;
        width:100%;
        .title {
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 1.2rem;
        }

        p {
            line-height: 20px;
            margin-bottom: 3.2rem;
            color: $grey-ADA;
            line-height: 20px;
        }

        .profile-form {
           
            background-color: $secondary;
            padding: 3.2rem;
            box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
            border-radius: 1.6rem;
            // width:100%;
            .form-title {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;

                p {
                    margin-bottom: 0px;
                    color: $black-000;
                    font-size: 1.6rem;
                    margin-left: 1.2rem;
                }
            }

            .form {
               
                .row{
                    margin-bottom: 2.4rem;
                }
                .form-group {
                    label {
                        font-family:Inter-Medium;
                        line-height: 20px;
                        font-size: 1.3rem;
                        color: $grey-313;

                        span {
                            display: none;
                        }
                    }
                }

                .submit-button {
                    color: $black-191;
                    margin-bottom: 3.2rem;
                    border: none;
                    font-size:1.4rem;
                    font-family: Inter-SemiBold;
                    line-height: 24px;
                }
            }
        }
    }

}