.settlement-wrapper{
    .header{
        background-color: $secondary;
        padding: 2rem 2.5rem;
        h1{
            margin: 0 0 1.6rem 0;
        }
        p{
            margin: 0.5rem 0 0 0;
        }
        .card-info{
            display: flex;
            //justify-content: space-around;
            align-items: center;
            flex-direction: row;
            padding: 0 3rem 0 0;
        }
        .b-right {
            border-right: 2px solid #E6E6E6;
        } 
        .settlement-box{
            display: flex;
            justify-content: space-between;
        }
    }
    .settlement-info{
        h2{
         margin: 2.4rem 0 2rem 0;
        }
    }
}
.settle-amount-modal{
    display: flex;
    align-items: center;
    margin: 0 0 2.5rem 0;
    .settle-pay-icon{
        margin: 0 2rem 0 0;
    }
   // justify-content: center;
}