.add-address-profile-page-container {
  overflow: hidden;
  .add-address-wv-page {
    height: calc(100vh - 9rem);
    width: 100%;
    margin-top: 9rem;
    .add-address-wv-bg {
      width: 100%;
      padding: 1rem;
      object-fit: cover;
      content: var(--dummyProfileBackground);
    }
  }
}
