.cost-page-section {
  display: flex;
  margin-top: 8rem;
  .cost-section {
    margin-top: 3rem;
    padding-bottom: 4rem;
    .bar-graph-section {
      width: 100%;
      min-height: 45rem;
      padding: 3.4rem 3.2rem;
      .chartArea {
        height: 37rem;
      }
    }

    .cost-table-section {
      min-width: 85rem;
      background-color: var(--cardBackgroud);
      border-radius: 1.2rem;
      box-shadow: 0rem 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      // padding-bottom: 1.6rem;
      .assets-remarks-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .assets-remarks-blocks {
          height: 30px;
          width: 30px;
          background-color: #e5e5e680;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            filter: brightness(0.8);
          }
          .assets-remarks-icon {
            height: 7px;
          }
        }
        .assets-remarks-blocks-selected {
          background-color: green;
          .assets-remarks-icon {
            filter: brightness(10);
          }
        }
        .assets-remarks-floating-block {
          display: none;
          background-color: #f2f2f2;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1;

          .assets-remarks-floating-block-items {
            height: 60px;
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: row;
            .assets-remarks-floating-block-avg-cost-price {
              flex: 0.066;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .assets-remarks-floating-block-items-numbering {
              flex: 0.066;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .assets-remarks-floating-block-items-actual-data {
              display: flex;
              align-items: center;
              justify-content: center;
              // margin: 0rem 2rem;
              box-sizing: border-box;
              flex: 0.866;
              height: 100%;
              .assets-remarks-floating-block-input-container {
                flex: 1;
                margin: 0rem 1rem;
                .assets-remarks-floating-block-input {
                  background-color: white;
                  width: 100%;
                  border: none;
                  height: 40px;
                  padding: 0rem 1rem;
                  border-radius: 8px;
                  border: 0.1rem solid #d4d4d4;
                  outline: none;
                  &:-webkit-autofill:focus {
                    box-shadow: 0 0 0 30px white inset !important;
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                    transition: background-color 5000s ease-in-out 0s;
                  }
                  box-shadow: 0 0 0 30px white inset !important;
                  -webkit-box-shadow: 0 0 0 30px white inset !important;
                  transition: background-color 5000s ease-in-out 0s;
                }
              }
              .assets-remarks-floating-block-buttons-container {
                display: flex;
                align-items: center;
                margin-right: 2rem;
                .assets-remarks-floating-block-buttons {
                  padding: 0rem 2rem;
                  height: 40px;
                  border-radius: 8px;
                  font-size: 1.3rem;
                  cursor: pointer;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: flex;
                  align-items: center;
                  .dotDotText {
                    .captilasideText {
                      text-transform: capitalize;
                    }
                  }
                  &:hover {
                    background-color: $black-191;
                    border-color: $black-191;
                    color: $secondary;
                  }
                }
                .assets-remarks-floating-block-buttons-dark {
                  background: $black-191;
                  border: 1px solid $black-191;
                  color: $secondary;
                  &:hover {
                    background: transparent;
                    border: 1px solid $black-191;
                    color: $black-191;
                  }
                }
              }
            }
          }
        }
        .show-assets-remarks-floating-block {
          display: block;
        }
      }
      .table-wrapper {
        // background: $secondary;
        // box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12), 0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        // border-radius: 1.2rem;
        position: relative;
        .bottomCombinedItem {
          height: 60px;
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          margin-top: 64px;
          .bottomCombinedItemBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: var(--grey313);
            text-align: center;
            .cost-common-container {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .cost-common {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                box-sizing: border-box;
                border-radius: 0.4rem;
                padding: 0.6rem;
                width: fit-content;
                background: rgba(229, 229, 230, 0.5);
              }
            }
            .gainLossContainer {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .gainLoss {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                box-sizing: border-box;
                border-radius: 0.8rem;
                padding: 0.9rem;
                width: fit-content;
              }
            }

            .gain {
              background: rgba(208, 252, 234, 0.5);
            }

            .loss {
              background: rgba(250, 217, 217, 0.5);
            }
          }
        }
        .pagination-wrapper {
          display: flex;
          align-items: center;

          h5 {
            margin: 0 1.2rem;
          }
        }
        .custom-table {
          // .ReactVirtualized__Table__headerRow {
          //     padding-left: 0rem;
          // }

          .ReactVirtualized__Table__Grid {
            overflow-y: auto !important;
            overflow-x: hidden !important;
            max-height: 47rem !important;
            padding-left: 0rem;

            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: $scrollBar-thumb;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              // background-color: $grey-E5E;
              border-radius: 0.8rem;
            }

            .ReactVirtualized__Grid__innerScrollContainer {
              .ReactVirtualized__Table__row {
                .coin-chip {
                  margin: 0 auto;
                }
              }
              .testerRed {
                position: relative;
                .testerRed {
                  position: -webkit-sticky; /* Safari */
                  position: sticky;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
    .loading-wrapper {
      position: relative;
      .graph-image {
        filter: blur(18px);
        width: 100%;
      }
      .loading-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
