.cost-page-section {
  display: flex;
  .cost-section {
    .bar-graph-section {
      width: 100%;
      min-height: 45rem;
      padding: 3.4rem 3.2rem;
      .chartArea {
        height: 37rem;
      }
    }

    .cost-table-section {
      min-width: 85rem;
      max-width: 120rem;
      width: 120rem;
      background-color: var(--cardBackgroud);
      border-radius: 1.2rem;
      box-shadow: 0rem 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.3),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.2);
      // padding-bottom: 1.6rem;

      .table-wrapper {
        // background: $secondary;
        // box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12), 0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        // border-radius: 1.2rem;
        position: relative;
        .bottomCombinedItem {
          height: 60px;
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          margin-top: 64px;
          .bottomCombinedItemBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: var(--grey313);
            text-align: center;
            .cost-common-container {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .cost-common {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                box-sizing: border-box;
                border-radius: 0.4rem;
                padding: 0.6rem;
                width: fit-content;
                background: var(--tableCostCommonBg);
                font-size: 13px;
                font-weight: 500;
                color: var(--tableDataColor) !important;
              }
            }
            .gainLossContainer {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              .gainLoss {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                box-sizing: border-box;
                border-radius: 0.8rem;
                padding: 0.9rem;
                width: fit-content;
              }
            }

            .gain {
              background: var(--badgeGreenBg);
              span {
                color: var(--badgeGreencolor) !important;
              }
            }

            .loss {
              background: var(--badgeRedBg);
              span {
                color: var(--badgeRedcolor) !important;
              }
            }
          }
        }
        .pagination-wrapper {
          display: flex;
          align-items: center;

          h5 {
            margin: 0 1.2rem;
          }
        }
        .custom-table {
          // .ReactVirtualized__Table__headerRow {
          //     padding-left: 0rem;
          // }

          .ReactVirtualized__Table__Grid {
            overflow-y: auto !important;
            overflow-x: hidden !important;
            max-height: 47rem !important;
            padding-left: 0rem;

            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: $scrollBar-thumb;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              // background-color: $grey-E5E;
              border-radius: 0.8rem;
            }

            .ReactVirtualized__Grid__innerScrollContainer {
              .ReactVirtualized__Table__row {
                .coin-chip {
                  margin: 0 auto;
                }
              }
              .testerRed {
                position: relative;
                .testerRed {
                  position: -webkit-sticky; /* Safari */
                  position: sticky;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
    .loading-wrapper {
      position: relative;
      .graph-image {
        filter: blur(18px);
        width: 100%;
      }
      .loading-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
