.cost-page-section {
  display: flex;

  .cost-section {
    .bar-graph-section {
      width: 100%;
      min-height: 45rem;
      .chartArea {
        height: 37rem;
      }
    }

    .cost-table-section {
      background-color: $secondary;
      border-radius: 1.2rem;
      box-shadow: 0rem 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      padding-bottom: 1.6rem;

      .table-wrapper {
        // background: $secondary;
        // box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12), 0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        // border-radius: 1.2rem;

        .pagination-wrapper {
          display: flex;
          align-items: center;

          h5 {
            margin: 0 1.2rem;
          }
        }
        .custom-table {
          // .ReactVirtualized__Table__headerRow {
          //     padding-left: 0rem;
          // }

          .ReactVirtualized__Table__Grid {
            overflow-y: auto !important;
            overflow-x: hidden !important;
            max-height: 47rem !important;
            padding-left: 0rem;

            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: $scrollBar-thumb;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              // background-color: $grey-E5E;
              border-radius: 0.8rem;
            }

            .ReactVirtualized__Grid__innerScrollContainer {
              .ReactVirtualized__Table__row {
                .coin-chip {
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
    .loading-wrapper {
      position: relative;
      .graph-image {
        filter: blur(18px);
        width: 100%;
      }
      .loadingAnimationBlock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
