.yeildOppYourPortfolioContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--yieldOppYourPortfolioContainerBg);
}
.yield-opp-page-mobile {
  .custom-dropdown {
    background-color: var(--mobileTransactionFiltersBg);
  }
}
.yeildOppTitleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  min-width: 85rem;
  max-width: 120rem;
  width: 120rem;
  .yeildOppTitleItems {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 0.3rem solid;
  }
  .yeildOppTitleLeft {
    width: 32%;
    border-color: var(--yeildBottomBorder1);
  }
  .yeildOppTitleRight {
    width: 68%;
    border-color: var(--yeildBottomBorder2);
  }
}
