@import "../../../src/assets/scss/common/_variables.scss";

.asset-undrealized-page {
}
.assets-expanded-mobile {
  .newHomeTableContainer {
    &::-webkit-scrollbar {
      width: 0rem;
      height: 0rem;
    }

    .table-wrapper-mobile-x-scroll {
      overflow-y: scroll;
      position: relative;
      display: flex;
      flex-direction: column;

      &::-webkit-scrollbar {
        border-radius: 0.9rem;
        width: 0rem;
        height: 0rem;
        // background-color: rgba(229, 229, 230, 0.5);
        background-color: transparent;
        margin-bottom: 0.2rem;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 0.8rem;
        // background-color: #cacbcc;
        background-color: transparent;
      }
    }
    .table-wrapper-mobile-y-scroll {
      overflow-x: scroll;
      max-height: 60rem;
      position: relative;
      display: flex;
      flex-direction: column;
      .ReactVirtualized__Table {
        .ReactVirtualized__Table__headerRow {
          position: sticky;
          position: -webkit-sticky; /* Safari */
          top: 0;
          background-color: var(--cardBackgroud);
          z-index: 10;
        }
      }
    }
  }

  .custom-switch {
    transform: scale(1.45) translateX(2rem);
    margin-top: 10px;
  }
}
