.ps-not-et-block {
  background-color: var(--popularAccountsDataBlock);
  padding: 10px 15px;
  border-radius: 8px;
  .ps-not-et-block-name-time {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 5px;
    .ps-not-et-block-nt-name {
      background-color: var(--dexScreenerAlertBlockTokenNameBackGround);
      padding: 1px 6px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 4px;
      .ps-not-et-block-ntn-icon {
        height: 13px;
        width: 13px;
        background-color: var(--cardBackgroud);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        .ps-not-et-block-ntn-icon-image {
          height: 100%;
          width: 100%;
          border-radius: 3px;
          object-fit: cover;
        }
      }
      .ps-not-et-block-ntn-name {
        font-size: 14px;
        color: var(--tableDataColor);
        text-shadow: 0.3px 0 var(--tableDataColor);
      }
      .ps-not-et-block-ntn-token {
        font-size: 15px;
        color: var(--dexScreenerAlertPageSubText);
        text-shadow: 0.3px 0 var(--dexScreenerAlertPageSubText);
      }
    }
    .ps-not-et-block-nt-time {
      font-size: 12px;
      color: var(--secondaryLightColor);
      text-shadow: 0.1px 0 var(--secondaryLightColor);
      display: flex;
      align-items: center;
      gap: 4px;
      .ps-not-et-block-nt-time-dark {
        color: var(--currenyConvertorText);
        text-shadow: 0.1px 0 var(--currenyConvertorText);
      }
    }
  }
  .ps-not-et-block-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--currenyConvertorBorder);
    padding-bottom: 5px;
    .ps-not-et-bd-price {
      .ps-not-et-bd-price-detail {
        font-size: 12px;
        color: var(--currenyConvertorText);
        text-shadow: 0.1px 0 var(--currenyConvertorText);
        .ps-not-et-bd-price-detail-type {
          color: var(--primaryTextColor);
        }
      }
      .ps-not-et-bd-price-amount {
        font-size: 14px;
        color: var(--primaryTextColor);
        text-shadow: 0.1px 0 var(--primaryTextColor);
      }
    }
    .ps-not-et-bd-active-disable {
      background-color: var(--cardBackgroud);
      display: flex;
      align-items: center;
      border-radius: 8px;
      box-shadow: var(--boxShadowMd);
      .ps-not-et-bd-block {
        padding: 6px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        text-shadow: 0.1px 0 var(--primaryTextColor);
        color: var(--primaryTextColor);
        cursor: pointer;
        gap: 4px;
        .ps-not-et-bd-circle {
          height: 10px;
          width: 10px;
          border-radius: 50%;
        }
        .ps-not-et-bd-circle-green {
          background-color: var(--dexScreenerTableSuccess);
        }
        .ps-not-et-bd-circle-red {
          background-color: var(--dexScreenerTableError);
        }
        &:hover {
          background-color: var(--darkGreyCardBackgroud);
        }
      }
      .ps-not-et-bd-block-active {
        cursor: default;
        background-color: var(--dexScreenerModalActiveBtn);
        color: black;
        &:hover {
          background-color: var(--dexScreenerModalActiveBtn);
        }
      }
      .ps-not-et-bd-block-disabled {
        cursor: default;
        background-color: var(--dexScreenerModalDisableBtn);
        color: #0d0d0d;
        &:hover {
          background-color: var(--dexScreenerModalDisableBtn);
        }
      }
      .ps-not-et-bd-block-left {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .ps-not-et-bd-block-right {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
  .ps-not-et-block-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    .ps-not-et-block-footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 7px;

      .ps-not-et-block-footer-icon {
        height: 15px;
        width: 15px;
        object-fit: contain;
        cursor: pointer;
        filter: var(--invertColor);
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .ps-not-et-block-footer-last-time {
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: var(--greyCardBackgroud);
      padding: 1px 6px;
      border-radius: 4px;
      .ps-not-et-block-flt-title {
        font-size: 12px;
        color: var(--dexScreenerAlertPageSubText);
        text-shadow: 0.1px 0 var(--dexScreenerAlertPageSubText);
      }
      .ps-not-et-block-flt-time {
        font-size: 12px;
        color: var(--primaryTextColor);
        text-shadow: 0.1px 0 var(--primaryTextColor);
      }
    }
    .ps-not-et-block-footer-last-time-active {
      background-color: var(--dexScreenerAlertBlockLastTriggerGreen);
    }
  }
}
.ps-not-et-block-mobile {
  .ps-not-et-block-name-time {
    .ps-not-et-block-nt-time {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
