.editmodal.show {
  opacity: 0.5 !important;
}

.edit-wallet-modal {
  .modal-content {
    border-radius: 1.4rem !important;
    border: none;
    box-shadow: 0px 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
      0px 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
    width: 78rem;
  }

  .modal-header {
    // background: linear-gradient(0deg, #E98430, #E98430), linear-gradient(180deg, rgba(255, 255, 255, 0) 28.03%, #FFFFFF 65.02%);
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    display: block;
    padding: 2.8rem 2.8rem 3.1rem 2.8rem;
    text-align: center;
    position: relative;

    .walletIcon {
      width: 6rem;
      // height: 6rem;
      // background-color: #FFE7BD;
      // filter: drop-shadow(0px 4px 8px rgba(206, 108, 27, 0.5)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.05));
      box-shadow: 0px 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0px 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      border-radius: 0.8rem;
    }

    .closebtn {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 1.3rem;
      border-radius: 50px;
      position: absolute;
      top: 2.8rem;
      right: 2.8rem;
      cursor: pointer;
      transition: all 0.4s ease;

      img{
        filter: var(--invertColor);
      }

      &:hover {
        top: 2.5rem;
        right: 2.5rem;
        padding: 1.6rem;
      }
    }

    .triangle-up {
      width: 0;
      height: 0;
      border-left: 2.1rem solid transparent;
      border-right: 2.1rem solid transparent;
      border-bottom: 3rem solid var(--cardBackgroud);
      position: absolute;
      left: 36.9rem;
      bottom: -1.7rem;
      border-radius: 0.2rem;
    }
  }

  .modal-body {
    padding: 2.3rem 20.2rem 4.8rem 20.2rem;

    .edit-wallet-body {
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      // .dropdown {
      //     .dropdown-menu {
      //         width: auto;
      //         padding: 0.4rem;
      //         height: 19rem;
      //         overflow-y: scroll;
      //     }

      //     .dropdown-toggle {
      //         padding: 1.1rem 1.9rem 1.1rem 1.6rem;
      //         background: $secondary;
      //         border: 0.1rem solid $grey-B0B;
      //         border-radius: 0.8rem;
      //         color: $black-191;
      //         // box-shadow: none;
      //     }
      // }
      // .arrowdown{
      //     .dropdown-toggle{
      //         padding:1.5rem 1.9rem 1.1rem 1.9rem;
      //     }
      //     .dropdown-toggle::after{
      //         margin-left:0rem;
      //     }
      // }
      .subtitle {
        color: $grey-B0B;
        text-align: center;
      }
      .coinchips {
        display: flex;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 0.7rem;
        .chipcontainer {
          display: flex;
          align-items: center;
          margin-right: 1.2rem;
          background: rgba(229, 229, 230, 0.5);
          border: 0.1rem solid $grey-CAC;
          // border-radius: 0.4rem;
          border-radius: 0.6rem;
          // padding:0.4rem 0.8rem;
          margin-bottom: 0.2rem;
          height: 2.6rem;
          div {
            padding: 0.4rem 0.8rem;
          }
          img {
            // margin-right: 0.6rem;
            width: 2.6rem;
            height: 2.6rem;
            border-top-left-radius: 0.55rem;
            border-bottom-left-radius: 0.55rem;
            position: relative;
            left: -1px;
          }
        }
        &:hover {
          &::-webkit-scrollbar {
            height: 0.4rem;
          }
          &::-webkit-scrollbar-thumb {
            // border-radius: 2rem;
            border-radius: 0.8rem;
            background-color: $scrollBar-thumb;
            // background: rgb(90, 90, 90);
          }
          &::-webkit-scrollbar-track {
            background-color: rgba(229, 229, 230, 0.5);
            // background-color: transparent;
            // background-color: $grey-E5E;

            border-radius: 0.8rem;
          }
        }
      }

      .edit-form {
        .form-group {
          margin-bottom: 2rem;
        }
      }
      // width: 100%;
      // form {
      .form-group {
        label {
          font-family: Inter-Medium;
          line-height: 1.6rem;
          font-size: 1.3rem;
          color: var(--grey313);
          margin-bottom: 1.2rem;

          span {
            display: none;
          }
        }

        .form-control {
          font-size: 1.3rem;
          line-height: 1.6rem;
          color: $grey-B0B;
          font-weight: 400;
          padding: 1.2rem 1.6rem;
          min-height: 4rem;
          &::placeholder {
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: $grey-B0B;
          }
        }
        .disabled-input {
          background-color: var(--sameModeColor);
          // color: $grey-B0B;
        }
        .tag-input {
          color: $black-191;
        }
        .custom-select__control {
          font-size: 1.3rem;
          line-height: 1.6rem;
          color: var(--secondaryTextColor);
          background-color: transparent;
          font-weight: 400;
          min-height: 4rem;
          &::placeholder {
            font-size: 1.3rem;
            line-height: 1.6rem;
            color: $grey-B0B;
          }
        }
        .custom-select__menu {
          background-color: var(--cardBackgroud);
          .custom-select__menu-list {
            height: 16rem;
            .custom-select__option{
              color: var(--black191);

            }
          }
          .custom-select__menu-list::-webkit-scrollbar {
            width: 0.4rem;
          }
          .custom-select__menu-list::-webkit-scrollbar-thumb {
            border-radius: 0.8rem;
            // background: rgb(90, 90, 90);
            background-color: var(--scrollBarThumb);
          }
          .custom-select__menu-list::-webkit-scrollbar-track {
            // background: rgba(0, 0, 0, 0.2);
            // background: transparent;
            background-color: $grey-E5E;
            border-radius: 0.8rem;

            
          }
        }
      }
      // }
      .edit-btns {
        margin-top: 4rem;
        display: flex;
        justify-content: center;

        .delete-btn {
          background-color: $pink-FCF;
          border: 0.15rem solid $pink-DA2;
          border-radius: 0.8rem;
          color: $pink-DA2;
          padding: 1.6rem 2.8rem;
          box-shadow: none;
          &:hover {
            background-color: $pink-DA2;
            color: $secondary;
          }
        }

        .primary-btn {
          padding: 1.6rem 2.8rem;
          line-height: 1.9rem;
          &:hover {
            // color: $black-191;
            // background-color: $secondary;
            border-color: $secondary;
                    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04), 0px 1rem 1rem rgba(0, 0, 0, 0.04);
                    color: $black-191;
                    background-color: $secondary;
          }
        }
      }
      // }
    }
  }
}
