.wallet-page-section {
  display: flex;

  .wallet-section {
    margin-top: 5rem;
    min-width: 85rem; //solve overflow issue
    max-width: 120rem;
    width: 120rem;
    // overflow: hidden; //solve overflow issue
    // sortby section begin
    padding: 0rem;

    .sortby-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .dropdown-section {
        display: flex;
        .naming {
          padding: 1.2rem 0;
        }
        .sort-by-title {
          display: flex;
          align-items: center;
          padding: 1.2rem 1.6rem;
          cursor: pointer;
          user-select: none;

          .rotateUp {
            transform: rotate(180deg);
            margin-left: 1rem;
          }
          .rotateDown {
            transform: rotate(0deg);
            margin-left: 1rem;
          }
        }
        .sort-by-title:hover {
          span {
            color: var(--primaryTextColor);
          }
          img {
            filter: var(--hoverBrightnessValue);
          }
        }
        // .dropdown {
        //     margin-right: 3.6rem;

        //     .dropdown-toggle {
        //         border: none;
        //         background: none;
        //         color: $grey-7C7;
        //         padding: 0px;
        //     }
        // }
      }
    }

    // sortby section ends

    .net-worth-wrapper {
      min-width: 85rem;
      max-width: 120rem;
      width: 120rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      background-color: var(--cardBackgroud);
      border-radius: 1.2rem;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      margin-bottom: 2.4rem;
      .left {
        display: flex;
        align-items: center;
        .net-worth-icon-container {
          height: 4.3rem;
          width: 4.3rem;
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--profileUnrecognizedWallet);
          .net-worth-icon {
            height: 2.6rem;
            filter: var(--invertColor);
          }
        }
        h3 {
          padding-left: 1.2rem;
        }
      }
    }

    // walletcard section begin
    .cards {
      min-width: 85rem;
      max-width: 120rem;
      width: 120rem;
      .walletcard {
        padding: 2.4rem 2.4rem 1.4rem;
        background-color: var(--cardBackgroud);
        box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
          0px 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
        border-radius: 1.6rem;
        margin-bottom: 2rem;

        .wallet-details {
          display: flex;
          justify-content: space-between;

          .wallet-account-details {
            display: flex;
            align-items: center;
            // margin-right: 4.9rem;
            width: 85%;
            .wallet-account-details-name-container {
              display: flex;
              align-items: center;
              .wallet-account-details-name {
                display: flex;
                align-items: center;
              }
            }
            .wallet-img {
              box-shadow: 0rem 0.4rem 0.8rem var(--greyF2f),
                0rem 0.1rem 0.3rem var(--diffModeColorWithOpacity);
              border-radius: 0.8rem;
              background-color: var(--profileUnrecognizedWallet);
              height: 4.3rem;
              width: 4.3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 1.5rem;
              img {
                border-radius: 0.8rem;
                height: 2.6rem;
                filter: var(--brightInDarkMode);
              }
            }

            .delete-icon {
              &:hover {
                filter: brightness(0.5);
              }
            }

            // .wallet-name-details {
            // display: flex;
            // align-items: center;
            h6 {
              color: var(--primaryTextColor);
            }
            .wallet-name {
              padding: 0.8rem 1.2rem;
              background: $secondary;
              border: 0.1rem solid rgba(229, 229, 230, 0.5);
              border-radius: 0.8rem;
              color: $grey-7C7;
              text-overflow: ellipsis;
              overflow: hidden;
              width: max-content;
              max-width: 20rem;
            }
            // }

            .account-details {
              display: flex;
              align-items: center;
              // margin-left: 1.6rem;
              text-overflow: ellipsis;
              overflow: hidden;
              .account-details-address {
                color: var(--profileWalletAddress);
              }
              span {
                color: $grey-B0B;
                // width: 92%;
                overflow: hidden;
                text-overflow: ellipsis;
                width: max-content;
                max-width: 20rem;
              }

              img:hover {
                filter: var(--hoverBrightnessValue);
              }
            }
          }

          .amount-details {
            display: flex;
            align-items: center;

            h6 {
              margin-right: 0.6rem;
              color: var(--primaryTextColor);
            }

            span {
              letter-spacing: 0.125rem;
              color: $grey-ADA;
            }
          }
        }

        .coins-chip {
          display: flex;
          padding-top: 2rem;
          border-top: 1px solid var(--profileWalletDivider);
          justify-content: space-between;
          align-items: center;
          .chips-section {
            display: flex;
            // cursor: pointer;
            width: 100%;
            overflow-x: auto;
            margin-right: 2rem;
            height: 4.2rem;
            .coin-chip {
              margin-right: 1.2rem;
              img {
                width: 2.6rem;
                height: 2.6rem;
                border-top-left-radius: 0.55rem;
                border-bottom-left-radius: 0.55rem;
                position: relative;
                // left: -1px;
                // // top: -1px;
                left: -0.1rem;
                top: 0;
              }
              img:hover {
                filter: var(--hoverBrightnessValue);
              }
            }
            &::-webkit-scrollbar {
              height: 0rem;
            }
            &:hover {
              &::-webkit-scrollbar {
                height: 0.4rem;
              }
              &::-webkit-scrollbar-thumb {
                // border-radius: 2rem;
                border-radius: 0.8rem;
                background-color: $scrollBar-thumb;
                // background: rgb(90, 90, 90);
              }
              &::-webkit-scrollbar-track {
                background-color: rgba(229, 229, 230, 0.5);
                // background-color: transparent;
                // background-color: $grey-E5E;

                border-radius: 0.8rem;
              }
            }
          }
          .secondary-btn {
            padding: 1.65rem 2.7rem;
            border-color: $grey-636;
            color: $grey-636;
            &:hover {
              color: $secondary;
            }
          }
          img:hover {
            filter: var(--hoverBrightnessValue);
          }
        }
      }
      .loading-container {
        box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
          0px 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
        margin-bottom: 2rem;
        padding: 0;
        background-color: var(--cardBackgroud);
        padding: 2rem;
        border-radius: 1.2rem;
        .animation-wrapper {
          width: 100%;
          // background-image: url("../../images/walletCardLoadingBackground.png");
          background-position: top center;
          background-repeat: no-repeat;
          background-size: 100%;

          .loading-animation {
            backdrop-filter: blur(10px);
            border-radius: 1.2rem;
            width: 100%;

            // img{
            //     width: 10rem;
            // }
          }
        }
      }
    }

    //  walletcard section end
  }
}

.chips-section::-webkit-scrollbar {
  height: 0.4rem;
}
