.dex-screener-page {
  * {
    font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
  }
  .ds-ph-btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .ds-ph-btn {
      background-color: var(--cardBackgroud);
      box-shadow: var(--boxShadowMd);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      gap: 5px;
      width: 150px;
      cursor: pointer;
      .ds-ph-btn-image {
        filter: var(--invertColor);
        height: 13px;
      }
      .ds-ph-btn-text {
        font-size: 13px;
        text-shadow: 0.1px 0 var(--primaryTextColor);
        color: var(--primaryTextColor);
      }
      &:hover {
        background-color: var(--greyCardBackgroud);
      }
    }
  }

  .dex-screener-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 15px;
    .dex-screener-left {
      width: 66%;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      gap: 10px;
      .transaction-history-table {
        min-height: unset !important;
        .dex-screener-table-toggle-block {
          background-color: var(--cardBackgroud);
          border-radius: 1.2rem;
          position: relative;

          .dex-screener-table-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .dex-screener-table-toggle-elements {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 25%;
              border-bottom: 3px solid;
              border-color: var(--cardBorder);
              padding-top: 1.3rem;
              padding-bottom: 1.3rem;
              cursor: pointer;
              background-color: var(--cardBackgroud);
              gap: 4px;
              &:hover {
                filter: var(--hoverTableHeaderBrightness);
              }
              .dex-screener-table-toggle-elements-image {
                opacity: 0.4;
                height: 13px;
              }
              .dex-screener-table-toggle-elements-text {
                font-size: 12px;
                text-shadow: 0.1px 0 var(--primaryTextColor);
                color: var(--primaryTextColor);
                opacity: 0.4;
              }
            }
            .dex-screener-table-toggle-elements-selected {
              border-color: var(--primaryTextColor);
              pointer-events: none;
              .dex-screener-table-toggle-elements-image {
                opacity: 1;
              }
              .dex-screener-table-toggle-elements-text {
                opacity: 1;
              }
            }
            .dex-screener-table-toggle-elements-left-radius {
              border-top-left-radius: 1.2rem;
            }
            .dex-screener-table-toggle-elements-right-radius {
              border-top-right-radius: 1.2rem;
            }
          }
          .transaction-table-section {
            margin-bottom: 0rem;
            .table-wrapper {
              .animation-wrapper {
                height: 30.5rem;
              }
              .ReactVirtualized__Table__headerRow {
                overflow: hidden;
              }
              .ReactVirtualized__Grid {
                overflow-y: auto !important;
                overflow-x: hidden !important;
                max-height: 46.5rem !important;
                padding-left: 0rem;
              }

              .ReactVirtualized__Table__headerRow {
                height: unset !important;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-right: 0rem !important;
                border-bottom: none !important;
                background-color: var(--cardSeperator);
                color: var(--tableCostCommonColor);
                position: sticky;
                top: 0;
                z-index: 10;
                .ReactVirtualized__Table__headerTruncatedText {
                  opacity: 1;
                  text-transform: uppercase;
                  text-shadow: 0.1px 0 var(--primaryTextColor);
                  span {
                    font-size: 11px !important;
                  }
                }
              }
              .ReactVirtualized__Grid {
                .ReactVirtualized__Grid__innerScrollContainer {
                  .ReactVirtualized__Table__row {
                    .ReactVirtualized__Table__rowColumn {
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-bottom-width: 1px;
                      padding: 0rem !important;
                      text-shadow: 0.1px 0 var(--primaryTextColor);
                      .ds-table-row {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 0px solid var(--descScreenerTableSeperator);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                      .ds-right-border {
                        // border-right-width: 1px;
                      }
                      .ds-bottom-border {
                        // border-bottom-width: 1px;
                      }
                      .ds-image-text {
                        gap: 5px;
                        .ds-image-text-text {
                          font-size: 13px;
                          text-decoration: underline;
                        }
                        .ds-image-text-image {
                          height: 14px !important;
                          width: 14px !important;
                          object-fit: cover;
                          border-radius: 2px;
                        }
                      }
                      .ds-main-sub {
                        flex-direction: column;
                        .ds-main-sub-main-text {
                          font-size: 14px;
                        }
                        .ds-main-sub-sub-text {
                          font-size: 11px;
                          color: var(--sidebarBottomOptions);
                          text-shadow: 0.1px 0 var(--sidebarBottomOptions);
                        }
                        .ds-main-sub-main-text-red {
                          color: var(--dexScreenerTableLoss);
                        }
                        .ds-main-sub-main-text-green {
                          color: var(--dexScreenerTableProfit);
                        }
                      }
                      .ds-multi-line {
                        text-wrap: wrap;
                      }
                      .dex-screener-light-font {
                        color: var(--chartYAxis);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .dex-screener-chart-continaer {
        height: 43rem;
        background-color: #161a23;
        width: 100%;
        border-radius: 1.2rem;
        position: relative;
        .dex-screener-chart {
          position: absolute;
          left: 0;
          top: 0;
          padding: 1rem;
          width: 150%;
          height: 150%;
          scale: 0.665;
          transform-origin: top left;
          .tradingview-widget-container {
            iframe {
              // scale: 0.8;
            }
          }
        }
      }
    }
    .dex-screener-right {
      width: 34%;
      height: 100%;

      font-size: 14px;
      font-weight: 500;
      text-shadow: 0.1px 0 var(--primaryTextColor);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
      .dex-screener-image-banner {
        width: 100%;
        height: 15rem;
        position: relative;
        // margin-bottom: 30px;
        .dex-screener-image-data {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .dex-screener-image-follow-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top: 2rem;
            padding-right: 2rem;
            .dex-screener-image-follow {
              background-color: var(--cardBackgroud);
              color: var(--primaryTextColor);
              border-radius: 7px;
              padding: 7px 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              box-shadow: var(--boxShadowMd);
              &:hover {
                background-color: var(--cardBorder);
              }
            }
          }
        }

        .dex-screener-image {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
      .dex-screener-blocks-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 15px;
        transform: translateY(25px);

        .dex-screener-social-blocks {
          gap: 5px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          .dex-screener-sb-icon {
            height: 20px;
            filter: var(--invertColor);
          }
          &:hover {
            background-color: var(--cardBorder);
            opacity: 1;
          }
        }
        .dex-screener-data-banners {
          gap: 1px;
          flex: 1;
          flex-direction: column;
          background-color: var(--greyCardBackgroud);
          box-shadow: none;
          justify-content: flex-start;
          &:hover {
            opacity: 1;
            cursor: default;
          }
          .dex-screener-db-text {
            font-size: 18px;
            text-align: center;
          }
          .dex-screener-db-subtext {
            font-size: 14px;
            color: var(--sidebarBottomOptions);
            text-shadow: 0.1px 0 var(--sidebarBottomOptions);
          }
        }
      }
      .dex-screener-banners {
        background-color: var(--cardBackgroud);
        color: var(--primaryTextColor);
        border-radius: 7px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: var(--boxShadowMd);
        &:hover {
          opacity: 0.8;
        }
      }

      .dex-screener-data-points {
        padding: 0rem;
        flex-direction: column;
        cursor: default;
        margin-top: 30px;
        &:hover {
          opacity: 1;
        }
        .dex-screener-dp-header {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          .dex-screener-dp-header-blocks {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
            border-bottom: 3px solid var(--primaryBackgroud);
            padding: 12px 0px;
            .dex-screener-dp-hb-subtext {
              font-size: 14px;
              color: var(--sidebarBottomOptions);
              text-shadow: 0.1px 0 var(--sidebarBottomOptions);
            }
            .dex-screener-dp-hb-text {
              font-size: 18px;
            }
            .dex-screener-dp-hb-text-profit {
              color: var(--dexScreenerTableSuccess);
              text-shadow: 0.1px 0 var(--dexScreenerTableSuccess);
            }
            .dex-screener-dp-hb-text-loss {
              color: var(--dexScreenerTableError);
              text-shadow: 0.1px 0 var(--dexScreenerTableError);
            }
          }
          .dex-screener-dp-header-blocks-selected {
            border-bottom-color: var(--dexScreenerTableSuccess);
            .dex-screener-dp-hb-subtext {
              color: var(--primaryTextColor);
            }
          }
        }
        .dex-screener-dp-body {
          padding: 15px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .dex-screener-dp-body-ele {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 80px;
            width: 100%;
            .dex-screener-dp-body-ele-left {
              display: flex;
              flex-direction: column;
              gap: 2px;
              align-items: flex-start;
              width: fit-content;
              .dex-screener-dp-bel-subtext {
                font-size: 11px;
                color: var(--sidebarBottomOptions);
                text-shadow: 0.1px 0 var(--sidebarBottomOptions);
              }
              .dex-screener-dp-bel-text {
                font-size: 14px;
              }
            }
            .dex-screener-dp-body-ele-right {
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 1;
              gap: 5px;
              .dex-screener-dp-bel-profit-text {
                display: flex;
                flex-direction: column;

                .dex-screener-dp-bel-profit-text-subtext {
                  font-size: 11px;
                  color: var(--sidebarBottomOptions);
                  text-shadow: 0.1px 0 var(--sidebarBottomOptions);
                }
                .dex-screener-dp-bel-profit-text-text {
                  font-size: 14px;
                }
              }
              .dex-screener-dp-bel-profit-text-right {
                align-items: flex-end;
              }
              .dex-screener-dp-bel-line {
                width: 100%;
                height: 4px;
                border-radius: 10px;
              }
              .dex-screener-dp-bel-profit-container {
                flex: 1;
                .dex-screener-dp-bel-profit-line {
                  background-color: var(--dexScreenerTableSuccess);
                }
              }
              .dex-screener-dp-bel-loss-container {
                flex: 1;
                .dex-screener-dp-bel-loss-line {
                  background-color: var(--dexScreenerTableError);
                }
              }
            }
          }
        }
      }
      .dex-screener-right-data-table {
        margin-top: 1rem;
        cursor: default;
        font-size: 12px;
        &:hover {
          opacity: 1;
        }
        .dex-screener-right-data-rows {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 0.5px solid var(--sidebarBottomOptionsLight);
          padding: 12px 0px;

          .dex-screener-right-data-rows-title {
            color: var(--sidebarBottomOptions);
            text-shadow: none;
            padding: 3px 0px;
          }
          .dex-screener-right-data-rows-dta-container {
            display: flex;
            align-items: center;
            gap: 10px;
            .dex-screener-right-data-rows-amount {
              color: var(--primaryTextColor);
              padding: 3px 0px;
            }
            .dex-screener-right-data-rows-btn {
              color: var(--primaryTextColor);
              background-color: var(--dexScreenerTimeDefaultBlock);
              padding: 3px 8px;
              border-radius: 5px;
            }
          }
        }
      }
      .dex-screener-right-convertor-container {
        .dex-screener-right-convertor {
          height: 45px;
          display: flex;
          align-items: stretch;
          justify-content: center;
          border-radius: 8px;
          .dex-screener-right-convertor-input {
            flex: 1;
            height: 100%;
            background-color: var(--cardBackgroud);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border: 2px solid var(--cardSeperator);
            border-right-color: var(--cardBackgroud);
            &:hover {
              border-color: var(--primaryTextColor);
              border-radius: 8px;
              .dex-screener-right-convertor-input-box {
                border-radius: 8px;
              }
            }
            .dex-screener-right-convertor-input-box {
              border: none;
              outline: none;
              height: 100%;
              width: 100%;
              font-size: 13px;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              color: var(--primaryTextColor);
              text-shadow: 0.1px 0 var(--primaryTextColor);
              padding: 0px 10px;
            }
          }
          .dex-screener-right-convertor-right {
            font-size: 13px;
            color: var(--primaryTextColor);
            text-shadow: 0.1px 0 var(--primaryTextColor);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding: 0px 10px;
            border: 2px solid var(--cardSeperator);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-left-width: 0px;
            .dex-screener-right-convertor-right-text {
              background-color: var(--greyCardBackgroud);
              padding: 2px 8px;
              border-radius: 4px;
              cursor: pointer;
              &:hover {
                background-color: var(--cardBackgroud);
              }
            }
            .dex-screener-right-convertor-right-text-selected {
              cursor: default;
              background-color: var(--primaryTextColor);
              color: var(--cardBackgroud);
              text-shadow: 0.1px 0 var(--cardBackgroud);
              &:hover {
                background-color: var(--primaryTextColor);
              }
            }
          }
          // &:hover {
          //   border-color: var(--primaryTextColor);
          // }
        }
        .dex-screener-right-arrow {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1.2rem 0rem;
          .dex-screener-right-arrow-image {
            height: 20px;
          }
        }
      }
    }
  }
}
.dex-screener-page-mobile {
  .ds-ph-btns-container {
    width: 100%;
    margin-bottom: 2.3rem;
    .ds-ph-btn {
      width: calc(50% - 3px);
    }
  }
  .dex-screener-page-mobile-toggle {
    background-color: var(--darkGreyCardBackgroud);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    margin-bottom: 2rem;
    .dex-screener-page-mobile-toggle-block {
      color: var(--black191);
      font-size: 13px;
      font-weight: 500;
      padding: 0.5rem;
      border-radius: 0.4rem;
      text-align: center;
      white-space: nowrap;
      flex: 1;
      background-color: transparent;
    }
    .dex-screener-page-mobile-toggle-block-selected {
      background-color: var(--cardBackgroud);
    }
  }
  .dex-screener-body {
    flex-direction: column;
    padding-bottom: 3rem;
    .dex-screener-left {
      width: 100%;
      display: none;
      gap: 20px;
      .transaction-history-table {
        .dex-screener-table-toggle-block {
          padding-bottom: 6px;
          .dex-screener-table-toggle {
            justify-content: flex-start;
            overflow-x: scroll;
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;
            &::-webkit-scrollbar {
              height: 0px;
              width: 0px;
            }
            .dex-screener-table-toggle-elements {
              width: 40%;
              min-width: 40%;
              flex-wrap: nowrap;
              text-wrap: nowrap;
              &:hover {
                filter: none;
              }
            }
          }
          .transaction-table-section {
            .table-wrapper {
              .ReactVirtualized__Table {
                .ReactVirtualized__Table__headerRow {
                  background-color: transparent;
                  padding: 0;
                  .ReactVirtualized__Table__headerColumn {
                    padding: 1rem 0rem;
                    background-color: var(--primaryBackgroud);
                  }
                }
              }
              .ReactVirtualized__Grid {
                overflow-y: unset !important;
                overflow-x: unset !important;
                padding: 0px 2px;
              }
            }
          }
        }
      }
    }
    .dex-screener-right {
      width: 100%;
      display: none;
    }
    .dex-screener-mobile-show {
      display: flex;
    }
  }
}
.dex-screener-search-box {
  font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
  .dex-screener-search-box-overlay {
    border-radius: 10px;
    background-color: var(--cardBackgroud);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    .dex-screener-search-box-overlay-text {
      font-size: 16px;
      color: #7c7d81;
    }
    .dex-screener-search-box-overlay-image {
      height: 13px;
      filter: var(--invertColor);
    }
    &:hover {
      .dex-screener-search-box-overlay-text {
        color: var(--primaryTextColor);
      }
    }
  }
}
.dex-screener-search-box-mobile {
  z-index: 100;
  margin-bottom: 2rem;
  background-color: var(--cardBackgroud) !important;
  .topBarHistory {
    width: 100vw;
    top: 0;

    .dexScreenerSearchPopup {
      // overflow: hidden;
      .ds-sp-toggle-container {
        justify-content: flex-start;
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          height: 0rem;
          width: 0rem;
        }
        .ds-sp-toggle {
          .ds-sp-toggle-item {
            padding-left: 2rem !important;
          }
        }
      }
      .ds-sp-blocks-container {
        grid-template-columns: repeat(1, 1fr);
        max-height: 23vh;
        overflow-y: scroll;
        .ds-sp-block {
          &:hover {
            .ds-sp-block-info {
              background-color: var(--cardBackgroud);
            }
          }
        }
        &::-webkit-scrollbar {
          height: 0rem;
          width: 0rem;
        }
      }
    }
  }
  .topBarContainerRightBlock {
    .topbar-btn {
      background: var(--primaryTextColor);
      color: var(--cardBackgroud);
      border: 1px solid var(--topbarAdressAddBorder);
      color: #ffffff;

      border-radius: 8px;
      padding: 0.7rem 1.3rem;
      font-size: 1rem;
      line-height: 1.5rem;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
    }
  }
}
