.estimated-fare-wrapper{
    //padding: 3rem 0;
    //border: 1px solid $primary;
    margin: 0 0 2.5rem;
    .fare{
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        img{
          margin: 0 0.6rem 0.3rem 0;
        }
      }
      h4{
        padding: 0.5rem 0;
      }
    }
    .penalty-btn{
      display: flex;
      justify-content: center;
      .btn{
        padding: 0.7rem 1.5rem;
        margin: 1.5rem 0 0 0;
      }
    }
    .damage-images{
      display: flex;
      flex-wrap: wrap;
      img{
        width: 100%;
        height: 8rem;
        object-fit: contain;
        margin: 2rem;
        flex: 1;
      }
    }
  }

  .timeline-wrapper{
    padding: 3rem 0;
    .btn{
      padding: 0.7rem 1.2rem;
      margin: 1rem 0 0 0;
    }
    h2{
      padding-bottom: 2.2rem;
    }
    .timeline{
      position: relative;
      img{
        margin-bottom: 1.6rem;
      }
      h6{
        padding: 0.7rem 0;
      }
      &::after {
        content: "";
        position: absolute;
        height: 0.1rem;
        width: 106%;
        background-color: $secondary-6;
        top: 1rem;
        left: 2.1rem;
      }
      &.last::after{
        display: none;
      }
      &.cancelled{
        &::after{
          background-color: $red-B00;
        }
      }
      &.success{
        &::after{
          background-color: $green-21D;
        }
      }
    }
  }
