.new-homepage-auth-content-close-container {
  top: -120px;
  right: 10px;

  z-index: 111;
  position: absolute;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  .new-homepage-auth-content-close {
    // border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #e5e5e6;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 38px;
    height: 38px;
    transition-duration: 300ms;
    &:hover {
      scale: 1.08;
      // box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
    }
  }
  .new-homepage-auth-content-back {
    &:hover {
      scale: 1.08;
      // box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14), 0px 8px 28px -6px rgba(24, 39, 75, 0.12);
    }
  }
}

.new-homepage-auth-content-close--desktop {
  top: 28px;
  right: 28px;
}
.new-homepage-auth-content-back--desktop {
  top: 28px;
  left: 28px;
  right: auto;
}

.new-homepage-auth-content-close--mobile {
  top: 20px;
  right: 20px;
}
.new-homepage-auth-content-back--mobile {
  top: 20px;
  left: 20px;
  right: auto;
}
.new-auth {
  padding: 60px 0;
  border-radius: 16px;
  display: flex;
  justify-content: center;

  background-color: transparent;

  .new-auth-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    .new-homepage-auth-content-close {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .new-auth-content-logo {
      width: 38px;
      filter: var(--invertColor);
    }

    .new-auth-content-logo-mobile {
      margin-bottom: -12px;
      filter: var(--invertColor);
    }

    .new-auth-content-title-holder {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      .new-auth-content-title {
        font-size: 28px;
        font-weight: 500;
        line-height: 120%;
        color: var(--black191);
      }

      .new-auth-content-subtitle {
        color: #7c7d81;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
      }
    }

    .new-auth-content-input-holder {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      // box-shadow: 0px 14px 64px -4px rgba(0, 0, 0, 0.12), 0px 8px 22px -6px rgba(0, 0, 0, 0.12);

      .new-auth-content-input {
        width: 320px;
        height: 55px;
        border: 1px solid var(--borderwhiteDarkLight);
        border-radius: 8px;
        background-color: var(--cardBackgroud);
        color: #4a4b4d;
        padding: 18px 12px;
        font-size: 16px;
        font-weight: 400;
        &::placeholder {
          color: #4a4b4d;
        }

        &:hover {
          border: 1px solid var(--primaryTextColor);
        }

        &:focus {
          outline: none;
          border: 1px solid var(--primaryTextColor);
          background: rgba(215, 215, 215, 0.197);
        }
      }
      .new-auth-content-input--otp-pills-holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .new-auth-content-input--otp-pills {
          box-shadow: 0px 18px 88px -4px rgba(0, 0, 0, 0.2),
            0px 8px 28px -6px rgba(0, 0, 0, 0.2) !important;
          width: 52px;
          height: 60px;
          border-radius: 8px;
          border: 1px solid var(--borderwhiteDarkLight);
          text-align: center;
          outline: none;

          &:hover {
            border: 1px solid var(--primaryTextColor);
          }

          &:focus {
            outline: none;
            border: 1px solid var(--primaryTextColor);
            background: rgba(215, 215, 215, 0.197);
          }
        }

        .new-auth-content-input--otp-pills-mobile {
          height: 52px;
          width: 43px;
        }
      }
      .new-auth-content-button {
        color: var(--sameModeColor);
        background-color: var(--primaryTextColor);
        padding: 0 28px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 18px 88px -4px rgba(0, 0, 0, 0.25),
          0px 8px 28px -6px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        outline: none;
        border: 1px solid #141414;
      }

      .new-auth-content-button--hover {
        &:hover {
          border: 1px solid var(--sameModeColor);
          background-color: var(--sameModeColor) !important;
          color: var(--primaryTextColor);
          // border: 1px solid #141414;
          box-shadow: 0rem 0.8rem 2.8rem -0.6rem rgba(24, 39, 75, 0.12),
            0rem 1.8rem 8.8rem -0.4rem rgba(24, 39, 75, 0.14);
        }
      }
    }
    .has-error-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-top: -32px;
      .has-error {
        font-family: "Inter-Regular";
        color: #ea4e3c;
        font-size: 1rem;
        font-weight: normal;
        line-height: 19px;

        .custom-select__control {
          border: 1px solid #ea4e3c;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: right calc(0.375em + 4rem) center;
          background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
      }
    }
    .has-error-container-mobile {
      margin-bottom: -32px;
      margin-top: -20px;
    }

    .new-auth-content-input-holder--otp {
      display: flex;
      gap: 12px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .new-auth-content-input {
        width: 350px;
      }
      .new-auth-content-button {
        width: 350px;
      }
    }

    .new-auth-content-bottom-cta-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px;
      .new-auth-content-bottom-cta {
        cursor: pointer;
        color: #7c7d81;
        font-size: 16px;
        font-weight: 600;

        .new-auth-content-bottom-cta-icon {
          height: 16px;
          margin-top: -3px;
          margin-left: 0.6rem;
        }
        &:hover {
          color: var(--primaryTextColor);
          .new-auth-content-bottom-cta-icon {
            filter: var(--hoverBrightnessValue);
            opacity: var(--lighterDarkIcons);
          }
        }
      }
      .new-auth-content-bottom-cta--mobile {
        font-size: 13px;
        &:hover {
          color: #7c7d81 !important;
          .new-auth-content-bottom-cta-icon {
            filter: none;
            opacity: 1;
          }
        }
        &:active {
          color: #141414;
        }
      }
    }

    .new-auth-content-bottom-cta-holder-mobile {
      padding: 0px;
    }

    .new-auth-content-bottom-cta-holder-mobile {
      .new-auth-content-bottom-cta {
        font-size: 13px;
      }
    }

    .new-auth-content-input-holder-mobile {
      flex-direction: column;
      width: 280px;
      gap: 12px;
      .new-auth-content-input {
        box-shadow: 0px 18px 88px -4px rgba(0, 0, 0, 0.2),
          0px 8px 28px -6px rgba(0, 0, 0, 0.2) !important;
        width: 100%;
        font-size: 13px;
        height: 48px;
      }
      .new-auth-content-button {
        height: 48px;
        width: 100%;
        font-size: 13px;
      }
    }

    .new-auth-content-title-holder-mobile {
      gap: 8px;
      .new-auth-content-title {
        font-size: 20px;
        font-weight: 500;
      }
      .new-auth-content-subtitle {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}

.new-auth-mobile {
  padding: 48px 0;
}

.new-auth-mobile-wrap {
  padding-top: 100px;
  height: calc(100vh - 100px);
  .new-auth-content-button {
    width: 100%;
  }
  // .new-auth-mobile{
  //   height: 100%;

  // }
}
.msmpModalBody {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
  position: relative;
  .msmpAddWalletReponsesConatinaer {
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
  }
  .mwbAddWalletWrapperContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .mwbAddWalletWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .mwbAwInputWrapper {
        width: 100%;
        border: 0.1rem solid #e5e5e6;
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        background-color: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .mbwAwTopInputWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: relative;
          .mbwAwTopInputSearchIcon {
            height: 1.5rem;
            // position: absolute;
            // left: 1rem;
          }
          .mwbAwInput {
            border: none;
            outline: none;
            flex: 1;
            text-align: left;
            font-weight: 500;
            &::-ms-input-placeholder {
              color: #afb1b3;
            }

            &::placeholder {
              color: #afb1b3;
            }
          }
        }
      }
      .mwbAwInputWrapperSelected {
        border-color: black;
      }
    }
  }
  .msmpModalHowItWorks {
    width: 100%;
    height: 28rem;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    z-index: 1;
    top: 0;
    left: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  // .msmpBigIcon {
  //   height: 3.5rem;
  // }
  .msmpModalClosebtnContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    .back-icon {
      left: 0;
      top: 0;
      padding: 1.3rem;
      background-color: rgba(229, 229, 230, 0.5);
      border-radius: 5rem;
      cursor: pointer;
      transition: all 0.4s ease;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        filter: invert(1);
      }
    }
    .msmpModalClosebtn {
      width: 4rem;
      height: 4rem;
      padding: 1.3rem;
      top: 0;
      right: 0;
      background-color: rgba(229, 229, 230, 0.5);
      border-radius: 5rem;
      cursor: pointer;
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .msmpModalMainIconDirectImage {
    width: 10rem;
    height: 10rem;
    img {
      width: 100%;
      height: 100%;
    }
    transform: translateY(-5rem);
  }
  .msmpModalMainIconWhiteContainer {
    img {
      width: 2.4rem;
      height: 2.4rem;
    }
    padding: 1.8rem;
    box-shadow: 0rem 0.8rem 2.8rem -0.6rem rgba(24, 39, 75, 0.12),
      0rem 1.8rem 8.8rem -0.4rem rgba(24, 39, 75, 0.14);
    border-radius: 2rem;
    transform: translateY(-3rem);
  }
  .msmpModalTexts {
    text-align: center;
  }
  .msmpModalTextsCong {
    transform: translateY(-5rem);
  }
  .msmpFaqListContainer {
    background-color: #e5e5e680;
    width: 100%;
    border-radius: 1rem;
    overflow: scroll;
    padding: 1rem;
    max-height: 45vh;
    .msmpFaqListItem {
      padding: 1rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
    .msmpFaqSelectedListItem {
      padding: 1rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
      background-color: white;
    }
  }
  .msmpModalAboutHeading {
    transform: translateY(-8rem);
    z-index: 2;
  }
  .msmpModalAboutContentContainer {
    width: 100%;
    flex: 1;
    transform: translateY(-10rem);
    padding: 4rem 0rem;
    .msmpModalAboutContentBlock {
      border: 0.1rem solid #e5e5e6;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      overflow: scroll;
      padding: 2rem;
      max-height: 35vh;
      .smartMoneyHowItWorksTextLine {
        margin-top: 2rem;
      }
    }
  }
  .msmModalInputWrapper {
    width: 100%;
    border: 0.1rem solid #e5e5e6;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
      0px 1px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;

    .msmModalInput {
      border: none;
      outline: none;
      flex: 1;
      text-align: left;
      font-weight: 500;
      &::-ms-input-placeholder {
        color: #afb1b3;
      }

      &::placeholder {
        color: #afb1b3;
      }
    }
  }
  .msmModalInputWrapperSelected {
    border-color: black;
  }
  .msmModalBtnContainer {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .msmModalBtn {
      width: 100%;
      border-radius: 1rem;
      padding: 1.5rem 2rem;
      background-color: #19191a;
      border-color: #19191a;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
    .msmTransparentModalBtn {
      background-color: transparent;
      color: #19191a;
    }
  }
  .msmModalBtnContainerCong {
    transform: translateY(-5rem);
  }
}
