.strategy-builder-name-save {
  font-size: 16px;
  width: 100%;
  margin-left: 4.3rem;
  margin-right: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  .strategy-builder-name-save-title-input {
    flex: 1;
    font-size: 16px;
    color: var(--referallUsedBtnText);
    text-shadow: 0.1px 0 var(--referallUsedBtnText);

    outline: none;
    border-radius: 8px;
    padding: 0.8rem;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--strategyBuilderPopUpAssetBorder);
    }
    &::placeholder {
      opacity: 0.3;
    }
  }
  .strategy-builder-name-save-title {
    color: var(--referallUsedBtnText);
    text-shadow: 0.1px 0 var(--referallUsedBtnText);
  }
  .strategy-builder-name-save-btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .strategy-builder-name-save-btn {
      border: 2px solid var(--strategyBuilderBorder);
      box-shadow: var(--boxShadowMd);
      border-radius: 10px;
      height: 45px;
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--primaryTextColor);
      text-shadow: 0.1px 0 var(--primaryTextColor);
      &:hover {
        background-color: var(--strategyBuilderDarkGrey);
      }
    }
    .strategy-builder-name-save-btn-highlighted {
      background-color: #cbf458;
      &:hover {
        background-color: var(--primaryTextColor);
        color: var(--cardBackgroud);
      }
    }
    .strategy-builder-name-save-btn-loading {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
.strategy-builder-name-save-mobile {
  margin: 0;
  padding: 0.5rem;
  .strategy-builder-name-save-title-input {
    border-radius: 0;
    &:hover {
      border: 1px solid transparent;
    }
  }
  .strategy-builder-name-save-btns-container {
    .strategy-builder-name-save-btn {
      height: 40px;
      width: 100px;
      border-radius: 8px;
      &:hover {
        background-color: unset;
      }
    }
  }
}
