.mobilePortfolioContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  .custom-dropdown {
    margin-right: 0px !important;
    padding-left: 5px;

    .show {
      margin-left: -5px;
    }
    .placeholderPriceDropdown {
      justify-content: center;
      gap: 4px;
    }
    .placeholder {
      gap: 4px;
      svg {
        right: auto;
        position: static;
      }
    }
  }

  .padding-mb-2 {
    padding-left: 2px !important;
  }

  .placeholderPriceDropdown {
    min-width: 100% !important;
  }
  .homepage-table-charts {
    .custom-dropdown .placeholderPriceDropdown.lineChartPlaceholder {
      min-width: 10rem !important;
    }
  }
  .custom-dropdown {
    margin-right: 0px !important;
    padding-left: 5px;

    .show {
      margin-left: -5px;
    }
    .placeholderPriceDropdown {
      justify-content: center;
      gap: 4px;
    }
    .placeholder {
      gap: 4px;
      svg {
        right: auto;
        position: static;
      }
    }
  }

  .padding-mb-2 {
    padding-left: 2px !important;
  }

  .placeholderPriceDropdown {
    min-width: 100% !important;
  }

  .asset-mobile-table {
    .table-wrapper-mobile-y-scroll {
      max-height: 65rem !important;
    }
  }
  .transaction-table-mobile-search {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #d4d4d4;
    background-color: white;
    border-radius: 8px;
    .search-icon {
    }

    .search-input {
      width: 100%;
      // box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: #19191a;
      background-color: transparent;
      &::placeholder {
        color: #b0b1b3;
      }
      &:focus {
        .transaction-table-mobile-search {
          border: 1px solid black;
        }
      }
    }
  }

  .transaction-table-mobile-search {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #d4d4d4;
    background-color: white;
    border-radius: 8px;
    .search-icon {
    }

    .search-input {
      width: 100%;
      // box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: #19191a;
      background-color: transparent;
      &::placeholder {
        color: #b0b1b3;
      }
      &:focus {
        .transaction-table-mobile-search {
          border: 1px solid black;
        }
      }
    }
  }
  .mpLoadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .mpcHomeContainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    .mpcHomeFloatingContainer {
      position: fixed;
      left: 0;
      bottom: 5rem;

      width: 100vw;
      z-index: 200;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0rem 2rem;
      .mpcHomeFloatingElement {
        background-color: #ffffff;
        width: 100%;
        border-radius: 1.2rem;
        padding: 2rem;
        box-shadow: 0px 0 2rem 0.8rem rgba(24, 39, 75, 0.08),
          0rem 0 2rem 0.8rem rgba(24, 39, 75, 0.08);
        display: flex;
        align-items: center;

        .mpcHFMacIconContainer {
          background-color: #e5e5e680;
          height: 4rem;
          width: 4rem;
          border-radius: 1rem;
          padding: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .mpcHFMacIcon {
            height: 100%;
          }
        }
        .mpcHFText {
          flex: 1;
          margin: 0rem 1rem;
        }
        .mpcHFGoBtn {
          height: 4rem;
          background-color: #19191a;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0rem 2rem;
          border-radius: 1rem;
        }
      }
    }
    .section-table {
      background-color: white;
      border-radius: 1.2rem;
      box-shadow: 0px 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      margin-top: 1.6rem;
    }
    .mpcMobileSearch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      padding: 2rem;
      .mpcMobileShare {
        padding-left: 1rem;
      }
      .mpcMobileSearchInput {
        display: flex;
        align-items: center;
        flex: 1;
        .mpcMobileSearchImage {
          height: 1.5rem;
          margin-right: 0.5rem;
        }
        .mpcMobileSearchPlaceholder {
          color: #b0b1b3;
        }
      }
      .mpcMobileSearchImage {
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }
    .mpcHomePage {
      flex: 1;
      padding: 2rem;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      .mobileFooterContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .accountsAmountContainer {
        background-color: #e5e5e6;
        padding: 1.6rem 2rem;
        border-radius: 12px;
        margin-bottom: 1.8rem;
        max-height: 28rem;
        overflow: scroll;
        .accountsAmount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .eyeAndAccount {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .eyeAndAccountImage {
              height: 1.6rem;
              margin-right: 0.5rem;
            }
            .eyeAndAccountArrow {
              height: 1.25rem;
              width: 1.25rem;
              height: 1.6rem;
              margin-left: 0.5rem;
            }
          }
        }
        .accountsAmountRemaining {
          margin-top: 0.5rem;
        }
      }
      .balance-sheet-card {
        background-color: #ffffff;
        box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
          0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        border-radius: 12px;
        margin-top: 1.6rem;
        margin-bottom: 2.8rem;
        user-select: none;
        position: relative;
        cursor: pointer;
        transition-duration: 300ms;
        padding: 0;
        .balance-card-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // margin-bottom: 1rem;
          // border-radius: 12px;

          img {
            height: 1.25rem;
            width: 1.25rem;
            margin-bottom: 5px;
          }
          // background-color: green;
          .balance-sheet-card-credit {
            margin: 0;
            padding: 2rem 2rem 1.6rem;
            padding-right: 0;
            border-radius: 12px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:hover {
              .defiMenu {
                filter: opacity(1);
              }
              .balance-sheet-card-credit-title {
                color: #000000;
              }
              .balance-sheet-card-credit-amount {
                color: #000000;
              }
            }
          }
          .balance-sheet-card-credit-loading {
            cursor: default;
            &:hover {
              .defiMenu {
                filter: opacity(0.5);
              }
              .balance-sheet-card-credit-title {
                color: #636467;
              }
              .balance-sheet-card-credit-amount {
                color: #b0b1b3;
              }
            }
          }
          .balance-sheet-card-debt {
            margin: 0;
            padding: 2rem 2rem 1.6rem;
            padding-left: 0;
            border-radius: 12px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &:hover {
              .defiMenu {
                filter: opacity(1);
              }
              .balance-sheet-card-credit-title {
                color: #000000;
              }
              .balance-sheet-card-credit-amount {
                color: #000000;
              }
            }
          }
          .balance-sheet-card-debt-loading {
            cursor: default;
            &:hover {
              .defiMenu {
                filter: opacity(0.5);
              }
              .balance-sheet-card-credit-title {
                color: #636467;
              }
              .balance-sheet-card-credit-amount {
                color: #b0b1b3;
              }
            }
          }
          .balance-sheet-card-credit-title {
            margin-right: 0.8rem;
            color: #636467;
          }
          .balance-sheet-card-credit-amount {
            margin-right: 0.8rem;
            color: #b0b1b3;
          }
          .balance-sheet-card-credit-title-selected {
            color: #000000;
          }
          .balance-sheet-card-credit-amount-selected {
            color: #000000;
          }
        }

        .balance-dropdown {
          position: absolute;
          top: 4rem;
          left: 0;
          box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
            0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
          border-radius: 0px 0px 12px 12px;
          padding-bottom: 1.6rem;

          width: 100%;
          z-index: 1;
          .balance-dropdown-top-fake {
            width: 100%;
            height: 1.6rem;
            display: flex;
            .balance-dropdown-top-fake-left {
              width: 50%;
              height: 100%;
            }
            .balance-dropdown-top-fake-right {
              width: 50%;
              height: 100%;
            }
          }
          .balance-list-content-parent {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            .balance-list-content {
              padding-top: 0;
              max-height: 15rem;
              overflow-y: scroll;
              width: 100%;

              &::-webkit-scrollbar {
                width: 0.4rem;
                height: 0.4rem;
              }

              &::-webkit-scrollbar-thumb {
                border-radius: 0.8rem;
                background-color: #cacbcc;
              }

              &::-webkit-scrollbar-track {
                background-color: rgba(229, 229, 230, 0.5);
                // background-color: $grey-E5E;
                border-radius: 0.8rem;
              }
            }
          }

          .balance-sheet-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.15rem 0rem;
            border-top: 1px solid rgba(229, 229, 230, 0.5);
            margin-right: 1.6rem;

            .balance-amt {
              background-color: rgba(229, 229, 230, 0.5);
              border-radius: 4px;
              padding: 6px;
            }
          }
        }
      }
      .chain-card {
        .chain-card-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          padding: 1.6rem 2rem;
          .portfolioNetworksText {
            color: #636467;
          }
        }
        background-color: #ffffff;
        box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
          0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        border-radius: 12px;

        margin-top: 1.6rem;
        margin-bottom: 1.8rem;
        user-select: none;
        //   cursor: pointer;
        position: relative;
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
          .defiMenu {
            filter: opacity(1);
          }
          .chain-card-child {
            .portfolioNetworksText {
              color: #000000;
            }
          }
        }

        .chain-list {
          // margin-top: 1rem;
          position: absolute;
          top: 4.3rem;
          background-color: #ffffff;
          left: 0;
          box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
            0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
          border-radius: 0px 0px 12px 12px;
          padding: 1.6rem 2rem;
          width: 100%;
          z-index: 2;

          .chain-content {
            max-height: 25.75rem;
            overflow-y: scroll;
            width: 100%;

            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0.4rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: #cacbcc;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              // background-color: $grey-E5E;
              border-radius: 0.8rem;
            }
          }

          .chain-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0rem;
            margin-right: 1.6rem;
            border-top: 1px solid rgba(229, 229, 230, 0.5);

            span img {
              position: relative;
              margin-right: 1rem;
              z-index: 1;
            }

            .chain-list-amt {
              background-color: rgba(229, 229, 230, 0.5);
              border-radius: 4px;
              padding: 6px;
            }
          }
        }
      }
      .chain-card-loading {
        cursor: default;
        .chain-card-child {
          cursor: default;
        }
        &:hover {
          .defiMenu {
            filter: opacity(0.5);
          }
          .chain-card-child {
            .portfolioNetworksText {
              color: #636467;
            }
          }
        }
      }
      .chain-card-active {
        .defiMenu {
          filter: opacity(1);
        }
        .chain-card-child {
          .portfolioNetworksText {
            color: #000000;
          }
        }
      }
      .fillter_tabs_section {
        .custom-dropdown {
          background-color: rgba(229, 229, 230, 0.5);

          .dropdown-footer {
            .dropdown-btn {
              &:hover {
                background-color: unset !important;
                color: unset !important;
              }
            }
          }
        }
      }
    }
  }

  .homepage-mobile-view-more {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #7c7d81;
    font-size: 14px;
    font-weight: 600;
    img {
      width: 7px;
      height: 14px;
    }
  }
}
