@import "../../../src/assets/scss/common/_variables.scss";
.mobilePortfolioContainer {
  // height: 100vh;
  background-color: var(--primaryBackground);
  overflow: auto;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  .mobile-header-container {
    margin-bottom: 2.3rem;
    h4 {
      color: var(--primaryTextColor);
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }
    p {
      color: var(--secondaryTextColor);
      font-size: 13px;
      font-weight: 500;
    }
  }
  .mobile-header-container-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 2.3rem;
    .mobile-header-container-image {
      height: 25px;
      margin-right: 0.5rem;
      filter: var(--invertColor);
      opacity: var(--lighterDarkIcons);
    }
    .mobile-header-container {
      margin-bottom: 0rem;
      h4 {
        margin-bottom: 0rem;
      }
    }
  }

  .custom-dropdown {
    margin-right: 0px !important;
    padding-left: 5px;

    .show {
      margin-left: -5px;
    }
    .placeholderPriceDropdown {
      justify-content: center;
      gap: 4px;
    }
    .placeholder {
      gap: 4px;
      svg {
        right: auto;
        position: static;
      }
    }

    &.custom-dropdown-icon {
      border: none;
      min-height: auto;
      margin-right: 1.5rem !important;
      background: none !important;
    }

    &:hover {
      &.custom-dropdown-icon {
        border: none;
      }
    }

    &.custom-dropdown-icon {
      .dropdown-content {
        top: 3rem;
        left: -2rem;
      }
    }
  }

  .padding-mb-2 {
    padding-left: 2px !important;
  }

  .placeholderPriceDropdown {
    min-width: 100% !important;
  }
  .homepage-table-charts {
    .custom-dropdown .placeholderPriceDropdown.lineChartPlaceholder {
      min-width: 10rem !important;
    }
  }

  .asset-mobile-table {
    .table-wrapper-mobile-y-scroll {
      max-height: 65rem !important;
    }
  }
  .transaction-table-mobile-search {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border: 1px solid var(--borderwhiteDarkLight);
    background-color: var(--cardBackgroud);
    border-radius: 8px;
    .search-icon {
    }

    .search-input {
      width: 100%;
      // box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: #19191a;
      background-color: transparent;
      &::placeholder {
        color: #b0b1b3;
      }
      &:focus {
        .transaction-table-mobile-search {
          border: 1px solid black;
        }
      }
    }

    &:hover {
      border-color: var(--primaryTextColor);
    }
  }

  .mpLoadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .mpcHomeContainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    .seeMoreBtn {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      font-size: 13px;
      color: var(--seeMoreColor);
      font-weight: 500;
      // transition-duration: 300ms;
      .seeMoreBtnIcon {
        // transition-duration: 300ms;
        filter: brightness(0.5);
        height: 9px;
        margin-left: 0.5rem;
      }
      &:hover {
        color: var(--seeMoreColor);
        .seeMoreBtnIcon {
          filter: brightness(0.5);
        }
      }
    }

    .mpcHomeFloatingContainer {
      position: fixed;
      left: 0;
      bottom: 5rem;

      width: 100vw;
      z-index: 200;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0rem 2rem;
      .mpcHomeFloatingElement {
        background-color: var(--cardBackgroud);
        width: 100%;
        border-radius: 1.2rem;
        padding: 2rem;
        box-shadow: var(--floatingAppPopupShadow);
        display: flex;
        align-items: center;
        border: 1px solid var(--borderwhiteDarkLight);

        .mpcHFMacIconContainer {
          background-color: #e5e5e680;
          height: 4rem;
          width: 4rem;
          border-radius: 1rem;
          padding: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .mpcHFMacIcon {
            height: 100%;
          }
        }
        .mpcHFText {
          flex: 1;
          margin: 0rem 1rem;
        }
        .mpcHFGoBtn {
          height: 4rem;
          background-color: #19191a;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0rem 2rem;
          border-radius: 1rem;
        }
      }
    }
    .section-table {
      background-color: var(--cardBackgroud);
      border-radius: 1.2rem;
      box-shadow: 0px 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      margin-top: 1.6rem;
    }
    .mobile-portfolio-blocks {
      margin-top: 3rem;
      background-color: var(--cardBackgroud);
      // padding: 1rem;
      border-radius: 1.2rem;
      min-height: 50rem;
      max-height: 50rem;
      display: flex;
      flex-direction: column;

      .mobile-portfolio-blocks-content {
        flex: 1;
        .ScrollArea {
          &::-webkit-scrollbar {
            width: 0rem;
            height: 0rem;
          }
        }
      }

      .mobile-portfolio-blocks-content-with-padding {
        padding: 0rem 1rem;
      }

      .section-table-mobile {
        padding: 0rem !important;
        margin: 0rem !important;
        .profit-chart-mobile {
          .bar-graph-section {
            height: 44rem;
            min-height: 44rem;
            .portfolio-profit-and-loss {
              height: 88%;
            }
          }
        }
        .profit-chart-mobile-expanded {
          .bar-graph-section {
            height: 48rem;
            min-height: 48rem;
            .portfolio-profit-and-loss {
              height: 88%;
            }
          }
        }
      }

      .bottomExtraInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        font-size: 12px;
        font-weight: 500;
        color: var(--seeMoreColor);
        .bottomExtraInfoText {
          height: fit-content;
          white-space: nowrap !important;
          overflow: hidden !important;
          text-overflow: ellipsis !important;
          padding: 0rem 1rem;
          cursor: pointer;
          // &:hover {
          //   color: #0d0d0d;
          // }
        }
      }
      .newHomeTableContainer {
        &::-webkit-scrollbar {
          width: 0rem;
          height: 0rem;
        }

        .table-wrapper-mobile-x-scroll {
          overflow-y: scroll;
          position: relative;
          display: flex;
          flex-direction: column;

          &::-webkit-scrollbar {
            border-radius: 0.9rem;
            width: 0rem;
            height: 0rem;
            // background-color: rgba(229, 229, 230, 0.5);
            background-color: transparent;
            margin-bottom: 0.2rem;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 0.8rem;
            // background-color: #cacbcc;
            background-color: transparent;
          }
        }
        .table-wrapper-mobile-y-scroll {
          overflow-x: scroll;
          max-height: 41.5rem;
          position: relative;
          display: flex;
          flex-direction: column;
          .ReactVirtualized__Table {
            .ReactVirtualized__Table__headerRow {
              position: sticky;
              position: -webkit-sticky; /* Safari */
              top: 0;
              background-color: var(--cardBackgroud);
              z-index: 10;
              border-top-left-radius: 1.2rem;
              border-top-right-radius: 1.2rem;
            }
          }
        }
      }
      .newHomeTableContainerNoShowMore {
        .table-wrapper {
          .custom-table {
            .ReactVirtualized__Table__Grid {
              max-height: 38.5rem !important;
              min-height: 38.5rem !important;
            }
          }
        }
      }

      .newHomeTableContainer-transaction-history {
        .table-wrapper {
          .custom-table {
            .ReactVirtualized__Table__Grid {
              max-height: 36rem !important;
              min-height: 36rem !important;
            }
          }
        }
      }
      .newHomeTableContainerMobile {
        min-height: 42rem;
        .transaction-table-loading-wrapper {
          height: 44rem;
        }
      }
      .section-table-toggle-mobile {
        background-color: var(--tableSectionToggleBg);
        border-radius: 0.7rem;
        padding: 0.6rem;
        display: flex;
        align-items: center;
        margin: 1rem;
        margin-bottom: 0rem;
        .section-table-toggle-element {
          font-size: 12px;
          font-weight: 500;
          flex: 1;
          padding: 0.5rem;
          white-space: nowrap;
          text-align: center;
          color: var(--InActiveToggleBg);
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          cursor: pointer;
          // transition-duration: 300ms;
        }
        .section-table-toggle-element-selected {
          background-color: var(--cardBackgroud);
          color: var(--black191);
          cursor: default;
          &:hover {
            background-color: var(--cardBackgroud);
          }
        }
      }
    }
    .mpcMobileSearch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--cardBackgroud);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);

      .mpcMobileShare {
        padding-left: 1rem;
        margin-right: 2rem;
      }
      .mpcMobileSearchInput {
        display: flex;
        align-items: center;
        flex: 1;
        .mpcMobileSearchImage {
          height: 1.5rem;
          margin: 2rem;
          margin-right: 0.5rem;
        }
        .topSearchBarMobileContainer {
          // transform: translateY(-31px);
          flex: 1;
          padding: 0rem;
          background-color: var(--cardBackgroud);
          padding-left: 0.5rem;
          padding-right: 2rem;
          font-size: 16px;
          border: none;

          .new-homepage__body-search_input_body {
            .addWalletWrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              // flex-direction: column;

              .awInputWrapper {
                border: none;
                width: 100%;
                background-color: var(--modalInput);
                .awLable {
                  color: #b0b1b3;
                  font-size: 14px;
                }
                .awInputContainer {
                  flex: 1;
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  padding-right: 0.5rem;

                  .awInputTopBar {
                    border: none;
                    width: 100%;
                    padding: 0;
                    font-size: 16px;
                    outline: none;

                    &:focus {
                      outline: none;
                    }
                    &::placeholder {
                      color: #b0b1b3;
                    }
                  }
                }
                .addToAddressListMobileBtnContainer {
                  display: flex;
                  align-items: center;

                  .replaceAddressListMobileBtn {
                    background-color: var(--black191);
                    color: var(--cardBackgroud);
                    padding: 0.6rem 1.2rem;
                    border-radius: 0.8rem;
                  }
                  .addToAddressListMobileBtn {
                    background-color: var(--primaryBackgroud);
                    color: var(--black191);
                    padding: 0.6rem 1.2rem;
                    border-radius: 0.8rem;
                    margin-right: 1rem;
                  }
                  .disableAddToAddressListMobileBtn {
                    opacity: 0.7;
                  }
                }
                .awTopInputWrapper {
                  display: flex;
                  align-items: center;
                }
                .awBottomInputWrapper {
                  display: flex;
                  align-items: center;
                  overflow: hidden;
                }
              }

              .wInputWrapper-mobile {
                flex-direction: column-reverse;
              }
              .isAwInputWrapperValid {
                border-color: #19191a;
              }
            }
          }
        }
        .mpcMobileSearchPlaceholder {
          color: #b0b1b3;
        }
      }
      .mpcMobileSearchImage {
        height: 1.5rem;
        margin-right: 0.5rem;
      }
    }
    .mpcHomePage {
      flex: 1;
      padding: 2rem;
      padding-bottom: 0;
      background-color: var(--primaryBackgroud);
      display: flex;
      flex-direction: column;
      .mobile-dark-mode-toggle-button {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var(--mobileModeToggleBg);
        margin-bottom: 2.3rem;
      }
      .mobileFooterContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .accountsAmountContainer {
        background-color: var(--mobileWalletHeaderBg);
        padding: 1.6rem 2rem;
        border-radius: 12px;
        margin-bottom: 2.3rem;
        max-height: 28rem;
        overflow: scroll;
        .accountsAmount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .eyeAndAccount {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .eyeAndAccountImage {
              height: 1.6rem;
              margin-right: 0.5rem;
              filter: var(--invertColor);
            }
            .eyeAndAccountArrow {
              filter: var(--invertColor);
              height: 1.25rem;
              width: 1.25rem;
              height: 1.6rem;
              margin-left: 0.5rem;
            }
          }
        }
        .inter-display-semi-bold {
          color: var(--primaryTextColor);
        }
        .accountsAmountRemaining {
          margin-top: 0.5rem;
        }
      }
      .balance-sheet-card {
        background-color: var(--cardBackgroud);
        box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
          0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        border-radius: 12px;
        margin-top: 1.6rem;
        margin-bottom: 2.8rem;
        user-select: none;
        position: relative;
        cursor: pointer;
        // transition-duration: 300ms;
        padding: 0;
        .balance-card-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // margin-bottom: 1rem;
          // border-radius: 12px;

          img {
            height: 1.25rem;
            width: 1.25rem;
            margin-bottom: 5px;
          }
          // background-color: green;
          .balance-sheet-card-credit {
            margin: 0;
            padding: 2rem 2rem 1.6rem;
            padding-right: 0;
            border-radius: 12px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:hover {
              .defiMenu {
                filter: var(--invertColor);
              }

              .balance-sheet-card-credit-title {
                color: var(--black191);
              }
              .balance-sheet-card-credit-amount {
                color: var(--black191);
              }
            }
          }
          .balance-sheet-card-credit-loading {
            cursor: default;
            &:hover {
              .defiMenu {
                filter: opacity(0.5);
              }

              .balance-sheet-card-credit-title {
                color: #636467;
              }
              .balance-sheet-card-credit-amount {
                color: #b0b1b3;
              }
            }
          }
          .balance-sheet-card-debt {
            margin: 0;
            padding: 2rem 2rem 1.6rem;
            padding-left: 0;
            border-radius: 12px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &:hover {
              .defiMenu {
                filter: var(--invertColor);
              }

              .balance-sheet-card-credit-title {
                color: var(--black191);
              }
              .balance-sheet-card-credit-amount {
                color: var(--black191);
              }
            }
          }
          .balance-sheet-card-debt-loading {
            cursor: default;
            &:hover {
              .defiMenu {
                filter: opacity(0.5);
              }

              .balance-sheet-card-credit-title {
                color: #636467;
              }
              .balance-sheet-card-credit-amount {
                color: #b0b1b3;
              }
            }
          }

          .balance-sheet-card-credit-title {
            margin-right: 0.8rem;
            color: var(--secondaryDarkTextColor);
          }
          .balance-sheet-card-credit-amount {
            margin-right: 0.8rem;
            color: #b0b1b3;
          }

          .balance-sheet-card-credit-title-selected {
            color: var(--black191);
          }
          .balance-sheet-card-credit-amount-selected {
            color: var(--black191);
          }
        }

        .balance-dropdown {
          position: absolute;
          top: 4rem;
          left: 0;
          box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
            0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
          border-radius: 0px 0px 12px 12px;
          padding-bottom: 1.6rem;

          width: 100%;
          z-index: 1;
          .balance-dropdown-top-fake {
            width: 100%;
            height: 1.6rem;
            display: flex;
            .balance-dropdown-top-fake-left {
              width: 50%;
              height: 100%;
            }
            .balance-dropdown-top-fake-right {
              width: 50%;
              height: 100%;
            }
          }
          .balance-list-content-parent {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            .balance-list-content {
              padding-top: 0;
              max-height: 15rem;
              overflow-y: scroll;
              width: 100%;

              &::-webkit-scrollbar {
                width: 0.4rem;
                height: 0.4rem;
              }

              &::-webkit-scrollbar-thumb {
                border-radius: 0.8rem;
                background-color: #cacbcc;
              }

              &::-webkit-scrollbar-track {
                background-color: rgba(229, 229, 230, 0.5);
                // background-color: $grey-E5E;
                border-radius: 0.8rem;
              }
            }
          }

          .balance-sheet-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.15rem 0rem;
            border-top: 1px solid var(--deifSectionalBOrder);
            margin-right: 1.6rem;

            .balance-amt {
              background: var(--tableCostCommonBg);
              color: var(--tableDataColor) !important;
              border-radius: 4px;
              padding: 6px;
            }
          }
        }
      }
      .chain-card {
        .chain-card-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          padding: 1.6rem 2rem;
          .portfolioNetworksText {
            color: var(--secondaryDarkTextColor);
          }
        }
        background-color: var(--cardBackgroud);
        box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
          0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        border-radius: 12px;

        margin-top: 1.6rem;
        margin-bottom: 1.8rem;
        user-select: none;
        //   cursor: pointer;
        position: relative;
        cursor: pointer;
        // transition-duration: 300ms;
        &:hover {
          .defiMenu {
            filter: var(--invertColor);
          }
          .chain-card-child {
            .portfolioNetworksText {
              color: var(--primaryTextColor);
            }
          }
        }

        .chain-list {
          // margin-top: 1rem;
          position: absolute;
          top: 4.3rem;
          background-color: var(--cardBackgroud);
          left: 0;
          box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
            0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
          border-radius: 0px 0px 12px 12px;
          padding: 1.6rem 2rem;
          width: 100%;
          z-index: 2;

          .chain-content {
            max-height: 25.75rem;
            overflow-y: scroll;
            width: 100%;

            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0.4rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: #cacbcc;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              // background-color: $grey-E5E;
              border-radius: 0.8rem;
            }
          }

          .chain-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0rem;
            margin-right: 1.6rem;
            // border-top: 1px solid var(--borderwhiteDarkLight);

            span img {
              position: relative;
              margin-right: 1rem;
              z-index: 1;
              // filter: var(--invertColor);
            }

            .chain-list-amt {
              background: var(--tableCostCommonBg);
              color: var(--tableDataColor) !important;
              border-radius: 4px;
              padding: 6px;
            }
          }
        }
      }
      .chain-card-loading {
        cursor: default;
        .chain-card-child {
          cursor: default;
        }
        &:hover {
          .defiMenu {
            filter: opacity(0.5);
          }
          .chain-card-child {
            .portfolioNetworksText {
              color: var(--sidebarTextColor);
            }
          }
        }
      }
      .chain-card-active {
        .defiMenu {
          filter: opacity(1);
        }
        .chain-card-child {
          .portfolioNetworksText {
            color: var(--sidebarTextColor);
          }
        }
      }
      .fillter_tabs_section {
        .custom-dropdown {
          background-color: var(--mobileTransactionFiltersBg);

          .dropdown-footer {
            .dropdown-btn {
              &:hover {
                background-color: unset !important;
                color: unset !important;
              }
            }
          }
        }
      }
    }
  }

  .homepage-mobile-view-more {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #7c7d81;
    font-size: 14px;
    font-weight: 600;
    img {
      width: 7px;
      height: 14px;
    }
  }
}

.mobile-portfolio-blocks-gas-fees-expanded {
  min-height: 61rem !important;
  .gas-fees-chart-mobile-expanded {
    .bar-graph-section {
      min-height: 52rem !important;
    }
  }
  .custom-dropdown.lineChart {
    border: 0.1rem solid #19191a;
  }
}

.price-gauge-expanded-mobile {
  .placeholderPriceDropdown {
    min-width: 110px !important;
  }
}

.mobileSeeMoreBtn {
  display: flex;
  align-items: center;

  .mobileSeeMoreBtnTxt {
    font-size: 13px;
    font-weight: 500;
    color: var(--seeMoreColor);
  }
  .mobileSeeMoreBtnIcon {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
    filter: brightness(0.5);
    height: 8px;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0rem !important;
    height: 0rem !important;
    background-color: transparent !important;
    display: none !important;
  }
  &::-webkit-scrollbar-thumb {
    height: 0rem !important;
    width: 0rem !important;
    background-color: transparent !important;
    display: none !important;
  }
  div::-webkit-scrollbar {
    width: 0rem !important;
    height: 0rem !important;
    background-color: transparent !important;
    display: none !important;
  }
  div::-webkit-scrollbar-thumb {
    height: 0rem !important;
    width: 0rem !important;
    background-color: transparent !important;
    display: none !important;
  }
}
.mobilePortfolioContainerNew {
  .placeholderPriceDropdown {
    min-width: 13rem !important;
  }
}
