.insightsPageContainer {
  .insights-section {
    .insights-filter {
      background-color: var(--insightsFilter);
      .filter {
        background-color: transparent;
        color: var(--primaryTextColor);
        opacity: 0.5;
        &:hover {
          background-color: var(--insightsFilterSelected);
        }
      }
      .filter.active {
        opacity: 1;
        background-color: var(--insightsFilterSelected);
      }
    }
  }

  .insights-wrapper {
    .insights-card {
      background-color: var(--insightsBlock);
      .grey-313 {
        color: var(--primaryTextColor);
      }
    }
  }

  .insights-dropdown-wrapper {
    .dropdown-menu {
      background-color: var(--cardBackgroud);
    }
    .btn-primary.dropdown-toggle {
      background-color: var(--primaryBackgroud);
      border: 0.1rem solid transparent;
      padding: 1.2rem 1.6rem;
      border-radius: 0.8rem;
      color: var(--primaryTextColor);

      &:hover {
        border: 0.1rem solid var(--primaryTextColor);
      }
    }

    .btn-primary.dropdown-toggle:focus {
      box-shadow: none;
      border: 0.1rem solid var(--primaryTextColor);
      color: var(--primaryTextColor);
    }

    .dropdown-toggle {
      background-color: var(--primaryBackgroud);
      color: var(--primaryTextColor);
      padding: 1.2rem 1.6rem;
      border-radius: 0.8rem;
      min-width: 15rem;
      transition-duration: 0ms;
    }

    .dropdown-toggle::after {
      margin-left: 0.6rem;
      display: inline-block;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-bottom: 0;
      border-left: 0.35em solid transparent;
    }
  }
}

.insights-expanded-mobile {
  .mobile-insight-dropdown {
    .btn-primary {
      background-color: var(--cardBackgroud) !important;
      color: var(--black191) !important;
      &:focus {
        background-color: var(--cardBackgroud) !important;
        border: 0.1rem solid var(--borderwhiteDarkLight) !important;
      }
    }
  }
}
