.back-test-condition-builder {
  height: 100%;
  font-size: 13px;
  text-shadow: 0.4px 0 var(--primaryTextColor);
  .back-test-condition-builder-grey-text {
    color: var(--primarySubTextColor);
    text-shadow: 0.4px 0 var(--primarySubTextColor);
  }
}
