.portfolio-page-section {

    display: flex;

    .portfolio-section {

        .welcome-card-section {
            margin-top: 9.6rem;
            
            padding: 6.8rem 4.8rem 6rem 4.8rem;
            // width: 89.6rem;
            background-color: $secondary;
            box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04), 0px 1rem 1rem rgba(0, 0, 0, 0.04);
            border-radius: 1.2rem;

            .welcome-card {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .welcome-section-left {
                    .welcome-title {
                        font-size: 2.5rem;
                        line-height: 30px;
                        color: $black-191;
                        margin-bottom: 0.8rem;
                    }

                    p {
                        font-size: 1.6rem;
                        line-height: 19px;
                        color: $grey-969;
                    }

                    .welcome-btn {
                        button {
                            padding: 1.8rem 2.8rem;
                        }

                        .secondary-btn {
                            margin-right: 2.4rem;
                        }
                    }
                }

                .welcome-section-right {
                    // position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .wallet-amount {
                        font-size: 3.9rem;
                        line-height: 47px;
                        margin-bottom: 1.2rem;
                        color: $black-1D2;
                    }

                    button {
                       
                        font-size: 1.6rem;
                       
                        line-height: 19px;
                        padding: 0.85rem 1.2rem;
                        color: $grey-313;
                        background: $green-44F;
                        border: 0.1rem solid #000000;
                        border-radius: 0.812rem;
                        box-shadow:none;
                        img {
                            margin-right: 0.4rem;
                        }
                    }
                    .downfall{
                        background-color:$red-FFE ;
                    }
                    

                }
            }
        }
    }
}