.portfolio-container {
  // width: 80%;
}

.coming-soon-div {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  .coming-soon-img {
    width: 100%; //solve overflow issue
  }
  p {
    position: relative;
    top: -2rem;
  }
}

.portfolio-page-section {
  // display: flex;

  .portfolio-section {
    position: relative;

    .fix-div {
      display: flex;
      border-top: 0.1rem solid $grey-969;
      padding: 2rem 0rem;
      align-items: center;
      position: absolute;
      // bottom: 1rem;
      // bottom: -6rem;
      // right: 13.2rem;
      right: 0rem;
      top: 45%;
      width: 28rem;
      z-index: 1;
      .secondary-btn {
        line-height: 1.9rem;
        border: 0.15rem solid $black-191;
        padding: 1.8rem 2.8rem;
      }
      .secondary-btn.btn-primary:not(:disabled):not(:disabled):active,
      .secondary-btn:active {
        border: 0.15rem solid $black-191;
      }
    }

    .welcome-card-section-topbar {
      position: fixed;
      top: 0;
      left: 26rem;
      right: 0;
      background-color: #ffffff;
      width: 100%;
      height: 8rem;
      padding: 2.05rem 0rem;
      z-index: 4;
      box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04),
        6px 1px 1px rgba(0, 0, 0, 0.04);

      .welcome-card-topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // width: calc(100% - 26rem);
        width: 100%;
        position: relative;

        // 
        padding-left: 14.5rem;
    padding-right: 39rem;

        .row-div{
        display: flex;
        align-items: center;
        justify-content: start;
        }

        .topbar-btn {
          background: rgba(229, 229, 230, 0.5);
          border-radius: 8px;
          padding: 1.2rem 2rem;
          color: $black-191;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.5rem;
          cursor: pointer;

          img {
            margin-right: 0.8rem;
            width: 1.2rem;
            margin-bottom: 0px;
          }

          &:hover {
            background-color: $black-191;
            color: $secondary;

            img{
 filter: invert(1);
            }

           
          }
        }

        .Preview-topbar-btn {
          background: rgba(229, 229, 230, 0.5);
          border-radius: 8px;
          padding: 1.2rem 2rem;
          color: $black-191;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.5rem;
          // cursor: pointer;

          .account-detail{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;

            img{
              width: 1.6rem;
              height: 1.6rem;
              margin-right: 0.8rem;
              filter: brightness(0);
            }

            .account-name{
               margin-left: 0.8rem;
               text-decoration: underline;
            }
          }
        }

        .navbar-button {
                        background: none;
                        border: none;
                        color: $grey-B0B;
                        outline: none !important;
                        box-shadow: none !important;
                    }
                    // &:hover .navbar-button{
                    //     color:$primary
                    // }
                    
                    .signin{
                      img{
                        width:2rem;
                        opacity: 0.4;
                      }
                      

                      &:hover{
                        .navbar-button{
                            color:$primary
                        }
                        img{
                          opacity: 1;

                        }
                      }
                        
                      }


         .wallet-amount {
        font-size: 2.4rem;
        line-height: 3rem;
        color: $black-1D2;
      }

      .growth-div {
        padding: 0.8rem 0.6rem 0.6rem;
        background: $green-E3F;
        border-radius: 8px;
        box-shadow: none;
        img {
          margin-right: 0.4rem;
          width: 1.85rem;
          position: relative;
          top: -1px;
        //   margin-bottom: 0.1rem;
        }
      }

      .downfall {
        background-color: $red-FFE;
      }
      }
    }

    //         .welcome-card-section {
    //           min-width: 82rem;   //solve overflow issue
    //           overflow: hidden;   //solve overflow issue
    //             margin: 5rem 0 1rem;
    //             padding: 4rem 4.8rem;
    //             // width: 89.6rem;
    //             background-color: $secondary;
    //             box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04), 0px 1rem 1rem rgba(0, 0, 0, 0.04);
    //             border-radius: 1.2rem;
    //             position: relative;
    //             &.line{
    //                 margin-top: 0;
    //             }
    // // LINE CHART SLIDER START
    //             &.lineChartSlider{
    //                 margin-top: 0;
    //                 padding: 4rem 0rem;
    //             }

    //             .ChartDivider{
    //                 height: 1px;
    //                 background-color: rgba(229, 229, 230, 0.5);
    //                 width: 100%;
    //                 margin-top: 3rem;
    //             }

    //             .SliderChartBottom{
    //                 padding: 0rem 4.8rem;
    //                 margin-top: 3.3rem;

    //                 h4{
    //                     display:flex;
    //                     align-items: center;

    //                     img {
    //                         margin-right: 1rem;
    //                         }
    //                 }

    //                 .InternalEventWrapper{
    //                     display: flex;
    //                    align-items: stretch;
    //                     justify-content: space-between;
    //                     margin-top: 2rem;
    //                     flex-wrap: wrap;

    //                     .GreyChip{
    //                         display: flex;
    //                         align-items: center;
    //                         justify-content: start;
    //                         padding: 1.2rem;
    //                         background: rgba(229, 229, 230, 0.5);
    //                         border-radius: 8px;
    //                         margin-bottom: 1.2rem;
    //                         width: 49%;
    //                         flex-wrap: nowrap;

    //                         h5{
    //                             display:flex;
    //                             align-items: center;
    //                             margin-right: 0.5rem;

    //                             img{
    //                             margin-right: 1rem;
    //                         }
    //                         }

    //                     }
    //                 }
    //             }
    // // LINE CHART SLIDER END
    //             .welcome-card {

    //                 margin-bottom: 2.3rem;
    //                 .welcome-card-upper-section{
    //                     display: flex;
    //                     align-items: flex-start;
    //                     justify-content: space-between;
    //                 }

    //                 .welcome-section-left {

    //                     .welcome-title {
    //                         margin-bottom: 0.8rem;
    //                     }

    //                     p {
    //                         font-size: 1.3rem;
    //                         line-height: 15.6px;
    //                         color: $grey-969;
    //                     }

    //                     // .welcome-btn {
    //                     //     button {
    //                     //         padding: 1.65rem 2.8rem;
    //                     //     }
    //                     //     .primary-btn{
    //                     //       &:hover:not([disabled]){
    //                     //         border-color: $secondary;
    //                     //         box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04), 0px 1rem 1rem rgba(0, 0, 0, 0.04);
    //                     //         color: $black-191;
    //                     //         background-color: $secondary;
    //                     //       }
    //                     //     }
    //                     //     .secondary-btn {
    //                     //         margin-right: 2.4rem;
    //                     //         &:hover{
    //                     //           background-color: $black-191;
    //                     //           color: $secondary;
    //                     //         }
    //                     //     }
    //                     // }
    //                 }

    //                 .welcome-section-right {
    //                     // position: relative;
    //                     display: flex;
    //                     flex-direction: column;
    //                     align-items: flex-end;

    //                     .wallet-amount {
    //                         font-size: 3.2rem;
    //                         line-height: 38px;
    //                         // margin-top: 1.2rem;
    //                         color: $black-1D2;
    //                     }

    //                     .growth-div {
    //                         padding: 0.85rem 1.2rem;
    //                         background: $green-E3F;
    //                         border-radius: 8px;
    //                         box-shadow: none;
    //                         img {
    //                             margin-right: 0.4rem;
    //                         }
    //                     }

    //                     .downfall {
    //                         background-color: $red-FFE ;
    //                     }
    //                 }
    //                 .welcome-btn{
    //                     position: absolute;
    //                     bottom:0;
    //                     left: 0;
    //                     width: 100%;
    //                     display: flex;

    //                     .manage-wallet{
    //                         border-radius:0;
    //                         border-bottom-left-radius: 1.1rem;
    //                         background-color: $secondary ;
    //                         color: $black-191;
    //                         border-right:1px solid $white-E5E;

    //                       &:hover{
    //                         background-color:  $black-191;
    //                         color: $secondary;
    //                       }
    //                     }
    //                     .add-wallet{
    //                         border-radius:0;
    //                         border-bottom-right-radius: 1.1rem;
    //                         // background-color:  $black-191;
    //                         // color: $secondary;
    //                         background-color: $secondary;
    //                         color: $black-191;
    //                         &:hover{
    //                           // background-color: $secondary ;
    //                           // color: $black-191;
    //                           background-color:  $black-191;
    //                           color: $secondary;
    //                         }
    //                     }
    //                     button{
    //                         width: 50%;
    //                         height: 5.6rem;
    //                         background-color: $secondary ;
    //                         border:0px solid $white-E5E;
    //                         border-top:1px solid $white-E5E;
    //                         display: flex;
    //                         align-items: center;
    //                         justify-content: center;
    //                         // padding: 1px;
    //                         img{
    //                             margin-right: 0.8rem;
    //                         }

    //                         &:focus{
    //                             // background-color: $black-191;
    //                             // color:$secondary;
    //                             // border:none;
    //                             box-shadow:none;
    //                         }
    //                     }
    //                 }
    //             }

    //             .line-chart-section {
    //                 position: relative;

    //                 .chart-y-selection{
    //                     position: relative;
    //                     .line-chart-dropdown-y-axis{
    //                         position: absolute;
    //                         left: 0rem;
    //                         z-index:1;
    //                         // .dropdown{
    //                             // .dropdown-menu{
    //                             //     width: auto;
    //                             //     padding: 0.4rem;

    //                             // }
    //                             // .dropdown-toggle {
    //                             //     @include font($grey-7C7, "Inter-SemiBold", 1.1rem, 600, 1.2rem);
    //                             //       background: $secondary;
    //                             // }
    //                         // }
    //                     }
    //                     // .dropdown .btn-primary:not(:disabled):not(.disabled):active {
    //                     //     border: none;
    //                     // }
    //                 }
    //                 .chart-x-selection {
    //                     position: relative;

    //                     // .x-axis-selection-date {
    //                     //     position: absolute;
    //                     //     right: 0rem;
    //                     //     bottom: 1.3rem;
    //                     //     border: none;
    //                     //     outline: none;
    //                     //     padding-left: 1.5rem;
    //                     // }
    //                     .dropdown{
    //                         position: absolute;
    //                         top: -1rem;
    //                         right: 0rem;
    //                         .dropdown-menu{
    //                             width: auto;
    //                             padding: 0.4rem;
    //                             // overflow-y: scroll;
    //                             // height: 17rem;

    //                         }
    //                         .dropdown-toggle {
    //                             @include font($grey-7C7, "Inter-SemiBold", 1.1rem, 600, 1.2rem);
    //                               background: $secondary;
    //                               padding-left: 4.5rem;
    //                         }

    //                     }

    //                     .dropdown .btn-primary:not(:disabled):not(.disabled):active {
    //                         border: none;
    //                     }

    //                     .y-axis-selection-currency {
    //                         position: absolute;
    //                         /* top: 0rem; */
    //                         z-index: 1;
    //                         left: -0.7rem;
    //                         // top: 1.7rem;
    //                         top: 14.5rem;
    //                         border: none;
    //                         outline: none;
    //                     }

    //                 }

    //                 .coin-badges {
    //                     .dropdown {

    //                         .dropdown-toggle,
    //                         .dropdown-toggle:focus {
    //                             box-shadow: -2.5rem 0rem 2.4rem 2rem $secondary !important;
    //                         }
    //                     }
    //                 }

    //                 // .highcharts-container {
    //                 //     svg{
    //                 //         .highcharts-legend {
    //                 //             .highcharts-legend-item{
    //                 //                 text{
    //                 //                 font-family: "inter-medium";
    //                 //                 font-size: 1rem;
    //                 //                 }
    //                 //             }
    //                 //         }
    //                 //     }
    //                 // }
    //                 .highcharts-scrollbar-button{
    //                     display: none;
    //                 }
    //                 .highcharts-scrollbar-arrow{
    //                     display: none;
    //                 }
    //             }
    //         }

    .highcharts-data-label-box {
      height: 3.5rem;
      text-align: center; // padding: 0.8rem 1.2rem !important;
    }

    .highcharts-xaxis-labels {
      font-family: "Inter-Regular";
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $grey-869;
    }

    .highcharts-yaxis-labels {
      font-family: "Inter-Regular";
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $grey-B0B;
    }

    .highcharts-tooltip {
      // box-shadow : 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
      .line-chart-tooltip {
        display: flex;
        flex-direction: column;
        .header-title {
          text-transform: uppercase;
          letter-spacing: 0.125rem;
        }
        .line-chart-tooltip-section {
          display: flex;
          // align-items:center;
          flex-direction: column;
          justify-content: left;
          padding: 0.4rem 0.8rem;
          border-radius: 0.4rem;
          .inter-display-medium {
            display: block;
          }
        }
        .tooltip-section-yellow {
          background-color: $yellow-F5E;
          width: max-content;
        }
        .top-section {
          width: max-content;
          .tooltip-section-grey {
            background-color: #fbf6d0;
          }
          .tooltip-section-blue {
            background-color: #c6e4ff;
          }
        }
        .bottom-section {
          .tooltip-section-bottom {
            // background-color: $yellow-FBF;
            background-color: $yellow-F5E;
            padding: 0.8rem;
            white-space: normal !important;
            word-wrap: break-word;
            border-radius: 0.4rem;
            // max-width:83%;
            max-width: max-content;
          }
        }
      }
      // .linechart-tooltip {
      //     display: flex;
      //     flex-direction: column;
      //     padding: 1.2rem;
      //     // border-radius: 0.8rem;
      //     // border: 0.1rem solid $grey-E5E;
      //     box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.04), 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.04);

      //     // background-color: $secondary;
      //     .header-title {
      //         text-transform: uppercase;
      //         letter-spacing: 0.125rem;
      //     }

      //     .top-title {
      //         display: flex;
      //         align-items: center;
      //         padding: 0.4rem 0.8rem;
      //         border-radius: 0.4rem;
      //     }

      //     .top-title-1 {
      //         background-color: $blue-C6E;
      //     }

      //     .top-title-2 {
      //         background-color: rgba(245, 232, 137, 0.5);
      //         width: max-content;
      //     }

      //     .bottom-title {
      //         background-color: rgba(245, 232, 137, 0.5);
      //         padding:0.8rem;
      //         border-radius:0.4rem;
      //         .span-bottom {
      //             white-space: normal !important;
      //             word-wrap: break-word;
      //         }
      //     }
      // }
    }
  }

  .portfolio-over-container {
    min-width: 82rem; //solve overflow issue
    overflow: hidden; //solve overflow issue
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    // padding-bottom: 5rem;

    .overview-heading {
      width: 100%;
    }

    .loading-animation {
      width: 76.5rem;
      height: 36.5rem;
    }

    .chart-section {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .custom-highchart,
      .highcharts-container,
      .highcharts-root {
        overflow: visible !important;
      }

      .pie-chart-middle-text-container {
        text-align: center;

        .pie-chart-middle-text {
          // display: flex;

          .pie-chart-middle-text-currency {
            margin: 0.4rem 0;
          }
        }
      }
    }
  }

  .graph-table-section {
    // display: flex;
    .row {
      margin: 0rem;
      .col-md-6 {
        padding: 0rem;
      }
    }
    .section-table,
    .section-chart {
      background-color: $secondary;
      border-radius: 1.2rem;
      box-shadow: 0px 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      margin-bottom: 1rem;
    }

    .section-table {
      // width: 50%;

      .transaction-table-section {
        .graph-header {
          h4 {
            cursor: pointer;
          }
          p {
            margin-bottom: 0.3rem;
          }
        }
        .history-table-method {
          width: 7rem !important;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .section-chart {
      // width: 50%;
      // height: 100%;
      position: relative;

      .bar-graph-section {
        padding: 3.2rem 2.4rem 3rem 1.6rem;
        // width: 44.3rem;
        box-shadow: none;
        width: 100%;
        // height: 500px;
        .graph-header {
          padding-left: 1.6rem;
          .header {
            .inter-display-semi-bold {
              cursor: pointer;
            }
          }
        }
        .custom-label {
          padding-top: 0;
          padding-bottom: 1.5rem;
        }
        .chartArea {
          height: 34.3rem;
        }
      }
      .loading-wrapper {
        height: 51rem;
        margin: 0;
        .loading-animation {
          height: 100%;
        }
      }
    }
  }
  .profit-chart {
    min-height: 51rem;
    .bar-graph-section {
      height: 51rem;
      min-height: 51rem;
      margin-bottom: 0;
      width: 100%;
      .portfolio-profit-and-loss {
        height: 83%;
      }
    }
    // .ChartAreaWrapper,
    .custom-label {
      padding-bottom: 0;
    }
    .chartArea {
      // min-height: 30rem;
      height: 100%;
    }
    .header {
      h4 {
        cursor: pointer;
      }
    }
  }
  .portfolio-cost-table-section {
    position: relative;
    .portfolio-cost-table {
      background-color: $secondary;
      border-radius: 1.2rem;
      box-shadow: 0px 0.315493rem 0.473239rem -0.315493rem rgba(24, 39, 75, 0.12),
        0rem 0.630986rem 0.630986rem -0.315493rem rgba(24, 39, 75, 0.08);
      padding-bottom: 1.6rem;
      margin-bottom: 1rem;
      // .transaction-table-section{
      //     .ReactVirtualized__Table__headerRow{
      //         .ReactVirtualized__Table__headerColumn{
      //             // text-align: left;
      //             // padding-left: 2.5rem ;
      //         }
      //     }
      // }
    }
    .section-chart {
      .bar-graph-section {
        width: 100%;
        .graph-header {
          .header {
            h4 {
              cursor: pointer;
            }
          }
        }
        .portfolio-counterparty-fee {
          height: 35rem;
          .chartArea {
            height: 100%;
          }
        }
      }
    }
  }

  .insight-slider{
// position: relative;
    
 
     .steps {
                border: 1px solid $grey-E5E;
                border-radius: 1.2rem;
                margin-bottom: 1rem;
               
                // margin-right: 0.6rem;
                margin-right: 1.3rem;
                background: #FFFFFF;
box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12), 0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
height: 100%;


                .top-section{
                    background-color: rgba(229, 229, 230, 0.5);
                    display: flex;
                    align-items: center;
                    border-top-right-radius: 1.2rem;
                    border-top-left-radius: 1.2rem;
                     padding: 1.6rem;

                     img{
                        // filter: invert(1);
                        width: 4rem;
                        height:  4rem;
                     }

                    .insight-title{
                       
                        margin-left: 1.2rem;

                        h5{
                            // color:#fff;
                            text-transform: capitalize;
                        }

                        h6{
                            // color:#E5E5E680;
                        }
                    }

                }

                .content-section{
 padding: 1.6rem;
                }
              }
              .slick-dots {
                width: max-content;
                li {
                  margin: 0;
                  width: 12px;
                  button {
                    width: 12px;
                    &::before {
                      width: 12px;
                      color: $grey-E6E;
                      opacity: 1;
                    }
                  }
                  &.slick-active {
                    button {
                      &::before {
                        color: $grey-636;
                      }
                    }
                  }
                }
              }
              .slick-next,
              .slick-prev {
                top: auto;
                bottom: -3.5rem;
                    filter: brightness(0.2);
              }
              .slick-next {
                left: 2rem;

                &.slick-disabled{
                    filter: brightness(1);
                }
              }
              .slick-prev {
                right: 2rem;
                left: 0;

                  &.slick-disabled{
                    filter: brightness(1);
                }
              }

              .bottom-msg{
                
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3.4rem;
    left: 3.2rem;
    right: 3.2rem;

                
                .row-insight{
                    display: flex;
                    align-items: center;

                    .op{
                    opacity: 0.6;
                }
               
                }

                 .row-insight-arrow{
                    display: flex;
                    align-items: center;

                    &:hover{
                        opacity: 0.6;
                    }
                }
                
              }
  }
}

.no-data-piechart {
  padding: 7rem 0;
  text-align: center;
}

.coin-hover-display {
  width: max-content;
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary;
  box-shadow: 0px 6.17911px 18.5373px rgba(109, 109, 109, 0.15);
  border-radius: 0.8rem;

  .coin-hover-display-text {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 0.5rem;
  }

  .coin-hover-display-text-icon {
    // padding: 1.6rem 1.6rem 1.6rem 1.2rem;
  }

  .coin-hover-display-icon {
    // width: 9.1rem;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 1.2rem;
  }

  .coin-hover-display-text1 {
    //padding: 2rem 0 0 8.9rem;

    //padding-right: 3.8rem;
    //padding-top: 2rem;
    //position: absolute;
    //width: 25.4rem;

    .coin-hover-display-text1-upper {
      // display: flex;
      // justify-content: space-evenly;
      .coin-hover-display-text1-upper-coin {
        padding-left: 1.2rem;
      }

      .coin-hover-display-text1-upper-percent {
        padding-left: 0.8rem;
      }
    }

    .coin-hover-display-text1-lower {
      display: flex;
      align-items: baseline;
      padding-top: 0.8rem;

      .coin-hover-display-text1-lower-coincount {
        padding-left: 1.2rem;
      }
    }

    .coin-hover-display-text1-lower-coincode,
    .coin-hover-display-text1-lower-coincurrency {
      padding-left: 0.8rem;
      letter-spacing: 1.25px;
    }

    .coin-hover-display-text1-lower-coinrevenue {
      padding-left: 2rem;
    }
  }

  .coin-hover-display-text2 {
    .coin-hover-display-text2-upper {
      display: flex;
      justify-content: space-between;
    }

    //margin-left: 32.7rem;
    .coin-hover-display-text2-upper-coin {
      max-width: 11.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .coin-hover-display-text3 {
    //margin-left: 51.1rem;
  }

  .coin-hover-display-text4 {
    //margin-left: 70.2rem;
  }

  .coin-hover-display-text2,
  .coin-hover-display-text3,
  .coin-hover-display-text4 {
    //position: absolute;
    // box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    padding: 1rem 1rem;
    //width: 17.4rem;
    // height: 7rem;
    // border-left: 0.1rem solid #E5E5E6;

    .coin-hover-display-text2-lower,
    .coin-hover-display-text3-lower,
    .coin-hover-display-text4-lower {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 1rem;
    }

    .coin-hover-display-text2-upper-percent,
    .coin-hover-display-text3-upper-percent,
    .coin-hover-display-text4-upper-percent {
      padding-left: 0.8rem;
    }

    .coin-hover-display-text2-upper-coincode,
    .coin-hover-display-text2-upper-coincurrency,
    .coin-hover-display-text3-upper-coincode,
    .coin-hover-display-text3-upper-coincurrency,
    .coin-hover-display-text4-upper-coincode,
    .coin-hover-display-text4-upper-coincurrency {
      padding-left: 0.3rem;
      letter-spacing: 1.25px;
    }

    .coin-hover-display-text2-upper-coinrevenue,
    .coin-hover-display-text3-upper-coinrevenue,
    .coin-hover-display-text4-upper-coinrevenue {
      padding-left: 2rem;
    }
  }
}

.welcome-section-level1 {
  display: contents;
}

.piechart-column {
  align-items: inherit;
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.point-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.2rem;
}

.portfolio-over-container {
  .manage-wallet-card {
    background-color: #ffffff;
    box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
      0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
    border-radius: 12px;
    padding: 1.6rem 2rem;
    margin-top: 1.6rem;
    margin-bottom: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wallet-btn {
      display: flex;
      align-items: center;

      .wallet-icon-bg {
        background-color: rgba(229, 229, 230, 0.5);
        border-radius: 12px;
        height: 3.2rem;
        width: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;

        img {
          height: 1.3rem;
          width: 1.3rem;
        }
      }
    }
  }
  .chain-card {
    background-color: #ffffff;
    box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
      0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
    border-radius: 12px;
    padding: 1.6rem 2rem;
    margin-top: 1.6rem;
    margin-bottom: 2.8rem;
    user-select: none;
    //   cursor: pointer;
    position: relative;
    border: 1px solid #f2f2f2;

    &:hover {
      // border: 1px solid $grey-E5E;
      border: 1px solid $grey-E5E;
    }

    .chain-list {
      // margin-top: 1rem;
      position: absolute;
      top: 4.3rem;
      background-color: #ffffff;
      left: 0;
      box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      border-radius: 0px 0px 12px 12px;
      padding: 1.6rem 2rem;
      width: 100%;
      z-index: 2;

      .chain-content {
        max-height: 25rem;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar {
          width: 0.4rem;
          height: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 0.8rem;
          background-color: $scrollBar-thumb;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(229, 229, 230, 0.5);
          // background-color: $grey-E5E;
          border-radius: 0.8rem;
        }
      }

      .chain-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0rem;
        margin-right: 1.6rem;
        border-top: 1px solid rgba(229, 229, 230, 0.5);

        span img {
          position: relative;
          margin-right: 1rem;
          z-index: 1;
        }

        .chain-list-amt {
          background-color: rgba(229, 229, 230, 0.5);
          border-radius: 4px;
          padding: 6px;
        }
      }
    }
  }
  .balance-sheet-card {
    background-color: #ffffff;
    box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
      0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
    border-radius: 12px;
    padding: 2rem 2rem 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 2.8rem;
    user-select: none;
    //   cursor: pointer;
    position: relative;

    .balance-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-bottom: 1rem;

      img {
        height: 1.25rem;
        width: 1.25rem;
        margin-bottom: 5px;
      }
    }
    .balance-dropdown {
      position: absolute;
      top: 4rem;
      background-color: #ffffff;
      left: 0;
      box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      border-radius: 0px 0px 12px 12px;
      padding: 1.6rem 2rem;
      width: 100%;
      z-index: 1;

      .balance-list-content {
        max-height: 15rem;
        overflow-y: scroll;
        width: 100%;

        &::-webkit-scrollbar {
          width: 0.4rem;
          height: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 0.8rem;
          background-color: $scrollBar-thumb;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(229, 229, 230, 0.5);
          // background-color: $grey-E5E;
          border-radius: 0.8rem;
        }
      }

      .balance-sheet-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.15rem 0rem;
        border-top: 1px solid rgba(229, 229, 230, 0.5);
        margin-right: 1.6rem;

        .balance-amt {
          background-color: rgba(229, 229, 230, 0.5);
          border-radius: 4px;
          padding: 6px;
        }
      }
    }
  }

  .refresh-btn {
    display: flex;
    align-items: center;
    user-select: none;
    width: max-content;

    img {
      position: relative;
      margin-right: 6px;
      width: 1.3rem;
      height: 1.3rem;
      filter: opacity(0.4);
    }

    &:hover {
      color: $primary;

      span {
        color: $primary;
      }

      img {
        filter: opacity(1);
      }
    }
  }

  
}
