.bar-graph-footer {
    margin-top: 3.4rem;
    // display: flex;
    // justify-content: space-around;
    // padding-left: 2.7rem;
    .row{
        margin-left: 1.8rem;
        .col-md-2{
            padding: 0rem;
        }
    }
    .timeBadge {
        padding: 1.2rem 1rem;
        width: 7.5vw;
        min-width: 8.5rem;
        background-color: $grey-F2F;
        border-radius: 0.8rem;
        border: 0.15rem solid $grey-F2F;
        color: $black-191;
        cursor: pointer;
        text-align: center;
    }

    .active {
        background-color: $yellow-FBF;
        border: 0.15rem solid $primary;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
    }

    .timeBadgeWrapper{
        display:flex;
        flex-wrap:wrap;
        justify-content :space-between;
    }

    @media only screen and (max-width : 1123px)
    { 
    .timeBadge {
        margin-bottom: 1.5rem;
    }
                    
                    
} 
}


// @media screen  and (max-device-width : 1123px)
// { 
//     .bar-graph-footer .timeBadge {
//         margin-bottom: 1.5rem;
//     }
                    
                    
// }  