.bar-graph-footer {
    margin-top: 3.4rem;
    display: flex;
    justify-content: space-around;
    padding-left: 2.7rem;

    .timeBadge {
        padding: 1.05rem 3.14rem;
        background-color: $grey-F2F;
        border-radius: 0.8rem;
        border: 0.15rem solid $grey-F2F;
        color: $black-191;
        cursor: pointer;
    }

    .active {
        background-color: $yellow-FBF;
        border: 0.15rem solid $primary;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
    }
}