.intelligenceRealisedLeftContainer {
  width: 50%;
  margin-bottom: 2rem;
}
.intelligenceRealisedInfoIcon {
  margin-left: 1rem;
  cursor: pointer;
  img {
    height: 1.6rem;
  }
}
.intelligenceRealisedRightContainer {
  margin-bottom: 2rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  .intelligenceRealisedRightItems {
    width: 12rem;
    // background-color: red;
    height: 4rem;
    .custom-dropdown {
      height: 100%;
    }
    .IRRIbreakdownContainer {
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      height: 100%;
      width: 100%;
      height: 100%;
      padding: 0rem 1rem;
      background-color: transparent;
      border-radius: 0.8rem;

      border: 0.1rem solid #e5e5e680;
      // border: 0.1rem solid #b0b1b3;
      color: #19191a;
      transition-duration: 300ms;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .IRRIbreakdownImageContainer {
        background-color: transparent;
        border-radius: 0.4rem;
        border: 0.1rem solid #e5e5e680;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        transition-duration: 300ms;
        .IRRIbreakdownImage {
          height: 1.1rem;
          width: 1.1rem;
        }
      }

      &:hover {
        border-color: #19191a;
        .IRRIbreakdownImageContainer {
          border-color: transparent;
          background-color: rgba(51, 51, 51, 0.3);
        }
      }
    }
    .IRRIbreakdownContainerSelected {
      border-color: #e5e5e680;
      .IRRIbreakdownImageContainer {
        background-color: #333333;
        border-color: #333333;
      }
      &:hover {
        .IRRIbreakdownImageContainer {
          border-color: transparent;
          background-color: #333333;
        }
      }
    }
  }
  .intelligenceRealisedRightMiddleItem {
    margin: 0rem 1rem;
  }
}
.mobileGasFeesExpandedViewDropdownContainer {
  .custom-dropdown {
    background-color: var(--cardBackgroud) !important;
    border-color: var(--borderwhiteDarkLight) !important;
    .dropdown-content {
      transform: translateX(0.5rem);
    }
    &:hover {
      background-color: var(--cardBackgroud) !important;
      border-color: var(--black191) !important;
    }
  }
}
.intelligenceRealisedRightContainerMobile {
  width: 100%;
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  .intelligenceRealisedRightItemsMobile {
    width: 48% !important;
    .custom-dropdown {
      background-color: var(--greyCardBackgroud) !important;
      border-color: var(--greyCardBackgroud) !important;
      transition-duration: 300ms;
      &:hover {
        background-color: var(--cardBackgroud) !important;
        border-color: #e1e1e1 !important;
      }
    }
  }
}
.bar-graph-footer {
  // margin-top: 2rem;
  // display: flex;
  // justify-content: space-around;
  // padding-left: 2.7rem;
  &.linechartFooter {
    // width: 20%;
    // position: absolute;
    // z-index: 1;
    // left: 60px;
    // top: 2px;
    margin-bottom: 0rem;
    width: 100%;
  }

  .row {
    margin-left: 1.8rem;
    .col-md-2 {
      padding: 0rem;
    }
  }
  .timeCalendarBadgeWrapper {
    display: flex;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    height: 4rem;
    .timeCalBadge {
      // width: 100%;
      height: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      .timeBadgeCalendarContainer {
        height: 100%;
        .timeBadgeCalendarText {
          height: 100%;
        }
      }
      background-color: transparent;
      border-radius: 0.8rem;
      border: 0.1rem solid var(--borderwhiteDarkLight);
      color: var(--black191);
      transition-duration: 300ms;
      cursor: pointer;
      text-align: center;
      .intelligenceCalendar {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        padding-top: 2rem;
        z-index: 100;
        height: fit-content;
        .calendar-select {
          padding: 0.6rem;
          border: 1px solid $secondary;
          border-radius: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-shadow: 0px 6.17911px 18.5373px rgba(109, 109, 109, 0.15);
          .react-calendar__navigation {
            justify-content: center;
            align-items: center;
            height: 2.8rem;
            width: 100%;
            margin: 1rem 0rem 1.9rem 0rem;
            button {
              margin: 0 0.5rem;
              min-height: 2.8rem;
              min-width: 2.8rem;
              padding: 0;
              &:enabled:hover,
              &:enabled:focus {
                background-color: $secondary;
              }
            }
            .react-calendar__navigation__arrow {
              
              border-radius: 0.8rem;
              border: 1px solid var(--sidebarSectionalBOrder) !important;
              color: #19191a;
              filter: var(--invertColor);
            }
            .react-calendar__navigation__label {
              pointer-events: none;
              height: 2.8rem;
              width: 10.5rem !important;
              color: #19191a;
            }
          }

          .react-calendar__month-view {
            .react-calendar__month-view__days__day--weekend {
              color: $black-191;
            }
            .react-calendar__tile--now {
              background: inherit;
            }
            .react-calendar__month-view__days__day--neighboringMonth {
              pointer-events: none;
              color: $grey-E5E !important;
              &:hover {
                background-color: inherit;
                color: $grey-E5E;
              }
              &:active {
                background-color: inherit;
                color: $grey-E5E;
              }
            }
            .react-calendar__tile--active {
              background-color: var(--black191);
              border-radius: 0.4rem;
              color: var(--secondaryTextColor) !important;
            }
            .react-calendar__tile {
              color: $grey-B0B;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.8rem;
              height: 2.8rem;
              &:disabled {
                background-color: var(--primaryFilter) !important;
                color: $grey-B0B !important;
                &:hover {
                  color: $grey-B0B !important;
                }
                &:active {
                  color: $grey-B0B !important;
                }
              }
              &:hover {
                background-color: $drop-button-hover;
                border-radius: 0.4rem;
                color: var(--sameModeColor) !important;
              }
              &:active {
                background-color: $black-191;
                border-radius: 0.4rem;
                color: $secondary !important;
              }
            }
            abbr[title] {
              text-decoration: none !important;
            }
            .react-calendar__month-view__weekdays__weekday {
              text-transform: none;
              color: $grey-B0B;
            }
            .react-calendar__month-view__weekdays {
              font-weight: normal;
              font-size: inherit;
              pointer-events: none;
            }
          }
        }
      }
      .timeBadgeCalendarContainer {
        position: relative;
        .timeBadgeCalendarText {
          padding: 0rem 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &:hover {
        border: 1px solid var(--black191);
        background-color: transparent;
      }
    }
    .timeNoCalBadge {
      // width: 100%;
      background-color: transparent;
      border-radius: 0.8rem;
      border: 0.1rem solid transparent;
      color: var(--black191);
      cursor: default;
      text-align: center;
      padding: 1.125rem 1rem;
    }
    .timeNoCalBadgeNoLeft {
      padding-left: 0;
    }
  }
  .timeCalendarBadgeWrapperMobile {
    justify-content: space-between;
    .timeCalBadge {
      background-color: var(--greyCardBackgroud);
      border-color: var(--greyCardBackgroud) !important;
      width: 48%;
    }
  }

  .timeBadge {
    padding: 1.125rem 1rem;
    width: 100%;
    // min-width: 6.5rem;
    background-color: transparent;
    border-radius: 0.8rem;
    border: 0.1rem solid transparent;
    color: var(--black191);
    cursor: pointer;
    text-align: center;

    &.lineChartTimeBadge {
      padding: 0.8rem 1rem;
      width: 100%;
      background-color: var(--primaryFilter);
      border-radius: 0.8rem;
      border: 0.1rem solid  var(--primaryFilter);
      color: var(--black191);
      cursor: pointer;
      text-align: center;

      &.active {
        // background-color: $yellow-F5E;
        border: 1px solid rgba(229, 229, 230, 0.5);
        box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12),
          0px 14px 64px -4px rgba(24, 39, 75, 0.12);
        border-radius: 8px;
        background: var(--primaryFilterActive);
      }
    }
  }

  .active {
    // background-color: $yellow-F5E;
    border: 1px solid rgba(229, 229, 230, 0.5);
    box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12),
      0px 14px 64px -4px rgba(24, 39, 75, 0.12);
    border-radius: 8px;
    background: var(--cardBackgroud);
  }

  .timeBadge:hover {
    border: 1px solid rgba(229, 229, 230, 0.5);
    box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12),
      0px 14px 64px -4px rgba(24, 39, 75, 0.12);
    border-radius: 8px;
    background: var(--cardBackgroud);
  }

  .timeBadgeWrapper {
    display: flex;
    // flex-wrap:wrap;
    column-gap: 1rem;
    justify-content: space-between;

    &.lineChart {
      display: flex;
      // flex-wrap:wrap;
      column-gap: 1rem;
      // justify-content :space-between;
    }
  }

  // @media only screen and (max-width : 1410px){
  // &.linechartFooter{
  //     width: 20%;
  // }
  // }

  @media only screen and (max-width: 1123px) {
    .timeBadge {
      // margin-bottom: 1.5rem;
    }

    .timeBadgeWrapper {
      // flex-wrap:wrap;

      &.lineChart {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 1rem;
        // justify-content :space-between;
      }
    }
    .timeBadge {
      width: 20%;
      // min-width: 6.5rem;
    }
    .timeBadeMobile {
      width: 100%;
    }
  }
}

// @media screen  and (max-device-width : 1123px)
// {
//     .bar-graph-footer .timeBadge {
//         margin-bottom: 1.5rem;
//     }

// }
