.bar-graph-footer {
    // margin-top: 2rem;
    margin-bottom: 2rem;
    // display: flex;
    // justify-content: space-around;
    // padding-left: 2.7rem;
    &.linechartFooter{
        // width: 20%;
        // position: absolute;
        // z-index: 1;
        // left: 60px;
        // top: 2px;
         margin-bottom: 0rem;
         width: 100%;
    }

    .row{
        margin-left: 1.8rem;
        .col-md-2{
            padding: 0rem;
        }
    }
    .timeBadge {
        padding: 1.125rem 1rem;
        width: 100%;
        // min-width: 6.5rem;
        background-color: $grey-F2F;
        border-radius: 0.8rem;
        border: 0.1rem solid $grey-F2F;
        color: $black-191;
        cursor: pointer;
        text-align: center;

        &.lineChartTimeBadge{
            padding: 0.8rem 1rem;
            width: 100%;
            background-color: #f2f2f2;
            border-radius: 0.7rem;
            border: 0.1rem solid #f2f2f2;
            color: #19191A;
            cursor: pointer;
            text-align: center;

            &.active {
        
        // background-color: $yellow-F5E;
        border: 0.1rem solid $primary;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
    }
        }
    }

    .active {
       
        // background-color: $yellow-F5E;
        border: 0.1rem solid $primary;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
    }

    .timeBadge:hover{
         border: 0.1rem solid $primary;
    }

    .timeBadgeWrapper{
        display:flex;
        // flex-wrap:wrap;
        column-gap: 1rem;
        justify-content :space-between;

        &.lineChart{
            display:flex;
        // flex-wrap:wrap;
            column-gap: 1rem;
            // justify-content :space-between;
        }
    }

    @media only screen and (max-width : 1410px){
    &.linechartFooter{
        width: 20%;
    }
    }

    @media only screen and (max-width : 1123px)
    {
    .timeBadge {
        // margin-bottom: 1.5rem;
    }

    .timeBadgeWrapper{
        // flex-wrap:wrap;

         &.lineChart{
            display:flex;
        flex-wrap:nowrap;
            column-gap: 1rem;
            // justify-content :space-between;
        }
    }
     .timeBadge {
    
        width: 20%;
        // min-width: 6.5rem;

    }


}
}


// @media screen  and (max-device-width : 1123px)
// {
//     .bar-graph-footer .timeBadge {
//         margin-bottom: 1.5rem;
//     }


// }