@include font-face(Inter-Regular, "/assets/fonts/Inter/Inter-Regular", normal, normal, ttf);
@include font-face(Inter-Black, "/assets/fonts/Inter/Inter-Black", 900, bold, ttf);
@include font-face(Inter-Bold, "/assets/fonts/Inter/Inter-Bold", bold, bold, ttf);
@include font-face(Inter-Medium, "/assets/fonts/Inter/Inter-Medium", 500, normal, ttf);
@include font-face(Inter-SemiBold, "/assets/fonts/Inter/Inter-SemiBold", 600, bold, ttf);
@include font-face(Inter-ExtraBold, "/assets/fonts/Inter/Inter-ExtraBold", 900, bold, ttf); //Need to change values
@include font-face(Inter-Thin, "/assets/fonts/Inter/Inter-Thin", 400, normal, ttf); //Need to change values
@include font-face(Inter-Light, "/assets/fonts/Inter/Inter-Light", 500, normal, ttf); //Need to change values
@include font-face(Inter-ExtraLight, "/assets/fonts/Inter/Inter-ExtraLight", 500, normal, ttf); //Need to change values
// @include font-face(Inter-BoldItalic, "/assets/fonts/Inter/Inter-BoldItalic", bold, bold, ttf);

// SET THE BASE HTML REM, MAKING 1REM=10PX
html {
  font-size: 10px;
  background-color: $grey-F2F;
}

#root {
  background-color: $grey-F2F;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

body {
  // background-color: $primary;
}

.main-section {
  display: flex;
  height: 100vh;
  overflow: scroll;

  .main-section-right {
    flex: 1;

    .main-content-wrapper {
      padding: 2rem 3rem;
    }
  }
}

//Fonts
.inter-display-black {
  @include font($primary, "Inter-Black", 1.2rem, 900, normal);
}

.inter-display-bold {
  @include font($primary, "Inter-Bold", 1.2rem, bold, normal);
}

.inter-display-regular {
  @include font($primary, "Inter-Regular", 1.2rem, normal, normal);
}

.inter-display-medium {
  @include font($primary, "Inter-Medium", 1.2rem, 500, normal);
}

.inter-display-extra-bold {
  @include font($primary, "Inter-ExtraBold", 1.2rem, bold, normal);
}

.inter-display-semi-bold {
  @include font($primary, "Inter-SemiBold", 1.2rem, 600, normal);
}

.inter-display-thin {
  @include font($primary, "Inter-Regular", 1.2rem, normal, normal);
}

.inter-display-extra-light {
  @include font($primary, "Inter-Regular", 1.2rem, normal, normal);
}

.inter-display-light {
  @include font($primary, "Inter-Regular", 1.2rem, normal, normal);
}

@for $i from 1 through 100 {
  .f-s-#{$i} {
    font-size: $i+px;
  }
}

@for $x from 1 through 100 {
  .lh-#{$x} {
    line-height: $x+px;
  }
}

@for $y from 0 through 100 {
  .op-#{$y} {
    opacity: 0$y;
  }
}

.m-t-5 {
  margin-top: 5rem;
}

.m-r-15 {
  margin-right: 1.5rem;
}

.cp {
  cursor: pointer;
}

// COLOR
.grey-636 {
  color: $grey-636;
}

.grey-ADA {
  color: $grey-ADA;
}

.blue-268 {
  color: $blue-268;
}

.white {
  color: $secondary;
}

.grey-757 {
  color: $grey-757;
}

.grey-999 {
  color: $grey-999;
}

.secondary {
  color: $secondary;
}

.grey-AAA {
  color: $grey-AAA;
}

.black-404 {
  color: $black-404;
}

.blue-407 {
  color: $blue-407;
}

.green-40B {
  color: $green-40B;
}

.grey-D4D {
  color: $grey-D4D;
}

.grey-313 {
  color: $grey-313;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
}

.upload-image-wrapper {
  text-align: left;
  border: 1px dashed $grey-E7E;
  padding: 1rem;
  margin-bottom: 0rem;

  .plus-icon {
    cursor: pointer;
  }

  label {
    margin: 0;
  }

  p {
    display: inline-block;
    padding-left: 2rem;
  }

  label {
    h2 {}

    /* span {
      display: inline-block;
      padding: 0.4rem 1.9rem 1rem;
      border: 1px solid #cccccc;
      font-size: 3rem;
      background-color: #ffffff;
      color: #ccc;
      cursor: pointer;
    } */
  }

  input {}
}

.add-more-section {
  text-align: center;
}


// UPLOADED IMAGE STYLE
.img-preview-wrapper {
  display: flex;

  .uploaded-img-wrapper {
    width: 12rem;
    height: 4.6rem;
    position: relative;
    margin-right: 2rem;
    display: inline-block;

    img {
      object-fit: cover;
      height: inherit;
      width: 100%;
    }

    .option-card-extension {
      font-size: 2.2rem;
      color: $grey-1;
      border: 4px solid $grey-DDD;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
    }

    .remove-circle {
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: -1rem;
      top: -1rem;
      cursor: pointer;
    }
  }

  .progress {
    width: 12rem;
    margin-top: 1rem;
    height: 1rem;
  }
}

form {
  label {
    max-width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
    font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: $grey-868;
  }

  .form-group {
    margin-bottom: 1rem;
    position: relative; //For tooltip

    .form-control,
    .custom-select__control {
      font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      font-weight: bold;
      color: $black-191;
      line-height: 19px;
      padding: 1.6rem;
      min-height: 51px;
      border-radius: 8px;
      border: 1px solid $grey-D4D;
    }

    .custom-select__menu {
      .custom-select__menu-list {
        padding: 1rem;

        .custom-select__option {
          @include font($primary, "Inter-Bold", 1.4rem, bold, normal);
          padding: 1rem;

          &.custom-select__option--is-focused,
          &.custom-select__option--is-selected {
            background-color: $grey-F5F;
          }
        }
      }
    }

    .form-control:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $grey-CFC;
    }

    .form-control.is-invalid {
      border: solid 1px $grey-D4D;
      background-image: none;
    }

    .form-control.is-valid {
      border: solid 1px $black-191;
      background-image: none;
    }

    // FOR CHANGE PASSWORD
    .input-group {
      .form-control.is-valid {
        border-color: $grey-CFC;
      }

      .form-control.is-invalid {
        border-color: $grey-CFC;
      }
    }

    .form-control::placeholder {
      color: $grey-B6B;
      font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
      line-height: 24px;
      font-weight: 500;
      font-size: 1.4rem;
    }

    .custom-select__control {
      padding: 0;

      .custom-select__value-container {
        padding: 0.2rem 2rem;

        .custom-select__single-value {
          color: $primary;
        }

        .custom-select__placeholder {
          padding: 0;
          color: $grey-B6B;
          font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
    }

    // different styling for search bar
    .search-input {
      padding: 0.75rem 1.6rem;

      &::placeholder {
        font-size: 1.4rem;
        font-weight: 500;
        color: $grey-B6B;
        font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
        line-height: 24px;
      }
    }

    .form-text {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #737373;
      font-size: 10px;
    }

    .has-error {
      color: #dc3545;

      .custom-select__control {
        // CUSTOM ERROR STYLE ADDED WITH ERROR ICON FOR REACT-SELECT
        border: 1px solid #dc3545;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 4rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }

      .custom-select__menu {
        color: initial;
      }
    }
  }

  .input-group {
    .input-group-prepend {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #eee;
      border: 1px solid #ccc;
      border-radius: 4px;
      // to make vertical align center
      display: flex;
      align-items: center;
    }

    .input-group-prepend:first-child {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-group-prepend:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .radio-wrapper {
    .radio-control {
      display: flex;
      margin-bottom: 1rem;

      input {
        margin-top: 0.1rem;
      }

      span {
        font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        font-weight: normal;
        color: #333333;
        line-height: normal;
        padding-left: 1rem;
      }
    }

    &.inline {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.6rem;

      .radio-control {
        margin-right: 2rem;
      }
    }
  }
}

// DATE PICKER CONTROL

.form-control.date-picker-control {
  background-color: white;
  position: relative;
}

.date-icon {
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
}

.date-picker-control-modal {
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// DROPDOWN

.options-icon {
  cursor: pointer;
}

.dropdown {
  text-align: right;

  // z-index: 11;
  #dropdown-basic {
    background: transparent;
    padding: 0;
    border: 0;

    &:active:focus,
    &:active,
    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    padding: 1.2rem 1rem;
    // transform: translate(-155px, 26px) !important;
    width: 24rem;
    box-shadow: 0 -4px 21px 0 rgba(0, 0, 0, 0.12);
    border: 0;

    .dropdown-item {
      @include font($primary, "Inter-Medium", 1.4rem, 500, 21px);
      padding: 0.8rem 1.2rem;
      border-radius: 4px;

      &:hover {}
    }
  }
}

// CUSTOM TABLE

.custom-table-wrapper {
  border-top: 1px solid $grey-E6E;
  margin: 0 0 1.5rem 0;

  .option-btn {
    padding: 0.3rem 1.5rem;
    font-size: 1.3rem;
  }
}

.table-wrapper {
  .form-group {
    width: 8rem;
    margin-left: 3rem;
    // left: 100%;
    // transform: translateX(-100%);
  }

  .ReactVirtualized__Table__headerColumn {
    text-transform: none;
    @include font($grey-999, "Inter-Medium", 1.3rem, 500, normal);

    .ReactVirtualized__Table__headerTruncatedText {
      margin-top: 0.8rem;
    }
  }

  .ReactVirtualized__Table__headerColumn,
  .ReactVirtualized__Table__rowColumn {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .ReactVirtualized__Table__Grid {
    // z-index: -1;
    height: auto !important;
    background-color: $secondary;
    overflow: visible !important;

    .ReactVirtualized__Grid__innerScrollContainer {
      overflow: visible !important;
    }
  }

  .ReactVirtualized__Table__row {
    @include font($grey-565, "Inter-Medium", 1.4rem, 500, 21px);
    border-bottom: 1px solid $grey-F2F;

    .inter-bold {
      font-size: 1.4rem;
      line-height: 21px;
    }
  }

  .ReactVirtualized__Table__row {
    overflow: visible !important;
  }

  .ReactVirtualized__Table__rowColumn {
    &.options-column {
      overflow: visible !important;
    }
  }

  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .pagination {
      margin: 1rem 0;
    }
  }
}



// btn
.primary-btn {
  @include font($secondary, "Inter-SemiBold", 1.6rem, 600, normal);
  border-radius: 8px;
  background-color: $black-191;
  border: 1px solid $black-191;
  padding: 1.6rem 4rem;
  cursor: pointer;

  &.btn-primary:not(:disabled):not(:disabled):active,
  &.btn-primary:not(:disabled):not(:disabled):active:focus,
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $black-191;
    background-color: $black-191;
  }

  &.btn-primary:disabled {
    background-color: $grey-CAC;
    border: none;
  }

  &:not(:disabled),
  &:not(.disabled) {
    cursor: auto;
  }
}

.secondary-btn {
  @include font($black-191, "Inter-SemiBold", 1.6rem, 600, normal);
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid $black-191;
  padding: 1.6rem 4rem;
  cursor: pointer;

  &.btn-primary:not(:disabled):not(:disabled):active,
  &.btn-primary:not(:disabled):not(:disabled):active:focus,
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    outline: none;
    box-shadow: none;
    color: $black-191;
    border: 1px solid $black-191;
    background-color: transparent;
  }

  &:not(:disabled),
  &:not(.disabled) {
    cursor: auto;
  }
}

.grey-btn {
  @include font($grey-7C7, "Inter-Medium", 1.3rem, 500, normal);
  border-radius: 8px;
  background-color: rgba(229, 229, 230, 0.5);
  border: 1px solid $grey-D4D;
  padding: 1.2rem 4rem;
  cursor: pointer;

  &.btn-primary:not(:disabled):not(:disabled):active,
  &.btn-primary:not(:disabled):not(:disabled):active:focus,
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    outline: none;
    box-shadow: none;
    color: $grey-7C7;
    border: 1px solid $grey-D4D;
    background-color: rgba(229, 229, 230, 0.5);
  }

  &:not(:disabled),
  &:not(.disabled) {
    cursor: auto;
  }
}

.inactive-state {
  cursor: not-allowed !important;
  opacity: 0.6;
}


.react-datepicker {
  display: flex;
  border: none;
  box-shadow: 0px -4px 21px rgba(0, 0, 0, 0.123661);
  border-radius: 1rem;

  .react-datepicker__navigation {
    top: 1.8rem;
  }

  .react-datepicker__month-container {
    .react-datepicker__header {
      // padding: 1.6rem 2.5rem;
      padding-top: 0;
      border-bottom: 0;
      border-color: $grey-EAE;
      background-color: $secondary;

      .react-datepicker__current-month {
        // @extend .proximanova-bold;
        font-size: 1.2rem;
        border-bottom: 1px solid $grey-EAE;
        padding: 1.45rem 1.8rem;
      }

      .react-datepicker__day-names {
        margin-top: 1rem;

        .react-datepicker__day-name {
          width: 2.3rem;
          font-size: 1rem;
        }
      }
    }

    .react-datepicker__month {
      .react-datepicker__week {
        .react-datepicker__day {
          // @extend .proximanova-regular;
          width: 2.3rem;
          font-size: 1rem;
          line-height: 21px;

          &.react-datepicker__day--selected {
            background-color: $blue-268;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .react-datepicker__time-container {
    border-left: none;

    .react-datepicker__header {
      padding: 1.45rem 1.8rem;
      border-color: $grey-EAE;

      .react-datepicker-time__header {
        font-size: 1.2rem;
      }
    }

    .react-datepicker__header,
    .react-datepicker__time {
      background-color: $grey-F8F;
    }

    .react-datepicker__time {
      .react-datepicker__time-box {
        .react-datepicker__time-list {
          .react-datepicker__time-list-item--selected {
            background-color: $blue-268;
            color: $secondary;
          }

          .react-datepicker__time-list-item {
            padding: 1rem;
            height: auto;
            font-size: 1rem;
            font-weight: normal;

            &:hover {
              background-color: $blue-268;
              color: $secondary;
            }
          }
        }
      }

    }
  }
}

.react-datepicker__input-container {
  input {
    // @include font($primary, "ProximaNova-Medium", 1.6rem, 400, 22px);
    @include font($primary, "Inter-Medium", 1.6rem, 500, 22px);
  }
}

.react-datepicker {
  width: 100%;
  display: inline-block;
  box-shadow: none;

  .react-datepicker__month-container {
    width: 80.5%;

    .react-datepicker__header {
      .react-datepicker__day-names {
        .react-datepicker__day-name {
          width: 4rem;
          line-height: 26px;
        }
      }
    }

    .react-datepicker__month {
      .react-datepicker__week {
        .react-datepicker__day {
          width: 3.93rem;
          line-height: 26px;
        }
      }
    }
  }

  // .react-datepicker__time-container{
  //   .react-datepicker__header--time{
  //     padding: 1.85rem 0.5rem;
  //   }
  // }
}

.form-wrapper {
  .react-datepicker {
    .react-datepicker__month-container {
      width: 74.4%;

      .react-datepicker__header {
        .react-datepicker__day-names {
          .react-datepicker__day-name {
            width: 3.1rem;
          }
        }
      }

      .react-datepicker__month {
        .react-datepicker__week {
          .react-datepicker__day {
            width: 3.1rem;
          }
        }
      }
    }
  }
}

// START FROM HERE
.tool-tip-container {
  .tooltip-inner {
    background-color: $secondary ;
    max-width: 39.2rem;
  }

  .arrow::before {
    border-top-color: $secondary;
  }

  .button-tooltip {
    background-color: $secondary ;
    color: $grey-313;
    // border: 0.1rem solid $grey-E5E;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1.6rem;
    gap: 1.2rem;
    width: 39.2rem;
    height: 5.6rem;

    span {
      display: flex;
      align-items: center;
      color: $grey-313;
    }
  }
}

.chip-container {
  position: absolute;
  right: 9rem;
  top: 0.7rem;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // padding: 0.4rem 0.8rem;
  // gap: 0.6rem;
  // width: 9.8rem;
  // height: 3rem;
  background: rgba(229, 229, 230, 0.5);
  border: 0.1rem solid $grey-CAC;
  border-radius: 0.4rem;
  .badge{
    padding: 0.4rem 0.8rem;
  }
  img {
    padding-right: 0.5rem;
    // padding-bottom: 0.3rem;
  }
}