// badge section start

.coin-badges {
  display: flex;
  align-items: center;
  // margin-bottom: 2rem;
  margin-top: 2rem;
  justify-content: space-between;
  position: relative;
  padding-right: 11.4rem;
  .badge-list {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    // width:84rem;
    // background: linear-gradient(270deg, #F2F2F2 8.98%, rgba(242, 242, 242, 0) 88.28%);
    height: 4.5rem;
    .badge-name {
      padding: 0.8rem 1.2rem;
      background: var(--cardBackgroud);
      color: var(--black191);
      border: 0.1rem solid var(--dropdownContentBorderColor);
      border-radius: 0.8rem;
      cursor: pointer;
      height: fit-content;
    }

    .badge-active {
      // background-color: $yellow-F5E ;
      border: 0.1rem solid var(--black191);
      color: var(--primaryTextColor);
    }
    .badge-name:hover {
      color: var(--primaryTextColor);
      border: 0.1rem solid var(--black191);
    }
    &::-webkit-scrollbar {
      height: 0rem;
      width: 0rem;
    }
    &:hover {
      margin-bottom: 0rem;
      &::-webkit-scrollbar {
        height: 0.4rem;
      }
      &::-webkit-scrollbar-thumb {
        // border-radius: 2rem;
        border-radius: 0.8rem;
        background-color: $scrollBar-thumb;
        // background: rgb(90, 90, 90);
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(229, 229, 230, 0.5);
        // background-color: transparent;
        // background-color: $grey-E5E;

        border-radius: 0.8rem;
      }
    }
  }

  .dropdown {
    position: absolute;
    right: 0px;
    top: -3px;

    .dropdown-menu {
      width: auto;
      // padding: 0.4rem;
      height: 16rem;
      overflow-y: scroll;
      // border-radius: 0.4rem;
      // border: 1px solid #CACBCC;
      // box-shadow: 0px 4px 10px rgba(0, 0 ,0 ,0.04), 0px 1px 1px rgba(0 ,0, 0 ,0.04);
      .dropdown-item {
        color: $grey-313;
      }
    }
    .dropdown-toggle {
      box-shadow: -25px 0px 24px 20px var(--profileHideMultiWallet);
      padding: 1.1rem 1.9rem 1.1rem 1.6rem;
      background: $secondary;
      border: 0.1rem solid $grey-B0B;
      border-radius: 0.8rem;
      color: $black-191;
      // box-shadow: none;
      &:focus {
        box-shadow: -25px 0px 24px 20px $grey-F2F !important;
      }
    }

    .dropdown-toggle:hover {
      border: 0.1rem solid $black-191;
    }
  }
  // &:hover{

  // }
}
.coin-badges-dropdown-disabled {
  width: 0.1rem;
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 15px 20px var(--primaryBackgroud);
}
.coinchips::-webkit-scrollbar,
.badge-list::-webkit-scrollbar {
  height: 0.4rem;
}
.dropdown-menu::-webkit-scrollbar {
  width: 0.4rem;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  // border-radius: 2rem;
  border-radius: 0.8rem;
  background-color: $scrollBar-thumb;
  // background: rgb(90, 90, 90);
}
// .coinchips::-webkit-scrollbar-track {
//   background-color: rgba(229, 229, 230, 0.5);
//   // background-color: transparent;
//   // background-color: $grey-E5E;

//   border-radius: 0.8rem;
// }
.dropdown-menu::-webkit-scrollbar {
  // background-color: $secondary;
  // background-color: $grey-E5E;
  background-color: rgba(229, 229, 230, 0.5);
}
// badge section ends
