:root {
  // UPDATED
  --primaryBackgroud: #f2f2f2;
  --cardBackgroud: white;
  --cardBorder: #cacbcc;
  --greyCardBackgroud: #e5e5e680;
  --cardSeperator: #e5e5e680;
  --primaryTextColor: #0d0d0d;
  --primarySubTextColor: #adadad;
  --primaryGainColor: rgba(208, 252, 234, 0.5);
  --primaryLossColor: rgba(250, 217, 217, 0.5);
  --primaryDropdownBackground: #f2f2f2;
  --primaryDropdownBorder: #0d0d0d;
  --primaryDropdownSelectedItem: rgba(229, 229, 230, 0.5);
  --primaryBoxShadowColor: rgba(24, 39, 75, 0.12);
  --primaryFilter: #f2f2f2;
  --primaryActiveFilter: #fff;
  // UPDATED
  --scrollBarThumb: #cacbcc;
  --invertColor: invert(0%);
  --hoverBrightness: brightness(50%);

  // Secondary
  --secondaryTextColor: #adadad;
  --secondaryDarkTextColor: #4f4f4f;

  //TEMP
  --backColor: #000;
  --greyF2f: #f2f2f2;
  --grey636: #636467;
  --greyE5e: #e5e5e6;
  --greyCac: #cacbcc;
  --grey313: #313233;

  //Insight Page
  --insightBlurColorOne: rgba(255, 255, 255, 0.8);
  --insightBlurColorTwo: rgba(255, 244, 158, 0.8);

  //Table
  --tableNumberCover: rgba(229, 229, 230, 0.5);
  --tablePersonalTint: #e5e5e640;
  --tableHeadingLightBorder: #e5e5e6;
}
[data-theme="dark"] {
  // UPDATED
  --primaryBackgroud: #101010;
  --cardBackgroud: #181818;
  --cardBorder: #313233;
  --greyCardBackgroud: #313233;
  --cardSeperator: #313233;
  --primaryTextColor: white;
  --primarySubTextColor: #7c7d81;
  --primaryGainColor: rgba(208, 252, 234, 1);
  --primaryLossColor: rgba(250, 217, 217, 1);
  --primaryDropdownBackground: #313233;
  --primaryDropdownBorder: white;
  --primaryDropdownSelectedItem: #313233;
  --primaryBoxShadowColor: hsla(240, 2%, 90%, 0.05);
  --primaryFilter: #313233;
  --primaryActiveFilter: #636467;
  // UPDATED
  --scrollBarThumb: #cacbcc;
  --invertColor: invert(100%);
  --hoverBrightness: brightness(200%);

  // Secondary
  --secondaryTextColor: #7c7d81;
  --secondaryDarkTextColor: #cacbcc;

  //TEMP
  --greyF2f: #f2f2f2;
  --grey636: #636467;
  --greyE5e: #e5e5e6;
  --greyCac: #cacbcc;
  --grey313: #313233;
  --backColor: #fff;

  //Insight Page
  --insightBlurColorOne: rgba(255, 255, 255, 0.3);
  --insightBlurColorTwo: rgba(255, 244, 158, 0.3);

  //Table
  --tableNumberCover: #313233;
  --tablePersonalTint: rgba(16, 16, 16, 0.6);
  --tableHeadingLightBorder: #313233;
}
