.interDisplayMediumText {
  font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primaryTextColor);
  line-height: normal;
}
.interDisplaySemiBoldText {
  font-family: "Inter-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primaryTextColor);
  line-height: normal;
}
.interDisplaySubText {
  color: var(--primarySubTextColor);
}
.spaceGroteskMedium {
  font-family: "SpaceGrotesk-Medium", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primaryTextColor);
  line-height: normal;
}
.secondaryText {
  color: var(--secondaryTextColor);
}
.secondaryDarkText {
  color: var(--secondaryDarkTextColor);
}
.invertFilter {
  filter: var(--invertColor);
}
