.dropdown {
    border-radius:0.8rem;
    .dropdown-toggle {
        cursor: pointer;
        box-shadow: none;
        border: none;
        @include font($grey-313, "Inter-Medium", 1.3rem, 500, 1.6rem);
    }
    // .dropdown-toggle:active{
    //     background-color:$secondary;
    //     border:0.1rem solid $grey-B0B;
    // }
    .dropdown-toggle::after {
        margin-left: 1.2rem;
    }
    .dropdown-item:active , .dropdown-item:hover,.active{
        // background-color: $grey-E9E;
        background-color: $drop-button-hover;
    }    
    .btn-primary.dropdown-toggle:focus {
        box-shadow: none;
    }
    .btn-primary:not(:disabled):not(.disabled):active{
        color:$black-191;
        background-color:$secondary;
        border:0.1rem solid $grey-B0B;
        box-shadow: none;
    }
}

