.feedback-form-wrapper{
  text-align: right;
  margin-bottom: 4rem;
  &.attribution{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  h6{
    a{
      color: inherit;
      text-decoration: underline;
      &:hover{
        color: inherit;
      }
    }
  }
  .feedback-wrapper{
    input{
      // display: flex;
      background: $secondary;
      border: 0.1rem solid $grey-D4D;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
      border-radius: 0.8rem;
      height: 2.5rem;
      margin-right: 0.5rem;
      width: 21rem;
      padding: 0 1rem;
      // text-align: center;
      &:focus-visible{
        outline: none;
      }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}