.feedback-form-wrapper{
  text-align: right;
  margin-bottom: 4rem;
  &.attribution{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  h6{
    a{
      color: inherit;
      text-decoration: underline;
      &:hover{
        color: inherit;
      }
    }
  }
  .feedback-wrapper{
    input{
      @include font($grey-ADA, "Inter-Medium", 1.3rem, 500, normal);
      // display: flex;
      background: $secondary;
      border: 0.1rem solid $grey-D4D;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
      border-radius: 0.8rem;
      height: 2.5rem;
      margin-right: 0.5rem;
      width: 28.5rem;
      padding: 0 1rem;
      // text-align: center;
      &:focus-visible{
        outline: none;
      }
    }
    input::placeholder{
      color: $grey-ADA;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.feedback-div{
  background-color: rgba(229, 229, 230, 0.5);
  padding: 2rem 2.5rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
    margin-top: 3rem;
  .right{
    border-radius: 1.2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
    .left-side,
    .right-side{
      img{
        cursor: pointer;
        padding: 1.8rem;
        background-color: $secondary;
        &:hover{
          background: rgba(229, 229, 230, 0.5);
        }
      }
    }
    .left-side{
      img{
          border-bottom-left-radius: 1.2rem;
          border-top-left-radius: 1.2rem;
      }
    }
    .right-side{
      img{
          border-bottom-right-radius: 1.2rem;
          border-top-right-radius: 1.2rem;
      }
    }
  }
}

.feedback-modal{
  .modal-content{
    .modal-body{
      padding: 0 4.2rem 4.2rem;
      text-align: center;
      form{
        text-align: initial;
        margin-top: 4rem;
        label{
          color: $grey-313;
        }
      }
      .feedback-dropdown{
        text-align: left !important;
          // margin-top: 1.1rem;


     
     .dropdown-menu {
                    width: 100%;
                    padding: 0.4rem;
                    margin-top: 0.5rem;
                    border: 1px solid #B0B1B3;
                    border-radius: 0.4rem;
                     height: 16rem;
                    overflow-y: scroll;
                    

                    .dropdown-item {
                        padding: 0.8rem;
                        @include font($grey-313, "Inter-Medium", 1.3rem, 500, 1.6rem);
                    }
                }

                .btn-primary:not(:disabled):not(.disabled):active {
                    // background-color: $grey-F2F !important;
                    border: 1px solid #B0B1B3;
                    color: $black-191;
                    
               
                }

                .btn-primary.dropdown-toggle {
                
                // background-color: $grey-F2F !important;
                    border: 1px solid #B0B1B3;
                    color: $black-191;
                    text-align: left;
                    background-color: transparent;
                    // color: $black-191;
                    padding: 1.2rem 1.6rem;
                    border-radius: 0.8rem;
                    width: 100%;
                    // border: 1px solid #B0B1B3;

                    &:hover{
                       border: 1px solid $primary;
                    }
}

                .dropdown .btn-primary.dropdown-toggle:focus {
                    box-shadow: none;
                    //  background-color: $grey-F2F !important;
                    border: 1px solid #B0B1B3;
                    color: $black-191;
                    
}

                // .dropdown-toggle {

                //     background-color: transparent;
                //     color: $black-191;
                //     padding: 1rem 0.5rem;
                //     border-radius: 0.4rem;
                //     width: 100%;
                //     border: 1px solid #B0B1B3;
                // }

                .dropdown-toggle::after {
                    margin-left: 0.6rem;
                    display: inline-block;
                    vertical-align: 0.255em;
                     content: "";
                      border-top: 0.35em solid;
                    border-right: 0.35em solid transparent;
                    border-bottom: 0;
                    border-left: 0.35em solid transparent;
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                }

      }
      .form-control{
        padding: 1.2rem 1.6rem;
        min-height: 4.3rem;
        border: 1px solid #B0B1B3;
      }
      .form-control:hover{
          border:0.1rem solid $black-191;
      }
      .is-valid{
          box-shadow: none;
      }
      .done{
          box-shadow: 0 0 0.4rem  $grey-D3D;
          border:0.1rem solid $black-191;
      }
      .button-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.2rem;
        .btn{
          padding: 1.8rem 2.8rem;
        }
        .primary-btn{
          &:hover{
            // background-color: transparent;
            // color: $black-191;
             border-color: $secondary;
                    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04), 0px 1rem 1rem rgba(0, 0, 0, 0.04);
                    color: $black-191;
                    background-color: $secondary;
          }
        }
      }
    }
  }
}