.fixaddmodal.show {
    opacity: 0.5 !important;
}

.fix-add-modal {
    .modal-content {
        border-radius: 1.4rem;
        width:74.4rem;
        border: none;
        .modal-header {
            display: block;
            text-align: center;
            position: relative;
            padding: 0rem;
            border: none;
            .banner-img{
              width: 100%;
            }
            .wallet-header{
                position: absolute;
                top: 3.6rem;
                left:24.7rem;
                img{
                    width:6rem;
                    height: 6rem;
                }

            }

            .closebtn {
                position: absolute;
                top: 2.8rem;
                right: 2.8rem;
                cursor: pointer;
            }
        }

        .modal-body {

            .fix-wallet{
                padding: 0rem 7rem;
            }
            .fix-add-modal-body {
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                text-align: center;
                .fix-wallet-title{
                    display: flex;
                flex-direction: column;
                align-items: center;
                h6 {
                    color: $primary;
                    margin-bottom: 0.6rem;
                }
                }

                .fix-modal-input {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 6.2rem;
                    width:100%;
                    .fix-wallet-input {
                        display: flex;
                        position: relative;
                        padding: 0.6rem 1.2rem;
                        align-items: center;
                        border: 0.1rem solid $black-191;
                        box-shadow: 0rem 0.8rem 1.8rem -0.6rem rgba(24, 39, 75, 0.12), 0rem 1.2rem 4.2rem -0.4rem rgba(24, 39, 75, 0.12);
                        border-radius: 0.8rem;

                        .chip-wrapper{
                            top:0.35rem;
                        }
                        .delete-icon {
                            width: 3.8rem;
                            height: 3.8rem;
                            box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.04), 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
                            position: absolute;
                            left:-5.34rem;
                            cursor: pointer;
                        }
                        input {
                            border: none;
                            outline: none;
                            width: 42.9rem;
                            margin-right: 3.14rem;
                        }

                        .fix-dropdowns {
                            display: flex;
                            align-items: center;

                            .dropdown:nth-child(1) {
                                margin-right: 0.8rem;
                            }

                            .dropdown {

                                .dropdown-menu{
                                    padding:0.4rem;
                                    width:auto;
                                    height:16rem;
                                    overflow-y: scroll;
                                }
                                .dropdown-item {
                                    border-radius: 0.2rem;
                                    padding: 0.55rem;
                                    font-size: 1.3rem;
                                }
                                .chain-dropdown{
                                    padding:0.4rem 0.8rem;
                                    border-radius: 0.4rem;
                                    img{
                                        width:1.6rem;
                                    }
                                }
                                .active{
                                    background-color: $grey-F2F;
                                }
                                .dropdown-item:active {
                                    background-color: $secondary;
                                }
                                .dropdown-item:hover{
                                    background-color:$grey-F2F;
                                }
                                button {
                                    border: 0.1rem solid $grey-CAC;
                                    border-radius: 0.4rem;
                                    padding: 0.4rem 0.8rem;
                                    background-color: $grey-F2F;
                                    color: $grey-B0B;
                                }

                                .dropdown-toggle::after {
                                    color: $grey-969;
                                }
                            }
                        }

                    }
                }

                .btn-section {
                    margin-bottom: 2.3rem;
                    .primary-btn.btn-primary:not(:disabled):not(:disabled):active, .primary-btn.btn-primary:not(:disabled):not(:disabled):active:focus,.primary-btn:active, .primary-btn:focus, .primary-btn:active:focus{
                        border:none
                    }
                    button {
                        border: none;
                    }

                    .fix-btn {
                        padding: 1.75rem 5rem;
                    }

                    .add-btn {
                        background-color: $grey-CAC;
                        padding: 1.75rem 5.95rem;
                    }

                    .activebtn{
                        background-color: $black-191;
                    }
                }

                .footer {
                    display: flex;
                    justify-content: center;
                    p{
                      img{
                        margin-left: 0.5rem;
                      }
                    }
                }

                .add-wallet-btn{
                    width: 100%;
                    // padding: 0rem 8.4rem;
                    padding: 0rem 6.2rem 0rem 7rem;
                    .grey-btn{
                        width: 100%;
                    }
                }
            }

            .add-modal-inputs {
                // display: flex;
                // flex-direction: column;
                // width: 100%;
                // padding: 0rem 8.4rem 0rem 8.4rem;
                padding: 0rem 2.5rem 0rem 7rem;
                max-height: 22rem;
                overflow-y: auto;
                margin: 0 3.7rem 0 0rem;
                .add-wallet-input-section {
                    // display: flex;
                    // align-items: center;
                    position: relative;
                    .chip-wrapper{
                        top:0.8rem
                    }
                    .delete-icon {
                        width: 3.8rem;
                        height: 3.8rem;
                        box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.04), 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
                        position: absolute;
                        left:-5.34rem;
                        cursor: pointer;
                    }

                    input {
                        width: 100%;
                        border: 0.1rem solid $black-191;
                        border-radius: 0.8rem;
                        padding: 1.05rem 15.7rem 1.05rem 1.2rem;
                        &:focus-visible{
                          outline: none;
                        }
                    }

                    .customchip {
                        display:block;
                        text-align: center;
                        position: absolute;
                        right: 1.2rem;
                        top: 0.8rem;
                        background: rgba(229, 229, 230, 0.5);
                        border: 0.1rem solid $grey-CAC;
                        border-radius: 0.4rem;
                        padding: 0.4rem 0.8rem;
                        img{
                            margin-right: 0.6rem;
                        }
                    }
                }

            }
        }
    }
}