.fixaddmodal.show {
  opacity: 0.5 !important;
}

.fix-add-modal {
  .modal-content {
    border-radius: 1.4rem;
    width: 74.4rem;
    border: none;
    .modal-header {
      display: block;
      text-align: center;
      position: relative;
      padding: 0rem;
      border: none;
      .banner-img {
        width: 100%;
      }
      .wallet-header {
        position: absolute;
        top: 3.6rem;
        left: 24.7rem;
        img {
          width: 6rem;
          height: 6rem;
        }
      }

      .closebtn {
        position: absolute;
        top: 2.8rem;
        right: 2.8rem;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .modal-body {
      .fix-wallet {
        // padding: 0rem 7rem;
        padding: 0rem 3rem;
      }
      .fix-add-modal-body {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        text-align: center;
        .addAnotherBtnContainer {
          padding: 0 9rem;
          margin-top: 1rem;
        }
        .addWalletWrapperContainerParent {
          padding-left: 2rem;
          padding-right: 3rem;
          .addWalletWrapperContainer {
            padding-right: 6rem;
            max-height: 25rem;
            overflow-y: auto;

            &::-webkit-scrollbar {
              width: 0.4rem;
            }

            &::-webkit-scrollbar-thumb {
              background: #96979a;
              border-radius: 0.8rem;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              border-radius: 0.8rem;
            }
            .addWalletWrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              // flex-direction: column;
              margin-top: 1rem;
              margin-bottom: 1rem;
              .awOldDelBtn {
                border-radius: 0.8rem;
                width: 4rem;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
                  0px 1px 1px rgba(0, 0, 0, 0.04);
                cursor: pointer;
                margin-right: 2rem;
                margin-left: 1rem;
                &:hover {
                  filter: brightness(0.965);
                }
              }
              .awOldWalletBtn {
                cursor: default;
                margin-right: 2rem;
                margin-left: 1rem;
                &:hover {
                  filter: brightness(1);
                }
              }
              .fakeBtn {
                opacity: 0;
                cursor: default;
              }
              .awInputWrapper {
                border: 0.1rem solid #d4d4d4;
                border-radius: 0.8rem;
                padding: 1rem;
                width: 100%;
                &:hover {
                  border-color: #19191a;
                }
                .awLable {
                  color: #b0b1b3;
                  font-size: 1.2rem;
                }
                .awInputContainer {
                  flex: 1;
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  padding-left: 0.5rem;
                  padding-right: 0.5rem;

                  .awInput {
                    border: none;
                    width: 100%;
                    padding: 0 !important;
                    font-size: 1.5rem;
                    &:disabled {
                      background-color: transparent;
                    }
                    &:focus {
                      outline: none;
                    }
                    &::placeholder {
                      color: #b0b1b3;
                    }
                  }
                }
                .awInputBinIcon {
                  width: 3rem;
                  height: 3rem;
                  cursor: pointer;
                  padding: 0.5rem;
                  border-radius: 0.5rem;
                  transition-duration: 300ms;
                  &:hover {
                    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
                      0px 1px 1px rgba(0, 0, 0, 0.04);
                  }
                }
                .awBlockContainer {
                  padding-left: 0.5rem;
                  padding-right: 0.5rem;
                  flex: 1;
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  color: #b0b1b3;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  .awNameTag {
                    font-size: 1.5rem;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: left;
                  }
                }
                .awTopInputWrapper {
                  display: flex;
                  align-items: center;
                }
                .awBottomInputWrapper {
                  display: flex;
                  align-items: center;
                  overflow: hidden;
                }
              }
              .isAwInputWrapperValid {
                border-color: #19191a;
              }
            }
          }
        }
        .fix-wallet-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          h6 {
            color: $primary;
            margin-bottom: 0.6rem;
          }
        }

        // Upload csv

        .form-wrapper {
          background: rgba(229, 229, 230, 0.5);
          border-radius: 12px;
          position: relative;
          padding: 2.5rem;
          text-align: center;

          img {
            position: absolute;
            top: -1rem;
            right: 3rem;
            filter: brightness(0.5);
          }
          .email-section {
            form {
              display: flex;
              align-items: start;

              .form-group {
                margin-right: 2rem;
                margin-bottom: 0;

                .has-error {
                  text-align: left;
                }
                .form-control {
                  padding: 1.8rem 2rem 1.8rem 2rem;
                  height: 5.5rem;
                  width: 30rem;
                  margin-bottom: 0;
                }

                .is-valid {
                  border: 0.1rem solid $black-191;
                  border-radius: 0.8rem;
                  box-shadow: 0rem 0.8rem 2.2rem -0.6rem rgba(24, 39, 75, 0.12),
                    0rem 1.4rem 6.4rem -0.4rem rgba(24, 39, 75, 0.12);
                  // padding: 2.7rem 10.1rem 2.7rem 2.8rem;
                  padding-right: 2rem !important;
                }

                .is-invalid {
                  padding-right: 2rem !important;
                }
              }

              .save-btn-section {
                margin: 0;
                .save-btn {
                  padding: 1.7rem 5.1rem;
                  background-color: $grey-B0B;
                  border-radius: 0.8rem;
                  border: 1px solid $grey-B0B;
                }

                .active {
                  background-color: $primary;
                  border: 1px solid $black-191;
                  &:hover {
                    border-color: $secondary;
                    box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
                      0px 1rem 1rem rgba(0, 0, 0, 0.04);
                    color: $black-191;
                    background-color: $secondary;
                  }
                }

                .save-btn:focus {
                  box-shadow: none;
                }
              }
            }
          }
        }
        .upload-loader {
          margin-top: 3.2rem;
          height: 4px;
          border-radius: 2px;
          width: 50%;
          //  background: linear-gradient(90deg, #E5E5E6 9.79%, #5ADDA6 27.38%, #E5E5E6 51.06%);
          animation: 1.5s linear infinite loader;
          background: linear-gradient(
            to right,
            #e5e5e6 0%,
            #5adda6 8%,
            #e5e5e6 16%
          );
          background-size: 200%;

          @keyframes loader {
            0% {
              background-position: 100%;
            }
            100% {
              background-position: -100%;
            }
          }
        }

        .fix-modal-input {
          display: flex;
          flex-direction: column;
          margin-bottom: 6.2rem;
          width: max-content;
          overflow-y: auto;
          padding: 0 1.7rem 0 7rem;

          // max-height: 20rem;
          max-height: 22.4rem;
          margin-left: 0rem;

          &::-webkit-scrollbar {
            width: 0.4rem;
          }

          &::-webkit-scrollbar-thumb {
            // background: rgb(90, 90, 90);
            background: #96979a;
            // border-radius: 2rem;
            border-radius: 0.8rem;
          }

          &::-webkit-scrollbar-track {
            background-color: rgba(229, 229, 230, 0.5);
            // background-color: #E5E5E6;
            // border-radius: 2rem;
            border-radius: 0.8rem;
          }
          .fix-wallet-input {
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            position: relative;
            width: 55rem;
            border: 0.1rem solid #d4d4d4;
            border-radius: 0.8rem;
            padding: 0.8rem 1.2rem 0.2rem;
            margin-bottom: 1.2rem;
            // padding: 0.6rem 1.2rem;
            // border: 0.1rem solid $black-191;
            // box-shadow: 0rem 0.8rem 1.8rem -0.6rem rgba(24, 39, 75, 0.12), 0rem 1.2rem 4.2rem -0.4rem rgba(24, 39, 75, 0.12);
            // border-radius: 0.8rem;
            // height:4rem;
            .chip-wrapper {
              // top:0.35rem;
              // display: block;
              // position: relative;
              top: 0.8rem;
              // top:1.2rem;
              right: 1.2rem;
              // right: 0;
              // .chip-container{
              //   img{
              //     width: 2.6rem;
              //     height: 2.6rem;
              //   }
              // }
            }
            .delete-icon {
              border-radius: 0.8rem;
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
                0px 1px 1px rgba(0, 0, 0, 0.04);
              left: -5.34rem;
              top: 0.14rem;
              position: absolute;
              cursor: pointer;
              padding: 0.8rem;
              border: 1px solid rgba(229, 229, 230, 0.5);
              border-radius: 0.8rem;
              img {
                width: 2rem;
                height: 2rem;
              }

              &:hover {
                background-color: rgba(229, 229, 230, 0.2);
              }
            }
            // input {
            //     border: none;
            //     outline: none;
            //     width: 100%;
            //     // margin-right: 3.14rem;
            // }
            input {
              width: 100%;
              border: 0rem solid transparent;
              border-radius: 0.8rem;

              padding: 0.5rem 15rem 1rem 0rem;
              height: 3rem;
              // padding: 0.5rem 15rem 1.2rem 0rem;
              // padding: 0.5rem 15rem 1rem 0rem;
              color: #19191a;

              &::placeholder {
                color: "#96979A";
              }
              &:focus-visible {
                outline: none;
              }
            }

            .fix-dropdowns {
              display: flex;
              align-items: center;

              .dropdown:nth-child(1) {
                margin-right: 0.8rem;
              }

              .dropdown {
                .dropdown-menu {
                  padding: 0.4rem;
                  width: auto;
                  height: 16rem;
                  overflow-y: scroll;
                }
                .dropdown-item {
                  border-radius: 0.2rem;
                  padding: 0.55rem;
                  font-size: 1.3rem;
                }
                .chain-dropdown {
                  padding: 0.4rem 0.8rem;
                  border-radius: 0.4rem;
                  img {
                    width: 1.6rem;
                  }
                }
                .active {
                  background-color: $grey-F2F;
                }
                .dropdown-item:active {
                  background-color: $secondary;
                }
                .dropdown-item:hover {
                  background-color: $grey-F2F;
                }
                button {
                  border: 0.1rem solid $grey-CAC;
                  border-radius: 0.4rem;
                  padding: 0.4rem 0.8rem;
                  background-color: $grey-F2F;
                  color: $grey-B0B;
                }

                .dropdown-toggle::after {
                  color: $grey-969;
                }
              }
            }
          }
        }

        .btn-section {
          margin-top: 3rem;
          margin-bottom: 3rem;
          .primary-btn.btn-primary:not(:disabled):not(:disabled):active,
          .primary-btn.btn-primary:not(:disabled):not(:disabled):active:focus,
          .primary-btn:active,
          .primary-btn:focus,
          .primary-btn:active:focus {
            border: none;
          }
          button {
            border: none;
            .spinner-chip-container {
              margin: 0;
              .spinner {
                margin: 0 auto;
              }
            }
          }

          .fix-btn {
            padding: 1.75rem 5rem;
          }

          .add-btn {
            background-color: $grey-CAC;
            padding: 1.75rem 5.95rem;
          }

          .activebtn {
            background-color: $black-191;
            // &:hover{
            //     background-color: white;
            // }
            &:hover:not([disabled]) {
              border-color: $secondary;
              box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
                0px 1rem 1rem rgba(0, 0, 0, 0.04);
              color: $black-191;
              background-color: $secondary;
            }
          }
        }

        .footer {
          display: flex;
          justify-content: center;
          p {
            img {
              margin-left: 0.5rem;
            }
          }
          .info-icon {
            width: 1.6rem;
          }
        }

        .add-wallet-btn {
          width: 100%;
          // padding: 0rem 8.4rem;
          padding: 0rem 7rem 0rem 8rem;
          margin-top: 1.5rem;

          .upload-scv-btn {
            background: rgba(229, 229, 230, 0.5);
            border-radius: 8px;
            padding: 8px;
            width: max-content;
            cursor: pointer;

            &:hover {
              box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
                0px 1rem 1rem rgba(0, 0, 0, 0.04);
              background-color: #ffffff;
            }
          }

          .grey-btn {
            width: 100%;
            background-color: rgba(229, 229, 230, 0.5);

            &:hover {
              background-color: rgba(229, 229, 230, 0.3);
            }
          }
        }
      }

      .add-modal-inputs {
        // display: flex;
        // flex-direction: column;
        // width: 100%;
        // padding: 0rem 8.4rem 0rem 8.4rem;
        // padding: 0rem 1.7rem 0rem 5rem;
        max-height: 22.4rem;
        overflow-y: auto;
        // margin: 0 4.1rem 1.2rem 0rem;
        margin: 0 5.4rem 0 2.4rem;
        padding: 0 1.7rem 0 5.6rem;
        .add-wallet-input-section {
          // display: flex;
          // align-items: center;
          position: relative;
          border: 0.1rem solid #d4d4d4;
          border-radius: 0.8rem;
          padding: 0.8rem 1.2rem 0.2rem;
          margin-bottom: 1.2rem;

          .chip-wrapper {
            top: 0.7rem;
            // top: 1.2rem;
            right: 1.2rem;
          }

          .delete-icon {
            box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.04),
              0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
            position: absolute;

            // right: 0.2rem;
            top: 0.14rem;
            left: -5.5rem;
            // bottom: 0rem;
            cursor: pointer;
            // padding:0.8rem;
            padding: 0.9rem;
            border-radius: 0.8rem;
            img {
              // width: 1.8rem;
              // height: 1.8rem;
              width: 2rem;
              height: 2rem;
            }

            &:hover {
              background-color: rgba(229, 229, 230, 0.2);
            }
          }

          input {
            width: 100%;
            // border: 0.1rem solid $black-191;
            border: 0.1rem solid transparent;
            border-radius: 0.8rem;
            height: 3rem;

            // padding: 1.05rem 5.7rem 1.05rem 1.2rem;
            padding: 0.5rem 15rem 1rem 0rem;
            // color: #19191A;
            &:focus-visible {
              outline: none;
            }

            &::placeholder {
              color: "#96979A";
            }
          }

          .customchip {
            display: block;
            text-align: center;
            position: absolute;
            right: 1.2rem;
            top: 0.8rem;
            background: rgba(229, 229, 230, 0.5);
            border: 0.1rem solid $grey-CAC;
            border-radius: 0.4rem;
            padding: 0.4rem 0.8rem;
            img {
              margin-right: 0.6rem;
            }
          }
        }
        &::-webkit-scrollbar {
          width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
          // background: rgb(90, 90, 90);
          background-color: $scrollBar-thumb;
          // border-radius: 2rem;
          border-radius: 0.8rem;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(229, 229, 230, 0.5);
          // background-color: $grey-E5E;
          // border-radius: 2rem;
          border-radius: 0.8rem;
        }
      }
    }
  }
}

.tooltip {
  pointer-events: none;
}
