.custom-navbar {
  background-color: $secondary;
  padding: 1.6rem 3rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  .hamburger {
    display: none;
  }
  .profile-wrapper {
    justify-content: right;
    display: flex;
    align-items: center;
    .name-wrapper {
      margin: 0 0 0 1rem;
    }
    .profile-picture{
      width: 3.2rem;
    }
  }

}

.sidenav-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100vh;
  background-color: $primary;
  width: 24rem;
  overflow: scroll;
  .header {
    padding: 2rem 3rem;
    border-bottom: 1px solid $black-2F2;
  }
  .content {
    margin: 1.2rem 0.6rem;
    .red-hat-display-medium {
      cursor: pointer;
      display: block;
      padding: 1.2rem 1.4rem;
      &:hover {
        color: $secondary;
      }
      .dropdown-icon {
        float: right;
        margin-top: 1rem;
      }
      .sidenav-icons {
        margin-right: 1rem;
      }
      &.active {
        background-color: $black-1A1;
      }
    }
    .sub-menu {
      .red-hat-display-medium {
        padding-left: 2.3rem;
        .dot {
          background-color: transparent;
          display: inline-block;
          visibility: hidden;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin: 0 2rem 0.2rem 0;
          &.active {
            background-color: $green-3BC;
          }
        }
        &:hover {
          color: $grey-AAA;
        }
        &.active-m {
          color: $secondary;
          &:hover {
            color: $secondary;
          }
          .dot {
            visibility: visible;
          }
        }
      }
    }
    .bottom {
      position: absolute;
      left: 0;
      right: 0;
      // bottom: 3rem;
      margin-top: 5rem;
      .red-hat-display-medium {
        // padding-left: 1.8rem;
        padding: 0.6rem 1.8rem;
        &:hover {
          color: $grey-AAA;
        }
        &.active {
          background-color: transparent;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger {
      width: 3rem;
      display: block;
    }
  }
  .sidenav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    width: auto;
    transform: translateX(-100%);
    transition: all 300ms;
    &.open {
      transform: translateX(0);
    }
    .header {
      display: flex;
      justify-content: space-between;
      .close-icon {
        filter: invert(1);
      }
    }
  }
}
