// page-header-begin
.page-header {
  display: flex;
  min-width: 85rem;
  max-width: 120rem;
  width: 120rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  // align-items: baseline;
  // flex-direction: column;
  nav {
    ol {
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0rem;
      margin-bottom: 2.4rem;
      filter: var(--invertColor);
      // .breadcrumb{
      // }
      .breadcrumb-item + .breadcrumb-item::before {
        content: url("../../images/icons/ChevronArrowRight.svg");
        position: relative;
        top: 0.1rem;
        padding-right: 1.4rem;
      }
      .breadcrumb-item {
        padding-left: 1.4rem;
        cursor: pointer;
        &:first-letter {
          text-transform: capitalize;
        }
        a {
          color: $grey-ADA;

          &:hover {
            color: $primary;

            img {
              filter: brightness(0.5);
            }
          }
        }
      }
      .active {
        color: $grey-636;
      }
      .breadcrumb-item:nth-child(1) {
        padding: 0rem;
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header-left {
      width: max-content;
      display: flex;
      align-items: center;
    }
    .show-img {
      padding: 1.8rem;
      background-color: $grey-E5E;
      border-radius: 1.6rem;
    }
    h4 {
      // color: $primary;
    }

    p {
      color: $grey-ADA;
    }

    .multiple-img {
      img {
        box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
          0px 10px 32px -4px rgba(24, 39, 75, 0.1);
        border-radius: 20px;
        width: 60px;
        height: 60px;
        position: relative;
      }
    }
    .pageHeaderShareContainer {
      padding: 1rem 1.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      .pageHeaderShareImg {
        width: 1.6rem;
        margin-right: 0.6rem;
      }
      .pageHeaderShareBtn {
        background: transparent;
        border: none;
        color: $grey-B0B;
        outline: none;
        box-shadow: none;
        padding: 0;
        .custom-control {
          .custom-control-label {
            &::before {
              background-color: #f2f2f2;
            }
            cursor: pointer;
          }
          .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $grey-B0B;
          }
        }

        &:hover {
          .custom-control {
            .custom-control-label {
              &::before {
                background-color: var(--gray);
              }
              cursor: pointer;
            }
          }
        }
      }

      &:hover {
        .pageHeaderShareBtn {
          color: var(--primaryTextColor);
          .custom-control {
            color: var(--primaryTextColor);
            .custom-control-label {
              color: var(--primaryTextColor);
              &::after {
                background-color: var(--primaryTextColor);
              }
              &::before {
                border-color: var(--primaryTextColor);
              }
            }
          }
        }
        .pageHeaderShareImg {
          filter: var(--hoverBrightnessValue);
        }
      }
    }
  }

  button {
    // padding: 1.3rem 2.6rem;
    // border:0.1rem solid $black-171;
    // line-height: 2.4rem;
    padding: 1.65rem 2.76rem;
    border: 0.1rem solid #171717;
    line-height: 1.9rem;
  }
  .primary-btn {
    &:hover:not([disabled]) {
      border-color: $secondary;
      box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
        0px 1rem 1rem rgba(0, 0, 0, 0.04);
      color: $black-191;
      background-color: $secondary;
    }
  }

  .secondary-btn {
    &.white-bg {
      // background-color: #FFFFFF;
      margin-right: 1.6rem;

      &:hover {
        background-color: $primary;
      }
    }
  }
  .view-more {
    cursor: pointer;
    @include font(#4a4b4d, "Inter-SemiBold", 1.6rem, 600, 19px);

    &:hover {
      color: $primary;
    }
  }
}
.history-header {
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 2.8rem;
}
// page-header-end
