.share-modal-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    .links{
        display: flex;
        justify-content: center;
        .linkInfo{
            margin:3.8rem 0;
            padding: 1.8rem 2rem;
            background-color: $secondary;
            border-radius: 0.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:44.5rem;
            height: 5.5rem;
            border: 1px solid $black-191;
            box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
            .link-text{
              width: 30rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
        }
        .link {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    .buttons-section{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .share-button{
            display: flex;
            padding-left: 1.8rem;
            justify-content: space-around;
        }
        img{
            margin-right: 1rem;
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        margin: 8.6rem 0 3.6rem 0 ;
    }
}