/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.4rem;
  height: 1.4rem;
  margin-top: 4px;
  margin-left: 4px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bfbfbf;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.34;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: -2px;
    bottom: -3px;
    background-color: #bfbfbf;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.64), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    opacity: 1;
    background-color: rgba(126, 211, 33, 0.5);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    background-color: $active;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.64), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  // TO OVERRIDE THE MAIN CHECKBOX STYLES.
  input:checked + span:after {
    content: none;
  }
  input + span {
    content: "";
    margin-left: 0;
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.38;
    border: 0;
    top: 0;
    left: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  }
  input:checked + span {
    background: #ccc;
    border-color: #ccc;
  }
}

// ADDITIONAL STYLES FOR SWITCH
.switch-wrapper {
  display: flex;
  align-items: center;
  span {
    @include font($primary, "RedHatDisplay-Bold", 1.2rem, bold, normal);
    background-color: grey;
    margin-left: 1.5rem;
    padding: 2px 5px;
    border-radius: 3px;
  }
  .active {
    background-color: $active;
  }
  .inactive {
    background-color: $inactive;
  }
}