.exit-overlay-modal.upgrade .modal-content {
    border-radius: 1.2rem;
    width:100%;
}




.upgrade-overlay-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 6rem;

    .pricing-plan{
   display: flex;
   justify-content: space-between;
   margin-bottom: 3rem;
   max-width: 90rem;
   width: 100%;

   .plan-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .primary-btn{

        &.disabled, .btn-primary:disabled {
    outline: none;
    box-shadow: none;
    border: 1px solid #19191A;
    background-color: #19191A;
    color:#fff;
}
    }
      .plan-card{
 
   
    border: 1px solid $grey-ADA;
    border-radius: 8px;
    color: $primary;
     width: 25rem;
     margin-bottom: 2.5rem;
    

    &.active{
box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75 ,0.12);
 border: 1px solid $primary;
    }

    .plan-name-wrapper{
         padding: 1.1rem;
        text-align: center;
         @include font($primary, "Inter-SemiBold", 1.5rem, 600, normal);
         border-bottom: 1px solid $grey-ADA;
         display: flex;
         justify-content: space-between;
         align-items: center;
    }

    .feature-list-wrapper{
         padding: 1.1rem;
         .feature-list{
         display: flex;
         align-items: center;
         justify-content: space-between;
        
        
             padding: 0.5rem 0rem;


         h3{
             @include font($grey-565, "Inter-Medium", 1.2rem, 500, normal);
             margin-right: 0.5rem;
         }
         h4{
             @include font($grey-565, "Inter-Medium", 1.2rem, 500, normal);
         }
    }
    }
   
   }
   }

 
}

     .footer {
                    display: flex;
                }
}



@media (min-width: 576px){
.exit-overlay-modal.upgrade 

{
    &.modal-lg, &.modal-xl {
    max-width: 700px;
}


&.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}}
.upgrade-overlay-body{
    .pricing-plan{
   .plan-card-wrapper{
      .plan-card{
 
    // width: 22rem;
 }}}}
}

@media (min-width: 992px){
.exit-overlay-modal.upgrade 

{
    &.modal-lg, &.modal-xl {
    max-width: 950px;
}


&.modal-dialog {
    max-width: 950px;
    margin: 1.75rem auto;
}
}

}