$primary: #0d0d0d;
$secondary: #ffffff; // USE AS BACKGROUND COLOR
$secondary-6: rgba(13, 13, 13, 0.1);
// LOCH COLOR
$grey-F2F: #f2f2f2;
$black-191: #19191a;
$grey-50: #e5e5e680;
$grey-B0B: #b0b1b3;
$grey-CAC: #cacbcc;
$grey-636: #636467;
$grey-7C7: #7c7d81;
$grey-D4D: #d4d4d4;
$grey-ADA: #adadad;
$grey-737: #737373;
$grey-5B5: #5b5b5b;
$grey-869: #86909c;
$grey-B4D: #4a4b4d;
$blue-268: #268aff;
$grey-969: #96979a;
$black-1D2: #1d2129;
$black-171: #171717;
$black-262: #262626;
$grey-313: #313233;
$grey-4F4: #4f4f4f;
$green-44F: #44f4aa;
$black-000: #000000;
$white-D9D: #d9d9d9;
$white-E5E: #e5e5e6;
$white-F0F: #f0f0f0;
$blue-E5F: #e5f2fe;
$yellow-FEF: #feffcd;
$purple-E3C: #e3cef9;
$yellow-F5E: #f5e889;
$yellow-FBF: #fbf6d0;
$pink-FCF: #fcf2f6;
$pink-DA2: #da2f58;
$red-FFE: #ffebec;
$blue-E1F: #e1f3ff;
$green-DEF: #deffed;
$grey-EFE: #efefef;
$green-E3F: #e3fff3;
$grey-E9E: #e9ecef;
$grey-D3D: #d3d3d3;
$blue-C6E: #c6e4ff;
$grey-233: #313233;
// DELETE WHICH ARE NOT NECESSARY
$black-2F2: #2f2f2f;
$black-1A1: #1a1a1a;
$black-404: #404040;
$black-2C2: #2c2c2c;
$red: #ea4e3c;
$red-B00: #b00020;

$light-green-background: #e2fbeb80;
$green-00A: #00ad65;

$grey-1: rgba(61, 79, 87, 1);
$grey-DDD: #dddddd;
$grey-F8F: #f8f8f8;
$grey-AAA: #aaaaaa;
$grey-999: #999999;
$grey-565: #565656;
$grey-B6B: #b6b6b6;
$grey-9E9: #9e9e9e;
$grey-868: #868686;
$grey-CFC: #cfcfcf;
$grey-F5F: #f5f5f5;
$grey-F6F: #f6f6f6;
$grey-E6E: #e6e6e6;
$grey-E7E: #e7e7e7;

$grey-757: #757575;
$grey-EBE: #ebebeb;
$grey-EAE: #eaeaea;
// $grey-D4D: #D4D4D4;
$grey-E5E: #e5e5e6;
$grey-555: #55575a;
$drop-button-hover: rgba(229, 229, 230, 0.5);
// $scrollBar-thumb  :#E5E5E6;
// $scrollBar-thumb  :#96979A;
$scrollBar-thumb: #cacbcc;

$green-3BC: #3bcd92;
$active: #5db85b;
$inactive: #d8544f;
$green-21D: #21d38f;
$blue-407: #407bff;
$green-40B: #40b69b;
$yellow-FCF: #fcf0cf;
$yellow-C09: #c0900c;
$yellow-2D4: #fcf2d4;
$yellow-E1A: #e1aa0e;
$green-CCF: #ccffe0;
$green-009: #00993b;
$red-FFC: #ffccd5;
$purple-F4E: #f4ecfd;
$purple-723: #7236b9;
$yellow-F4A: #f4ad60;
$mobile-breakpoint: "768px";
