.insights-section {
    display: flex;
    .insights-page {
      margin-top: 5rem;
    }
    .insights-image{
        img{
        width: 100%;
        }
    }
    .insights-feed{
      display: flex;
      flex-direction: column;
      margin: 2rem 0 0 -1rem;
      .img{
        width: 89.6rem;
        height: 8.7rem;
      }
    }
  }


  