.history-table-section {

    .fillter_tabs_section {
        display: flex;
        align-items: center;
        padding: 1.2rem;
        background-color: $secondary;
        border-radius: 1.2rem;
        margin-bottom: 2rem;
        justify-content: space-between;

        .dropdown {
            margin-right: 1.7rem;

            .btn-primary:not(:disabled):not(.disabled):active {
                background-color: $grey-F2F;
                border: none;
            }

            .dropdown-toggle {
                background-color: $grey-F2F;
                color: $black-191;
                padding: 1.2rem 6.2rem;
                border-radius: 0.8rem;
            }

            .dropdown-toggle::after {
                margin-left: 0.4rem;
            }
        }



        .searchBar {
            display: flex;
            background: $secondary;
            border: 0.1rem solid #D4D4D4;
            align-items: center;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.04);
            border-radius: 0.8rem;
            padding: 0.25rem;

            ::placeholder {
                color: $grey-B0B;
            }

            input {
                border: none;
                font-family: Inter-medium;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $grey-B0B;
            }

            input:focus {
                box-shadow: none;
            }
        }
    }

    .table-wrapper {
        background: $secondary;
        box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12), 0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        border-radius: 1.2rem;

        .custom-table {
            .ReactVirtualized__Table__row {
                border: none;
            }

            .ReactVirtualized__Table__headerRow {
                height: auto;
                // padding: 2.4rem;
                border-bottom: 0.1rem solid $grey-E5E;

                .ReactVirtualized__Table__headerColumn {
                    margin: 0rem;
                    text-align: center;

                    .ReactVirtualized__Table__headerTruncatedText {
                        white-space: normal;
                        overflow: visible;
                        line-height: 1.6rem;
                        color: $grey-4F4;
                        margin: 0rem;
                    }
                }
            }

            .ReactVirtualized__Table__Grid {
                border-radius: 1.2rem;

                .ReactVirtualized__Grid__innerScrollContainer {
                    .ReactVirtualized__Table__row {
                        border: none;

                        .ReactVirtualized__Table__rowColumn {
                            font-size: 1.3rem;
                            line-height: 1.6rem;
                            color: $grey-313;
                            text-align: center;
                            margin: 0rem;
                            .history-table-icon{
                                width:2.4rem;
                                height:2.4rem;
                            }
                            .history-table-coin-icon{
                                padding:0.4rem 0.8rem;
                                background-color: rgba(229, 229, 230, 0.5);
                                border:0.1rem solid $grey-CAC;
                                border-radius: 0.4rem;
                                img{
                                    margin-right: 0.6rem;
                                }
                            }
                            .history-table-method{
                                border:0.1rem solid $black-191;
                                padding: 0.4rem 0.8rem;
                                border-radius: 0.4rem;
                                background-color: $red-FFE;
                            }
                        }
                    }
                }
            }
        }



    }
}