.history-table-section {
  display: flex;

  .history-table {
    .ShowDust {
      text-align: left;
      margin-top: -42px;
      margin-bottom: 4rem;

      p {
        display: inline;
        color: var(--primarySubTextColor);
        &:hover {
          color: var(--primaryTextColor);
        }
      }
    }

    .fillter_tabs_section {
      min-width: 85rem;
      max-width: 120rem;
      width: 120rem;
      // display: flex;
      // align-items: center;
      padding: 1.2rem;
      background-color: var(--cardBackgroud);
      border-radius: 1.2rem;
      margin-bottom: 2rem;

      // justify-content: space-between;
      .row {
        margin: 0rem;
        .transactionHistoryCol {
          width: 16.67%;
          padding: 0;

          .search-input {
            box-shadow: none !important;
          }
          svg {
            right: 1rem !important;
          }
          .singleArrowClassName {
            right: 2rem;
          }
          .custom-dropdown {
            margin: 0rem 1rem 0rem 0rem;
            .placeholder {
              font-size: 1.2rem;
            }
          }
          .dropdown {
            margin: 0rem 1rem 0rem 0rem;
            .dropdown-toggle {
              font-size: 1.2rem;
              padding: 1.1rem 1.6rem;
            }
            .btn-primary:not(:disabled):not(.disabled):active {
              border: 0.1rem solid red;
              padding: 1.1rem 1.6rem;
            }
            .dropdown-menu {
              .dropdown-item {
                word-wrap: break-word;
              }
              &::-webkit-scrollbar {
                height: 0.4rem;
              }
            }
          }
        }
        .searchBar {
          .search-icon {
            height: 1.3rem;
            margin-left: 1rem;
          }
          .form-group {
            flex: 1;
            .search-input {
              font-size: 1.2rem;
              padding-left: 0.5rem;
              padding-right: 1rem !important;
              &::-ms-input-placeholder {
                font-size: 1.2rem;
              }

              &::placeholder {
                font-size: 1.2rem;
              }
            }
          }
          .is-valid {
            padding-right: 1rem !important;
          }
        }
        .col-md-3 {
          padding: 0rem;

          .form-group {
            margin: 0rem 1.7rem 0rem 0rem;

            .css-2b097c-container {
              .custom-select__control {
                // background-color: $grey-F2F;
                background-color: $drop-button-hover;
                color: $black-191;
                border-radius: 0.8rem;
                border: none;
                min-height: 4rem;
                // padding-left: 1rem;

                // width:24rem;
                .custom-select__value-container {
                  padding: 0rem;

                  .custom-select__placeholder {
                    @include font(
                      $black-191,
                      "Inter-Medium",
                      1.3rem,
                      500,
                      1.6rem
                    );
                    width: 100%;
                    text-align: center;
                  }

                  .custom-select__single-value {
                    text-align: center;
                    width: 100%;
                    @include font(
                      $black-191,
                      "Inter-Medium",
                      1.3rem,
                      500,
                      1.6rem
                    );
                  }
                }

                .custom-select__indicators {
                  .css-1okebmr-indicatorSeparator {
                    width: 0rem;
                    margin: 0rem;
                  }

                  .custom-select__indicator {
                    position: relative;

                    .css-tj5bde-Svg {
                      position: absolute;
                      top: -0.1rem;
                      right: 3rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .dropdown {
        margin-right: 1.7rem;

        .dropdown-menu {
          width: auto;
          padding: 0.4rem;

          .dropdown-item {
            padding: 0.8rem;
            @include font($grey-313, "Inter-Medium", 1.3rem, 500, 1.6rem);
          }
        }

        .btn-primary:not(:disabled):not(.disabled):active {
          background-color: $grey-F2F;
          border: none;
        }

        .dropdown-toggle {
          background-color: $grey-F2F;
          color: $black-191;
          padding: 1.2rem 6.2rem;
          border-radius: 0.8rem;
          width: 100%;
        }

        .dropdown-toggle::after {
          margin-left: 0.4rem;
        }
      }

      // time filter
      .cohort-dropdown {
        text-align: left !important;
        margin-top: 0rem;

        .dropdown-menu {
          width: 100%;
          padding: 0.4rem;
          height: 14rem;
          overflow-y: scroll;
          background-color: var(--cardBackgroud);
          border-color: var(--cardBorder);
          .dropdown-item {
            padding: 0.8rem;
            position: relative;
            @include font($grey-313, "Inter-Medium", 1.3rem, 500, 1.6rem);
            color: var(--primaryTextColor);
          }
        }

        .btn-primary:not(:disabled):not(.disabled):active {
          background-color: var(--primaryFilter);
          border: 0.1rem solid transparent !important;
          color: var(--primaryTextColor);
          padding: 1.2rem 1.6rem;
          border-radius: 0.8rem;
        }

        .btn-primary.dropdown-toggle {
          background-color: var(--primaryFilter);
          border: 0.1rem solid transparent !important;
          color: var(--primaryTextColor);
          padding: 1.2rem 1.6rem;
          border-radius: 0.8rem;

          &:hover {
            border: 0.1rem solid var(--primaryTextColor) !important;
          }
        }

        .btn-primary.dropdown-toggle:focus {
          box-shadow: none;
          background-color: var(--primaryFilter);
          border: 0.1rem solid var(--primaryTextColor) !important;
          color: var(--primaryTextColor);
        }

        .dropdown-toggle {
          background-color: var(--primaryFilter);
          color: var(--primaryTextColor);
          padding: 1.2rem 1.6rem;
          border-radius: 0.8rem;
        }

        .dropdown-toggle::after {
          margin-left: 0.6rem;
          display: inline-block;
          vertical-align: 0.255em;
          content: "";
          border-top: 0.35em solid;
          border-right: 0.35em solid transparent;
          border-bottom: 0;
          border-left: 0.35em solid transparent;
          display: none;
        }
      }

      .searchBar {
        display: flex;
        background-color: var(--cardBackgroud);
        border: 0.1rem solid var(--cardBorder);
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
        border-radius: 0.8rem;

        // padding: 0.7rem;
        &:hover {
          border: 0.1rem solid var(--primaryTextColor);
        }

        .search-icon {
          margin-left: 1.2rem;
        }

        ::placeholder {
          // color: $grey-B0B;
          @include font($grey-B0B, "Inter-Medium", 1.6rem, 500, 1.9rem);
        }

        .form-group {
          margin: 0;
          .form-control {
            min-height: 3.8rem;
          }

          .search-input {
            border: none;
            outline: none;
            @include font($black-191, "Inter-Medium", 1.6rem, 500, 1.9rem);
            width: 100%;
            background-color: var(--cardBackgroud);
            color: var(--primaryTextColor);
          }

          // input:focus {
          //     box-shadow: none;
          // }
        }

        &.top-account-search {
          .form-group {
            margin: 0rem;
          }
        }
      }
    }

    .transaction-table-section {
      margin-bottom: 6rem;
      position: relative;
      .table-wrapper {
        background: var(--cardBackgroud);
        box-shadow: 0px 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
          0px 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
        border-radius: 1.2rem;

        .pagination-wrapper {
          display: flex;
          align-items: center;

          h5 {
            margin: 0 1.2rem;
          }
        }
        .custom-table {
          .ReactVirtualized__Table__headerRow {
            padding-left: 0rem;
          }

          .ReactVirtualized__Table__Grid {
            padding-left: 0rem;

            .ReactVirtualized__Grid__innerScrollContainer {
              .ReactVirtualized__Table__row {
                .ReactVirtualized__Table__rowColumn {
                  padding: 0rem 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// loading data animation css for transaction table and transaction-history-table
.transaction-table-loading-wrapper {
  .animation-wrapper {
    border-radius: 1.2rem;
    height: 42rem;
    //   background-image: url("../../images/transactionTableImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .loading-animation {
    backdrop-filter: blur(1rem);
    border-radius: 1.2rem;
    height: 100%;
  }
}
.transaction-table-loading-wrapper-smaller {
  height: 35rem;
  .animation-wrapper {
    height: 100%;
  }
  .loading-animation {
    padding-bottom: 0;
  }
}
.transaction-history-table {
  min-width: 85rem;
  max-width: 120rem;
  width: 120rem;
  min-height: 40rem !important;
  .loadingSizeContainer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animation-wrapper {
    // background-image: url("../../images/transactionHistorytableLoading.png");
    background-size: 100% 100%;
    height: 68rem;
  }
}
.transaction-history-table-wide {
  max-width: unset;
  width: 100%;
}

.transaction-table-section {
  position: relative;
  .not-found-mini-wrapper-floating {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .table-wrapper {
    // flex: 1;
    .not-found-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45rem;
    }
    .not-found-mini-wrapper {
      height: 42rem;
      padding: 5rem;
    }
  }
}

.combine-search-prefix-icon {
  .searchBar {
    display: flex;
    background-color: var(--cardBackgroud);
    border: 0.1rem solid var(--cardBorder);
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
      0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.8rem;

    // padding: 0.7rem;
    &:hover {
      border: 0.1rem solid #8e8e8e;
    }

    .search-icon {
      margin-left: 1.2rem;
    }

    ::placeholder {
      // color: $grey-B0B;
      @include font($grey-B0B, "Inter-Medium", 1.6rem, 500, 1.9rem);
    }

    .form-group {
      margin: 0;
      .form-control {
        min-height: 3.8rem;
      }

      .search-input {
        border: none;
        outline: none;
        @include font($black-191, "Inter-Medium", 1.6rem, 500, 1.9rem);
        width: 100%;
      }

      // input:focus {
      //     box-shadow: none;
      // }
    }

    &.top-account-search {
      .form-group {
        margin: 0rem;
      }
    }
  }
}
