.watchListUnderlineText {
  text-decoration: underline;
}
.form-groupContainer {
  width: 100%;
  .form-group {
    width: 100%;
  }
}

.watchListSearchInput {
  box-shadow: var(--inputShadow) !important;
  -webkit-box-shadow: var(--inputShadow) inset !important;
}

.watchListTableContainer {
  min-height: unset !important;
  .no-hover {
    cursor: default;
  }
  .ReactVirtualized__Table__headerColumn {
    padding: 0 3rem !important;
    .ReactVirtualized__Table__headerTruncatedText {
      width: 100%;
      .goToCenter {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .goToRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
  .ReactVirtualized__Table__rowColumn {
    padding: 0 3rem !important;
    .watchListDeleteContainer {
      cursor: pointer;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      .watchListDelete {
        &:hover {
          filter: var(--hoverBrightnessValue);
        }
      }
    }
  }
}

.addWatchListWrapperParent {
  .addWatchListWrapperContainer {
    width: 100%;
    padding: 0rem 5rem;
    .addWalletWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      .awOldDelBtn {
        border-radius: 0.8rem;
        width: 4rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
        cursor: pointer;
        margin-right: 2rem;
        margin-left: 1rem;
        &:hover {
          filter: brightness(0.965);
        }
      }
      .fakeBtn {
        opacity: 0;
        cursor: default;
      }
      .awInputWrapper {
        border: 0.1rem solid var(--inputBorder);
        border-radius: 0.8rem;
        padding: 1rem;
        width: 100%;
        background-color: var(--modalInput);
        &:hover {
          border-color: var(--inputBorderHover);
        }
        .awLable {
          color: #b0b1b3;
          font-size: 1.2rem;
        }
        .awInputContainer {
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .awInput {
            border: none;
            width: 100%;
            padding: 0;
            font-size: 1.5rem;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #b0b1b3;
            }
          }
        }
        .awInputBinIcon {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 0.5rem;
          // transition-duration: 300ms;
          &:hover {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
              0px 1px 1px rgba(0, 0, 0, 0.04);
          }
        }
        .awBlockContainer {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          color: #b0b1b3;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .awNameTag {
            font-size: 1.5rem;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
          }
        }
        .awTopInputWrapper {
          display: flex;
          align-items: center;
        }
        .awBottomInputWrapper {
          display: flex;
          align-items: center;
          overflow: hidden;
        }
      }
      .isAwInputWrapperValid {
        border-color: var(--black191);
      }
    }
  }
  .watchListAddressBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    .go-btn {
      background-color: var(--modalPrimaryCTA) !important;
      border-color: var(--modalPrimaryCTABorder) !important;
      color: var(--modalPrimaryCTAColor) !important;
      &:hover {
        border-color: var(--modalPrimaryCTAHover) !important;
        box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
          0px 1rem 1rem rgba(0, 0, 0, 0.04) !important;
        color: var(--modalPrimaryCTAHoverText) !important;
        background-color: var(--modalPrimaryCTAHover) !important;
      }
      &:disabled {
        background-color: var(--modalPrimaryCTA) !important;
        border-color: var(--modalPrimaryCTABorder) !important;
        color: var(--modalPrimaryCTAColor) !important;
        opacity: 0.5;
      }
    }
    .secondary-btn {
      background-color: var(--modalSecondaryCTA) !important;
      border-color: var(--modalPrimaryCTABorder) !important;
      color: var(--primaryTextColor) !important;
      &:hover {
        border-color: var(--modalPrimaryCTAHover) !important;
        box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.04),
          0px 1rem 1rem rgba(0, 0, 0, 0.04) !important;
        color: var(--modalSecondaryCTATextHoverColor) !important;
        background-color: var(--modalSecondaryCTAHover) !important;
      }
    }
  }
}
.addWatchListWrapperAdded {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--cardBackgroud);
  border-radius: 1.2rem;
  .addWatchListAddedHeader {
    width: 100%;
    z-index: 2;
  }
  .addWatchListAddedBody {
    z-index: 1;
    flex: 1;
    display: flex;
    .addWatchListAddedBodyContent {
      padding: 4rem 2.8rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .addWatchListAddedBodyIcon {
        height: 5rem;
        filter: var(--invertColor);
      }
    }
  }
}
