.watchListUnderlineText {
  text-decoration: underline;
}
.form-groupContainer {
  width: 100%;
  .form-group {
    width: 100%;
  }
}
.addCommunityTopBar {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  background-color: #ebecec;
  .addCommunityTopBarImage {
    height: 9rem;
  }
  .addCommunityTopBarText {
    flex: 1;
    padding-left: 2rem;
  }
  .addCommunityTopBarInputTab {
    flex: 2;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    .addCommunityTopAccountsWrapperContainer {
      padding: 0 2rem;
      .addWalletWrapper {
        margin: 0;
        .awInputWrapper {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
            0px 1px 1px rgba(0, 0, 0, 0.04);
        }
      }
    }
    .customChanges {
      border-color: white;
      background-color: white;
      padding: 1rem 3.5rem;
      margin: 0 !important;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      &:hover {
        background-color: black;
        border-color: black;
        color: white;
      }
    }
  }
}
.topAccountLeaderBoardBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    transparent,
    white,
    white,
    white,
    white,
    transparent
  );
  .topAccountLeaderBoardBlurLogo {
    height: 4rem;
  }
}
.topAccountsLochCommunityContainer {
  display: flex;
  align-items: center;
  .topAccountsLochCommunity {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 2rem;
    color: #b0b1b3;
    font-weight: 600;
    border-bottom: 0.25rem solid #b0b1b3;
    cursor: pointer;
    transition-duration: 300ms;

    &:hover {
      filter: brightness(75%);
    }
    .topAccountsLochCommunityImage {
      margin-right: 0.8rem;
      height: 18px;
    }
  }
  .topAccountsLochCommunitySelected {
    color: #19191a;
    border-color: #19191a;
    &:hover {
      color: #19191a;
      filter: brightness(100%);
    }
  }
}
.watchListTableContainer {
  .no-hover {
    cursor: default;
  }
  .ReactVirtualized__Table__headerColumn {
    padding: 0 3rem !important;
    .ReactVirtualized__Table__headerTruncatedText {
      width: 100%;
      .goToCenter {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .goToRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
  .ReactVirtualized__Table__rowColumn {
    padding: 0 3rem !important;
  }
}

.addCommunityTopAccountsWrapperParent {
  .addCommunityTopAccountsWrapperContainer {
    width: 100%;
    padding: 0rem 5rem;
    .addWalletWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      .awOldDelBtn {
        border-radius: 0.8rem;
        width: 4rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
          0px 1px 1px rgba(0, 0, 0, 0.04);
        cursor: pointer;
        margin-right: 2rem;
        margin-left: 1rem;
        &:hover {
          filter: brightness(0.965);
        }
      }
      .fakeBtn {
        opacity: 0;
        cursor: default;
      }
      .awInputWrapper {
        border: 0.1rem solid #d4d4d4;
        border-radius: 0.8rem;
        padding: 1rem;
        width: 100%;

        .awLable {
          color: #b0b1b3;
          font-size: 1.2rem;
        }
        .awInputContainer {
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .awInput {
            border: none;
            width: 100%;
            padding: 0;
            font-size: 1.5rem;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #b0b1b3;
            }
          }
        }
        .awInputBinIcon {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition-duration: 300ms;
          &:hover {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04),
              0px 1px 1px rgba(0, 0, 0, 0.04);
          }
        }
        .awBlockContainer {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          color: #b0b1b3;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .awNameTag {
            font-size: 1.5rem;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
          }
        }
        .awTopInputWrapper {
          display: flex;
          align-items: center;
        }
        .awBottomInputWrapper {
          display: flex;
          align-items: center;
          overflow: hidden;
        }
      }
      .isAwInputWrapperValid {
        border-color: #19191a;
      }
    }
  }
  .watchListAddressBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    padding-top: 4.5rem;
  }
}
.addCommunityTopAccountsWrapperAdded {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.2rem;
  .addCommunityTopAccountsAddedHeader {
    width: 100%;
    z-index: 2;
  }
  .addCommunityTopAccountsAddedBody {
    z-index: 1;
    flex: 1;
    display: flex;
    .addCommunityTopAccountsAddedBodyContent {
      padding: 4rem 2rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .addCommunityTopAccountsAddedBodyContentChild {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .addCommunityTopAccountsAddedBodyIcon {
        height: 3.5rem;
      }
      .addCommunityTopAccountsAddedBodyLargerIcon {
        height: 7rem;
      }
    }
  }
}
