.copy-trade-welcome-page-container {
  overflow: hidden;
  .copy-trade-welcome-button {
    font-size: 16px;
    background-color: var(--blockOneBtnBackground);
    color: white;
    font-weight: 600;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .copy-trade-welcome-page {
    .ctwp-block {
      height: 60rem;
      display: flex;
      align-items: flex-end;
      min-width: 85rem;
      position: relative;
    }
    .ctwp-block-one {
      z-index: 1;
      .ctwpbo-circular-gradient {
        z-index: 0;
        // background-color: red;
        width: 60%;
        height: 40%;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        filter: blur(90px);
        transform: translateX(-50%) translateY(60%);
      }
      .ctwpbo-circular-gradient1 {
        background: linear-gradient(
          90deg,
          #7b44da 0%,
          #6e19ff 11%,
          #7de5c6 30%,
          #7c97d4 40.5%,
          #be99fd 61%,
          #976edd 80.5%,
          #7738e4 90.5%
        );
      }
      .ctwpbo-circular-gradient2 {
        background: linear-gradient(
          90deg,
          #7738e4 9.5%,
          #976edd 19.5%,
          #be99fd 39%,
          #6e19ff 50%,
          #7c97d4 59.5%,
          #c2ffed 80.5%,
          #7b44da 100%
        );
      }
      .ctwpbo-circular-gradient3 {
        background: linear-gradient(
          90deg,
          #7b44da 0%,
          #6e19ff 11%,
          #ac96c8 30%,
          #7c97d4 40.5%,
          #be99fd 61%,
          #976edd 80.5%,
          #7738e4 90.5%
        );
      }

      .ctwpbo-left {
        z-index: 1;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0rem;
        padding-left: 10rem;
        padding-right: 5rem;
        justify-content: center;
        flex-direction: column;
        .ctwpbol-header {
          font-size: 32px;
          line-height: 100%;
          font-weight: 500;
          background: -webkit-linear-gradient(
            var(--blockOneHeaderGradSecondary),
            var(--blockOneHeaderGradMain),
            var(--blockOneHeaderGradMain),
            var(--blockOneHeaderGradSecondary)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .ctwpbol-desc {
          font-size: 16px;
          color: var(--blockOneDesc);
          font-weight: 600;
          margin: 1.25rem 0rem;
        }
      }
      .ctwpbo-right {
        z-index: 1;
        width: 50%;
        .ctwpbor-greek-man {
          height: 47rem;
        }
      }
    }
    .ctwp-block-two {
      z-index: 2;
      background-color: var(--primaryBackgroud);

      .ctwpbtwo-left {
        z-index: 1;
        width: 50%;
        display: flex;
        align-items: flex-start;
        .ctwpbtwor-greek-man {
          height: 47rem;
        }
        .ctwpbtwor-greek-man-shadow-container {
          height: 47rem;
          //   background-color: red;
          transform: rotateY(180deg);
          margin-left: -7.5rem;
          .ctwpbtwor-greek-man-shadow-gradient {
            background: linear-gradient(
              90deg,
              var(--primaryBackgroud),
              transparent
            );
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
          }
          .ctwpbtwor-greek-man-shadow {
            z-index: 1;
            opacity: 0.4;
            background: linear-gradient(
              to right,
              var(--primaryBackgroud),
              tranparent
            );
          }
        }
      }
      .ctwpbtwo-right {
        z-index: 1;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 5rem;
        .ctwpbtwor-desc {
          font-size: 13px;
          letter-spacing: 4px;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .ctwpbtwor-title {
          font-size: 24px;
          color: var(--primaryTextColor);
          line-height: 120%;
          text-align: right;
        }
      }
    }
    .ctwp-block-three {
      background: linear-gradient(180deg, #7b44da, #7b44da, #986de2, #986de2);
      .ctwpbo-left {
        color: var(--cardBackgroud);
        .ctwpbothird-header {
          font-size: 24px;
          line-height: 120%;
        }
        .ctwpbothird-desc {
          font-size: 13px;
          letter-spacing: 4px;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
      }
    }
    .ctwp-block-four {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      height: unset;
      padding-bottom: 4rem;
      .ctwpbf-loch {
        height: 25rem;
      }
      .ctwpbf-content {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .ctwpbofour-header {
          font-size: 28px;
          color: var(--blockFourHeader);
        }
        .ctwpbofour-desc {
          font-size: 16px;
          color: var(--blockOneDesc);
          font-weight: 600;
          margin: 1.25rem 0rem;
        }
      }
    }
    .ctwp-block-five {
      display: flex;
      align-items: center;
      justify-content: end;
      height: 45rem;
      .ctwpbofive-image {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .ctwpbfive-loch {
          height: 80%;
        }
      }
      .ctwpbofive-content-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .ctwpbofive-content {
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .ctwpbofive-header {
            font-family: "Merriweather", serif;
            font-weight: 300;
            font-style: normal;
            color: var(--blockFiveHeader);
            font-size: 16px;
          }
        }
      }
    }
  }
}
