.sbc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: var(--cardBackgroud);
  // padding: 12px;
  border-radius: 12px;
  // border: 0.5px solid var(--strategyBuilderBorder);
  // box-shadow: var(--boxShadowMd);
  width: 100%;
  gap: 10px;
  .sbc-main-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    background-color: var(--cardBackgroud);
    padding: 10px 12px;
    border-radius: 8px;
    flex: 1;
    cursor: pointer;
    color: var(--primaryTextColor);
    text-shadow: 0.1px 0 var(--primaryTextColor);
    border: 0.5px solid var(--strategyBuilderBorder);
    box-shadow: var(--boxShadowMd);
    .sbc-main-blocks-image-container {
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: 1px solid #0000001a;
      .sbc-main-blocks-image {
        width: 15px;
        height: 15px;
      }
    }

    &:active {
      background-color: var(--primaryTextColor);
      color: var(--cardBackgroud);
    }
  }
  .sbc-main-blocks-asset {
    .sbc-main-blocks-image-container {
      background-color: var(--strategyBuilderLighterBlue);
    }
    &:hover {
      background-color: var(--strategyBuilderLightBlueHover);
    }
    &:active {
      background-color: var(--primaryTextColor);
      color: var(--cardBackgroud);
    }
  }
  .sbc-main-blocks-weight {
    .sbc-main-blocks-image-container {
      background-color: var(--strategyBuilderLighterPurple);
    }
    &:hover {
      background-color: var(--strategyBuilderLightPurpleHover);
    }
    &:active {
      background-color: var(--primaryTextColor);
      color: var(--cardBackgroud);
    }
  }
  .sbc-main-blocks-condition {
    .sbc-main-blocks-image-container {
      background-color: var(--strategyBuilderLighterYellow);
    }
    &:hover {
      background-color: var(--strategyBuilderLightYellowHover);
    }
    &:active {
      background-color: var(--primaryTextColor);
      color: var(--cardBackgroud);
    }
  }
  .sbc-main-blocks-sort {
    .sbc-main-blocks-image-container {
      background-color: var(--strategyBuilderLightGreen);
    }
    &:hover {
      background-color: var(--strategyBuilderLightGreenHover);
    }
    &:active {
      background-color: var(--primaryTextColor);
      color: var(--cardBackgroud);
    }
  }
}
