.nft-page{


min-width: 120rem;
.rightSmartMoneyContainer {
    flex: 1;
    padding: 0rem;
    margin-right: 1rem;
    .rightSmartMoneyContainerHeadingParent {
      display: flex;
      align-items: center;
      .rscHowItWorks {
        color: #adadad;
        font-size: 1.3rem;
        margin-left: 1rem;
        transition-duration: 300ms;
        cursor: pointer;
        &:hover {
          color: #0d0d0d;
        }
      }
      .rightSmartMoneyContainerHeading {
        color: #0d0d0d;
        font-size: 2rem;
        overflow: hidden;
        white-space: nowrap;
      }
      .rightSmartMoneyContainerHeadingSmartMoney {
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
          filter: opacity(0.65);
        }
      }
    }
    .rightSmartMoneyContainerSubHeading {
      color: #adadad;
      font-size: 1.3rem;
    }
  }
  }

.nft-page-mobile{
  .mobileSmartMoneyBtnsContainer {
    margin-top: 11rem;
    padding: 0rem 2rem;
    .mobileSmartMoneyBtnSignInContainer {
      color: #313233;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      transition-duration: 300ms;
      border: 1.3px #f2f2f2 solid;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      background-color: white;
      .mobileSmartMoneyBtnSignInDataName {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
      }
      .mobileSmartMoneyBtnSignInJustText {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        color: #19191a;
        font-weight: 500;
      }

      .mobileSmartMoneyBtnSignInIconContainer {
        transition-duration: 300ms;
        margin-right: 0.5rem;
        border: 0.1rem solid #e5e5e6;
        min-width: 2.5rem;
        min-height: 2.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        background-color: white;
        .mobileSmartMoneyBtnSignInIcon {
          height: 1.3rem;
        }
      }
      .mobileSmartMoneyBtnSignInIconNoColor {
        background-color: transparent;
        border-color: transparent;
        min-width: 1.3rem;
        max-height: 1.3rem;
      }
    }
    .mobileSmartMoneyBtnFaqContainer {
      background-color: #e5e5e6;
      border-color: #e5e5e6;
      box-shadow: none;
      flex: 1;
    }
    .mobileSmartMoneyBtnShareContainer {
      background-color: #e5e5e6;
      border-color: #e5e5e6;
      box-shadow: none;
    }
    .mobileSmartMoneyBtnSignInBottomBtns {
      margin-top: 1.5rem;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  }
  .mobileSmartMoneyListContainer {
    padding: 2rem;
    .mobileSmartMoneyListBlurContainer {
      position: relative;
      min-height: 50vh;
      max-height: 50vh;
      .mobileSmartMoneyListBlur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.2rem;
        padding: 2rem;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(
          transparent,
          transparent,
          white,
          white,
          white,
          white,
          white,
          white
        );
        .mobileSmartMoneyBlurContainerTwo {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          .mobileSmartMoneyBlur {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;
            flex: 1;
          }
          .mobileSmartMoneyBlurLogo {
            height: 4rem;
            margin-right: 2rem;
          }
          .secondary-btn {
            overflow: hidden;
            white-space: nowrap;
          }
          .secondary-btn.btn-primary:not(:disabled):not(:disabled):active,
          .secondary-btn:active,
          .secondary-btn:hover {
            background-color: transparent !important;
            color: #19191a;
          }
        }
      }
    }
    .mobileSmartMoneyBlock {
      background-color: white;
      margin-bottom: 1.5rem;
      border-radius: 1.2rem;
      box-shadow: 0 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
        0 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
      .msmbHeader {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid #e5e5e6;
        .msmbHeaderLeft {
          display: flex;
          align-items: center;
          flex: 1;
          overflow: hidden;

          .msmbHeaderRank {
            color: #cacbcc;
            font-size: 16px;
            margin-right: 0.5rem;
          }
          .msmbHeaderNickName {
            color: #313233;
            margin-right: 0.5rem;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .msmbHeaderAccount {
            color: #b0b1b3;
            text-decoration: underline;
            font-size: 10px;
          }
        }
        .msmbHeaderRight {
          margin-left: 2rem;
          .msmbHeaderNetWorth {
            background-color: hsla(240, 2%, 90%, 0.5);
            border-radius: 0.4rem;
            padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            color: #313233;
          }
        }
      }
      .msmbBody {
        padding: 1rem;

        padding-bottom: 0.4rem;
        padding-top: 0.5rem;
        .msmbBodyItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0.3rem;
          min-height: 3.5rem;
          .msmbBITitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #96979a;
            font-size: 13px;
          }
          .msmbBIAmount {
            border-radius: 0.4rem;
            // padding: 0.6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            box-sizing: border-box;
            overflow: hidden;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
          }
          .msmbBIAmountGain {
            background-color: rgba(208, 252, 234, 0.5);
          }
          .msmbBIAmountLoss {
            background-color: hsla(0, 77%, 92%, 0.5);
          }
        }
      }
    }
  }
  .smartMoneyMobileHeaderContainer {
    background-color: #fff;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.04),
      6px 1px 1px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    height: 9rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .smheader {
      width: 100%;
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      .smheaderLogo {
        height: 3.5rem;
      }
      .smheaderText {
        margin-left: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .smheaderTextHeading {
          font-size: 18px;
          color: #19191a;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .smheaderTextSubHeading {
          font-size: 14px;
          color: #b0b1b3;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
  .mobileSmartMoneyBlock {
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 1.2rem;
    box-shadow: 0 3.15493px 4.73239px -3.15493px rgba(24, 39, 75, 0.12),
      0 6.30986px 6.30986px -3.15493px rgba(24, 39, 75, 0.08);
    .msmbHeader {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.1rem solid #e5e5e6;
      .msmbHeaderLeft {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;

        .msmbHeaderRank {
          color: #cacbcc;
          font-size: 16px;
          margin-right: 0.5rem;
        }
        .msmbHeaderNickName {
          color: #313233;
          margin-right: 0.5rem;
          font-size: 16px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .msmbHeaderAccount {
          color: #b0b1b3;
          text-decoration: underline;
          font-size: 10px;
        }
      }
      .msmbHeaderRight {
        margin-left: 2rem;
        .msmbHeaderNetWorth {
          background-color: hsla(240, 2%, 90%, 0.5);
          border-radius: 0.4rem;
          padding: 0.6rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 13px;
          color: #313233;
        }
      }
    }
    .msmbBody {
      padding: 1rem;

      padding-bottom: 0.4rem;
      padding-top: 0.5rem;
      .msmbBodyItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 0.3rem;
        min-height: 3.5rem;
        .msmbBITitle {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #96979a;
          font-size: 13px;
        }
        .msmbBIAmount {
          border-radius: 0.4rem;
          // padding: 0.6rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 13px;
          box-sizing: border-box;
          overflow: hidden;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
        }
        .msmbBIAmountGain {
          background-color: rgba(208, 252, 234, 0.5);
        }
        .msmbBIAmountLoss {
          background-color: hsla(0, 77%, 92%, 0.5);
        }
      }
    }
  }
}